Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Interfaces improvements
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
Due: ci-integrations-pipeline

Update private fields to be public, change some abstract classes to interfaces
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
Due: ci-integrations-pipeline

Minor improvement to interface diagram
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
Due: ci-integrations-pipeline

Naming improvement
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
Due: ci-integrations-pipeline

Improve 'making things work' section
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_destination_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

More interfaces improvements
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
Due: ci-integrations-pipeline

Update config validator design
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Remove redundant classes from the interfaces diagram
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
Due: ci-integrations-pipeline

Fix spelling and grammar
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Improve example
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Improve sequence diagram
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

[WIP] update config validator class diagram
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
Due: ci-integrations-pipeline

Improve interfaces diagram
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
Due: ci-integrations-pipeline

Add subpackage, minor fixes
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
Due: ci-integrations-pipeline

Minor fixes
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_destination_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Fix relations on diagrams
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_destination_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
Due: ci-integrations-pipeline

Fix typo
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Extend example diagram
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_destination_class_diagram.puml
Due: ci-integrations-pipeline

Fix abstract class
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_destination_class_diagram.puml
Due: ci-integrations-pipeline

Fix naming
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_destination_class_diagram.puml
Due: ci-integrations-pipeline

Change links to master
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

docs: Update CI Integrations Config Validator design (#1065)
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_destination_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

dummy jobs
  .buildkite/compose-files/docker-compose.yml
  .buildkite/pipelines/ci_integrations_pipeline.yml
  .buildkite/pipelines/coverage_converter_pipeline.yml
  .buildkite/pipelines/dummy_pipeline.yml
  .buildkite/pipelines/metrics_web_pipeline.yml
  .buildkite/pipelines/monorepo_pipeline.yml
  .buildkite/pipelines/sync_pipeline.yml
  .jenkins/jobs/ci_integrations.groovy
  .jenkins/jobs/coverage_converter.groovy
  .jenkins/jobs/dummy.groovy
  .jenkins/jobs/web.groovy
  .jenkins/pipelines/ci_integrations.groovy
  .jenkins/pipelines/coverage_converter.groovy
  .jenkins/pipelines/dummy.groovy
  .jenkins/pipelines/monorepo.groovy
  .jenkins/pipelines/sync.groovy
  .jenkins/pipelines/web.groovy
Due: none

cr fixes
  .buildkite/pipelines/dummy_pipeline.yml
  .buildkite/pipelines/sync_pipeline.yml
  .jenkins/pipelines/dummy.groovy
  .jenkins/pipelines/sync.groovy
  scripts/random_sleep/random_sleep.sh
Due: none

fixed path
  .buildkite/pipelines/dummy_pipeline.yml
Due: none

random script updated
  scripts/random_sleep/random_sleep.sh
Due: none

feat: replace pipelines with dummy ones (#1070)
  .buildkite/compose-files/docker-compose.yml
  .buildkite/pipelines/ci_integrations_pipeline.yml
  .buildkite/pipelines/coverage_converter_pipeline.yml
  .buildkite/pipelines/dummy_pipeline.yml
  .buildkite/pipelines/metrics_web_pipeline.yml
  .buildkite/pipelines/monorepo_pipeline.yml
  .buildkite/pipelines/sync_pipeline.yml
  .jenkins/jobs/ci_integrations.groovy
  .jenkins/jobs/coverage_converter.groovy
  .jenkins/jobs/dummy.groovy
  .jenkins/jobs/web.groovy
  .jenkins/pipelines/ci_integrations.groovy
  .jenkins/pipelines/coverage_converter.groovy
  .jenkins/pipelines/dummy.groovy
  .jenkins/pipelines/monorepo.groovy
  .jenkins/pipelines/sync.groovy
  .jenkins/pipelines/web.groovy
  scripts/random_sleep/random_sleep.sh
Due: none

Add destination error, fix firestore adapter and tests
  metrics/ci_integrations/lib/destination/error/destination_error.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/test/destination/error/destination_error_test.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
Due: ci-integrations-pipeline

Add check that a project exists in sync command
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
Due: ci-integrations-pipeline

Review suggestions
  metrics/ci_integrations/lib/destination/error/destination_error.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
Due: ci-integrations-pipeline

feat: CI integrations sync - check project exists (#1073)
  metrics/ci_integrations/lib/destination/error/destination_error.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/test/destination/error/destination_error_test.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
Due: ci-integrations-pipeline

Implement new bar chart design
  metrics/web/lib/common/presentation/metrics_theme/config/dimensions_config.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_row.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy.dart
  metrics/web/test/dashboard/presentation/widgets/metrics_table_row_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy_test.dart
Due: metrics-web-pipeline

Review suggestions
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
Due: metrics-web-pipeline

feat: Implement a new bar chart design (#1085)
  metrics/web/lib/common/presentation/metrics_theme/config/dimensions_config.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_row.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy.dart
  metrics/web/test/dashboard/presentation/widgets/metrics_table_row_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy_test.dart
Due: metrics-web-pipeline

Improve presentation layer design
  metrics/web/docs/features/database_metadata/01_database_metadata.md
  metrics/web/docs/features/database_metadata/diagrams/metadata_presentation_class_diagram.puml
Due: metrics-web-pipeline

Update diagram links and add section summaries
  metrics/web/docs/features/supported_database_version/01_supported_database_version.md
Due: metrics-web-pipeline

Improve `Making things work` section
  metrics/web/docs/features/database_metadata/01_database_metadata.md
  metrics/web/docs/features/database_metadata/diagrams/database_finished_updating_sequence_diagram.puml
  metrics/web/docs/features/database_metadata/diagrams/metadata_data_class_diagram.puml
  metrics/web/docs/features/database_metadata/diagrams/metadata_domain_class_diagram.puml
  metrics/web/docs/features/database_metadata/diagrams/metadata_presentation_class_diagram.puml
Due: metrics-web-pipeline

Minor improvements
  metrics/docs/01_storing_database_metadata.md
  metrics/web/docs/features/database_metadata/01_database_metadata.md
  metrics/web/docs/features/database_metadata/diagrams/metadata_data_class_diagram.puml
Due: metrics-web-pipeline
