Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

feat: Implement UpdateAlgorithm class (#1482)
  metrics/cli/lib/cli/deployer/deployer.dart
  metrics/cli/lib/cli/updater/algorithm/update_algorithm.dart
  metrics/cli/lib/common/constants/deploy_constants.dart
  metrics/cli/test/cli/deployer/deployer_test.dart
  metrics/cli/test/cli/updater/algorithm/update_algorithm_test.dart
Due: none

[WIP] Public dashboard design
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_architecture_class.puml
  metrics/web/docs/features/public_dashboard/images/menu.png
Due: metrics-web-pipeline

Add diagram link
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
Due: metrics-web-pipeline

[WIP] Implement Updater. Add tests.
  metrics/cli/lib/cli/deployer/deployer.dart
  metrics/cli/lib/cli/deployer/strings/deploy_strings.dart
  metrics/cli/lib/cli/updater/factory/updater_factory.dart
  metrics/cli/lib/cli/updater/strings/update_strings.dart
  metrics/cli/lib/cli/updater/updater.dart
  metrics/cli/lib/common/strings/common_strings.dart
  metrics/cli/lib/util/file/file_helper.dart
  metrics/cli/test/cli/deployer/deployer_test.dart
  metrics/cli/test/cli/deployer/strings/deploy_strings_test.dart
  metrics/cli/test/cli/updater/factory/updater_factory_test.dart
  metrics/cli/test/cli/updater/strings/update_strings_test.dart
  metrics/cli/test/cli/updater/updater_test.dart
  metrics/cli/test/util/file/file_helper_test.dart
Due: none

[WIP] Remove tests for deployer.
  metrics/cli/lib/cli/deployer/deployer.dart
  metrics/cli/lib/cli/updater/updater.dart
  metrics/cli/lib/util/file/file_helper.dart
  metrics/cli/test/cli/deployer/deployer_test.dart
  metrics/cli/test/util/file/file_helper_test.dart
Due: none

Minor improvements. Add tests
  metrics/cli/lib/cli/deployer/deployer.dart
  metrics/cli/lib/cli/updater/updater.dart
  metrics/cli/lib/common/model/paths/paths.dart
  metrics/cli/test/cli/deployer/deployer_test.dart
  metrics/cli/test/cli/deployer/factory/deployer_factory_test.dart
  metrics/cli/test/cli/doctor/doctor_test.dart
  metrics/cli/test/cli/doctor/factory/doctor_factory_test.dart
  metrics/cli/test/cli/updater/algorithm/update_algorithm_test.dart
  metrics/cli/test/cli/updater/config/factory/update_config_factory_test.dart
  metrics/cli/test/cli/updater/factory/updater_factory_test.dart
  metrics/cli/test/cli/updater/updater_test.dart
  metrics/cli/test/common/model/services/services_test.dart
  metrics/cli/test/prompter/prompter_test.dart
  metrics/cli/test/services/firebase/adapter/firebase_cli_service_adapter_test.dart
  metrics/cli/test/services/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/test_utils/extension/error_answer.dart
  metrics/cli/test/test_utils/mock/directory_mock.dart
  metrics/cli/test/test_utils/mock/file_helper_mock.dart
  metrics/cli/test/test_utils/mock/file_mock.dart
  metrics/cli/test/test_utils/mock/firebase_service_mock.dart
  metrics/cli/test/test_utils/mock/flutter_service_mock.dart
  metrics/cli/test/test_utils/mock/gcloud_service_mock.dart
  metrics/cli/test/test_utils/mock/git_service_mock.dart
  metrics/cli/test/test_utils/mock/npm_service_mock.dart
  metrics/cli/test/test_utils/mock/path_factory_mock.dart
  metrics/cli/test/test_utils/mock/prompt_writer_mock.dart
  metrics/cli/test/test_utils/mock/prompter_mock.dart
  metrics/cli/test/test_utils/mock/sentry_service_mock.dart
  metrics/cli/test/test_utils/mock/services_factory_mock.dart
  metrics/cli/test/test_utils/mock/services_mock.dart
  metrics/cli/test/util/file/file_helper_test.dart
Due: none

Documentation improvements
  metrics/cli/lib/cli/updater/factory/updater_factory.dart
  metrics/cli/lib/cli/updater/updater.dart
Due: none

Add license
  metrics/cli/test/test_utils/extension/error_answer.dart
Due: none

populate template design section with explanations
  docs/19_feature_design_template.md
Due: none

fix link
  docs/19_feature_design_template.md
Due: none

review suggestions
  docs/19_feature_design_template.md
Due: none

general improvements
  docs/19_feature_design_template.md
Due: none

Resolve suggestions. Fix tests.
  metrics/cli/lib/cli/deployer/deployer.dart
  metrics/cli/lib/cli/deployer/strings/deploy_strings.dart
  metrics/cli/lib/cli/updater/strings/update_strings.dart
  metrics/cli/lib/cli/updater/updater.dart
  metrics/cli/test/cli/deployer/deployer_test.dart
  metrics/cli/test/cli/deployer/factory/deployer_factory_test.dart
  metrics/cli/test/cli/deployer/strings/deploy_strings_test.dart
  metrics/cli/test/cli/doctor/doctor_test.dart
  metrics/cli/test/cli/doctor/factory/doctor_factory_test.dart
  metrics/cli/test/cli/updater/algorithm/update_algorithm_test.dart
  metrics/cli/test/cli/updater/config/factory/update_config_factory_test.dart
  metrics/cli/test/cli/updater/factory/updater_factory_test.dart
  metrics/cli/test/cli/updater/strings/update_strings_test.dart
  metrics/cli/test/cli/updater/updater_test.dart
  metrics/cli/test/common/model/services/services_test.dart
  metrics/cli/test/prompter/prompter_test.dart
  metrics/cli/test/services/firebase/adapter/firebase_cli_service_adapter_test.dart
  metrics/cli/test/services/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/test_utils/mocks/directory_mock.dart
  metrics/cli/test/test_utils/mocks/file_helper_mock.dart
  metrics/cli/test/test_utils/mocks/file_mock.dart
  metrics/cli/test/test_utils/mocks/firebase_service_mock.dart
  metrics/cli/test/test_utils/mocks/flutter_service_mock.dart
  metrics/cli/test/test_utils/mocks/gcloud_service_mock.dart
  metrics/cli/test/test_utils/mocks/git_service_mock.dart
  metrics/cli/test/test_utils/mocks/npm_service_mock.dart
  metrics/cli/test/test_utils/mocks/path_factory_mock.dart
  metrics/cli/test/test_utils/mocks/prompt_writer_mock.dart
  metrics/cli/test/test_utils/mocks/prompter_mock.dart
  metrics/cli/test/test_utils/mocks/sentry_service_mock.dart
  metrics/cli/test/test_utils/mocks/services_factory_mock.dart
  metrics/cli/test/test_utils/mocks/services_mock.dart
  metrics/cli/test/util/file/file_helper_test.dart
Due: none

Minor improvements
  metrics/cli/lib/cli/deployer/strings/deploy_strings.dart
  metrics/cli/lib/cli/updater/strings/update_strings.dart
  metrics/cli/test/cli/deployer/deployer_test.dart
  metrics/cli/test/cli/updater/updater_test.dart
Due: none

Deployer, updater improvements.
  metrics/cli/lib/cli/deployer/deployer.dart
  metrics/cli/lib/cli/updater/updater.dart
Due: none

review improvements
  docs/19_feature_design_template.md
Due: none

feat: Implement Updater (#1487)
  metrics/cli/lib/cli/deployer/deployer.dart
  metrics/cli/lib/cli/deployer/strings/deploy_strings.dart
  metrics/cli/lib/cli/updater/factory/updater_factory.dart
  metrics/cli/lib/cli/updater/strings/update_strings.dart
  metrics/cli/lib/cli/updater/updater.dart
  metrics/cli/lib/common/model/paths/paths.dart
  metrics/cli/lib/common/strings/common_strings.dart
  metrics/cli/test/cli/deployer/deployer_test.dart
  metrics/cli/test/cli/deployer/factory/deployer_factory_test.dart
  metrics/cli/test/cli/deployer/strings/deploy_strings_test.dart
  metrics/cli/test/cli/doctor/doctor_test.dart
  metrics/cli/test/cli/doctor/factory/doctor_factory_test.dart
  metrics/cli/test/cli/updater/algorithm/update_algorithm_test.dart
  metrics/cli/test/cli/updater/config/factory/update_config_factory_test.dart
  metrics/cli/test/cli/updater/factory/updater_factory_test.dart
  metrics/cli/test/cli/updater/strings/update_strings_test.dart
  metrics/cli/test/cli/updater/updater_test.dart
  metrics/cli/test/common/model/services/services_test.dart
  metrics/cli/test/prompter/prompter_test.dart
  metrics/cli/test/services/firebase/adapter/firebase_cli_service_adapter_test.dart
  metrics/cli/test/services/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/test_utils/extension/error_answer.dart
  metrics/cli/test/test_utils/mocks/directory_mock.dart
  metrics/cli/test/test_utils/mocks/file_helper_mock.dart
  metrics/cli/test/test_utils/mocks/file_mock.dart
  metrics/cli/test/test_utils/mocks/firebase_service_mock.dart
  metrics/cli/test/test_utils/mocks/flutter_service_mock.dart
  metrics/cli/test/test_utils/mocks/gcloud_service_mock.dart
  metrics/cli/test/test_utils/mocks/git_service_mock.dart
  metrics/cli/test/test_utils/mocks/npm_service_mock.dart
  metrics/cli/test/test_utils/mocks/path_factory_mock.dart
  metrics/cli/test/test_utils/mocks/prompt_writer_mock.dart
  metrics/cli/test/test_utils/mocks/prompter_mock.dart
  metrics/cli/test/test_utils/mocks/sentry_service_mock.dart
  metrics/cli/test/test_utils/mocks/services_factory_mock.dart
  metrics/cli/test/test_utils/mocks/services_mock.dart
  metrics/cli/test/util/file/file_helper_test.dart
Due: none

Add validation conclusion with tests
  metrics/core/lib/src/util/validation/validation_conclusion.dart
  metrics/core/test/util/validation/validation_conclusion_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add validation target with tests
  metrics/core/lib/src/util/validation/validation_target.dart
  metrics/core/test/util/validation/validation_target_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

alter architecture section explanations
  docs/19_feature_design_template.md
Due: none

fix anchors and contents
  docs/19_feature_design_template.md
Due: none

Implement Update command
  metrics/cli/lib/cli/command/deploy_command.dart
  metrics/cli/lib/cli/command/doctor_command.dart
  metrics/cli/lib/cli/command/update_command.dart
  metrics/cli/lib/cli/runner/metrics_cli_runner.dart
  metrics/cli/lib/cli/updater/config/factory/update_config_factory.dart
  metrics/cli/test/cli/command/deploy_command_test.dart
  metrics/cli/test/cli/command/update_command_test.dart
  metrics/cli/test/cli/runner/metrics_cli_runner_test.dart
  metrics/cli/test/cli/updater/config/factory/update_config_factory_test.dart
  metrics/cli/test/cli/updater/updater_test.dart
  metrics/cli/test/test_utils/mocks/update_config_mock.dart
Due: none

Update pubspec
  metrics/core/pubspec.yaml
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Minor improvements
  metrics/core/lib/src/util/validation/validation_conclusion.dart
  metrics/core/lib/src/util/validation/validation_target.dart
  metrics/core/test/util/validation/validation_conclusion_test.dart
  metrics/core/test/util/validation/validation_target_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Update github actions validation delegate
  metrics/ci_integrations/lib/source/github_actions/config/validation_delegate/github_actions_source_validation_delegate.dart
Due: ci-integrations-pipeline

Update github actions validation delegate tests
  metrics/ci_integrations/test/source/github_actions/config/validation_delegate/github_actions_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

feat: Implement ValidationConclusion and ValidationTarget (#1493)
  metrics/core/lib/src/util/validation/validation_conclusion.dart
  metrics/core/lib/src/util/validation/validation_target.dart
  metrics/core/pubspec.yaml
  metrics/core/test/util/validation/validation_conclusion_test.dart
  metrics/core/test/util/validation/validation_target_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add target validation result with tests
  metrics/core/lib/src/util/validation/target_validation_result.dart
  metrics/core/test/util/validation/target_validation_result_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Remove copyWith
  metrics/core/lib/src/util/validation/target_validation_result.dart
  metrics/core/test/util/validation/target_validation_result_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

docs: Design template update (#1488)
  docs/19_feature_design_template.md
Due: none

Update github actions validator
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
Due: ci-integrations-pipeline

feat: Implement TargetValidationResult (#1497)
  metrics/core/lib/src/util/validation/target_validation_result.dart
  metrics/core/test/util/validation/target_validation_result_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add validation result
  metrics/core/lib/src/util/validation/validation_result.dart
  metrics/core/test/util/validation/validation_result_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add validation result builder
  metrics/core/lib/src/util/validation/validation_result_builder.dart
  metrics/core/test/util/validation/validation_result_builder_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Update github actions validator tests
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_mock.dart
Due: ci-integrations-pipeline

[Duplicated] fix tests
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/validation_result_builder_stub_mock.dart
Due: ci-integrations-pipeline

Update github validator factory with tests
  metrics/ci_integrations/lib/source/github_actions/config/validator_factory/github_actions_source_validator_factory.dart
  metrics/ci_integrations/test/source/github_actions/config/validator_factory/github_actions_source_validator_factory_test.dart
Due: ci-integrations-pipeline

Update github source party
  metrics/ci_integrations/lib/source/github_actions/party/github_actions_source_party.dart
  metrics/ci_integrations/test/source/github_actions/party/github_actions_source_party_test.dart
Due: ci-integrations-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
