Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Change links to master
  metrics/web/docs/analysis/deep_links/01_deep_links_analysis.md
Due: metrics-web-pipeline

docs: Deep Links analysis document (#1390)
  metrics/web/docs/analysis/deep_links/01_deep_links_analysis.md
  metrics/web/docs/analysis/deep_links/diagrams/applying_deep_links_sequence_diagram.puml
  metrics/web/docs/analysis/deep_links/diagrams/saving_deep_links_sequence_diagram.puml
Due: metrics-web-pipeline

Minor fix
  scripts/links_checker/lib/checker/links_checker.dart
  scripts/links_checker/test/cli/command/links_checker_command_test.dart
Due: none

Improve actions
  .github/workflows/metrics_actions.yml
Due: none

feat: Improve links checker with the `repository` argument (#1403)
  .github/workflows/metrics_actions.yml
  scripts/links_checker/bin/main.dart
  scripts/links_checker/lib/checker/error/links_checker_error.dart
  scripts/links_checker/lib/checker/factory/links_checker_factory.dart
  scripts/links_checker/lib/checker/links_checker.dart
  scripts/links_checker/lib/cli/arguments/models/links_checker_arguments.dart
  scripts/links_checker/lib/cli/arguments/parser/links_checker_arguments_parser.dart
  scripts/links_checker/lib/cli/command/links_checker_command.dart
  scripts/links_checker/lib/cli/runner/links_checker_runner.dart
  scripts/links_checker/lib/exception/links_checker_exception.dart
  scripts/links_checker/pubspec.yaml
  scripts/links_checker/test/arguments/models/links_checker_arguments_tests.dart
  scripts/links_checker/test/checker/error/links_checker_error_test.dart
  scripts/links_checker/test/checker/factory/links_checker_factory_test.dart
  scripts/links_checker/test/checker/links_checker_test.dart
  scripts/links_checker/test/cli/arguments/models/links_checker_arguments_tests.dart
  scripts/links_checker/test/cli/arguments/parser/links_checker_arguments_parser_test.dart
  scripts/links_checker/test/cli/command/links_checker_command_test.dart
  scripts/links_checker/test/cli/runner/links_checker_runner_test.dart
  scripts/links_checker/test/command/links_checker_command_test.dart
Due: none

Add dependency between Services and services package
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
Due: none

Fix Sentry release name string
  metrics/cli/docs/05_user_manual_steps.md
  metrics/cli/lib/sentry/strings/sentry_strings.dart
Due: none

[WIP] Build Days Collection description
  docs/18_security_audit_document.md
Due: none

create a document with sync performance investigation results
  metrics/ci_integrations/docs/07_sync_performance_investigation.md
  metrics/ci_integrations/docs/diagrams/sync_ideal_timing_diagram.puml
  metrics/ci_integrations/docs/diagrams/sync_problematic_queue_timing_diagram.puml
  metrics/ci_integrations/docs/diagrams/sync_problematic_timing_diagram.puml
Due: ci-integrations-pipeline

fix language
  metrics/ci_integrations/docs/07_sync_performance_investigation.md
Due: ci-integrations-pipeline

Add tasks, cloud functions sections
  docs/18_security_audit_document.md
Due: none

Fix Sentry release name string (#1412)
  metrics/cli/docs/05_user_manual_steps.md
  metrics/cli/lib/sentry/strings/sentry_strings.dart
Due: none

Update diagrams links to the master branch
  metrics/cli/docs/01_metrics_cli_design.md
Due: none

docs: Update CLI design document to improve package structure (#1391)
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/cli_interfaces_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/metrics_cli_runner_class_diagram.puml
  metrics/cli/docs/diagrams/prompt_class_diagram.puml
  metrics/cli/docs/diagrams/prompter_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

[WIP] Add GCloud project name prompt
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/cli/gcloud_cli.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/gcloud/strings/gcloud_strings_test.dart
Due: none

Minor improvement
  docs/18_security_audit_document.md
Due: none

Documentation improvements
  docs/18_security_audit_document.md
Due: none

Improve tests
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Minor improvements
  metrics/cli/lib/gcloud/cli/gcloud_cli.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Fix tag name in the cli_actions
  .github/workflows/cli_actions.yml
Due: none

Add verifyEmailDomain function description. Minor fixes
  docs/18_security_audit_document.md
Due: none

Fix typo
  docs/18_security_audit_document.md
Due: none

Fix tag name in the cli_actions (#1417)
  .github/workflows/cli_actions.yml
Due: none

Minor improvements
  docs/18_security_audit_document.md
Due: none

Add delete project functionality
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/cli/gcloud_cli.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Resolve review suggestions
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

review fixes
  metrics/ci_integrations/docs/07_sync_performance_investigation.md
Due: ci-integrations-pipeline

docs: Update Security Audit Document (#1414)
  docs/18_security_audit_document.md
Due: none

Update GCloud CLI and Service to add delete project functionality (#1418)
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/cli/gcloud_cli.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

[WIP]: CI Integrations DB versions design document
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
Due: ci-integrations-pipeline

Finish `SupportedDatabaseVersion` topic
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
Due: ci-integrations-pipeline

Minor improvement
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
Due: ci-integrations-pipeline

Add class diagram
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
  metrics/ci_integrations/docs/features/supported_database_version/diagrams/ci_integrations_supported_db_version.puml
Due: ci-integrations-pipeline

Add sequence diagram and final sections
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
  metrics/ci_integrations/docs/features/supported_database_version/diagrams/ci_integrations_supported_db_version_class_diagram.puml
  metrics/ci_integrations/docs/features/supported_database_version/diagrams/ci_integrations_supported_db_version_sequence_diagram.puml
Due: ci-integrations-pipeline

Rename the DatabaseMetadata to StorageMetadata
  metrics/web/docs/features/supported_database_version/01_supported_database_version.md
  metrics/web/docs/features/supported_database_version/diagrams/database_finished_updating_sequence_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_data_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_domain_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_presentation_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_sequence_diagram.puml
Due: metrics-web-pipeline

Change links to monorepo
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
Due: ci-integrations-pipeline

Fix SyncStage naming
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
Due: ci-integrations-pipeline

Typo fix
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
Due: ci-integrations-pipeline

General naming and documentation improvements
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
  metrics/ci_integrations/docs/features/supported_database_version/diagrams/ci_integrations_supported_db_version_class_diagram.puml
  metrics/ci_integrations/docs/features/supported_database_version/diagrams/ci_integrations_supported_db_version_sequence_diagram.puml
Due: ci-integrations-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
