Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

docs: CI Integrations: design additional parameter to skip-coverage (#1009)
  metrics/ci_integrations/docs/01_ci_integration_module_architecture.md
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_class_diagram.puml
Due: ci-integrations-pipeline

Improve test. Formatting.
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
  metrics/core/lib/src/domain/entities/build.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add `skip-coverage` flag to sync command. Add fetchCoverage method to interface. Add apiUrl to BuildData.
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/test_util/test_data/config_test_data.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/config/model/sync_config_test.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
  metrics/core/lib/src/data/model/build_data.dart
  metrics/core/lib/src/domain/entities/build.dart
  metrics/core/test/data/model/build_data_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Rename skip coverage option into coverage. Fix tests.
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/test_util/test_data/config_test_data.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/config/model/sync_config_test.dart
Due: ci-integrations-pipeline

Update diagrams, minor improvements
  metrics/cli/bin/main.dart
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/deploy_tool_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_sequence_diagram.puml
  metrics/cli/lib/cli/firebase/firebase_command.dart
  metrics/cli/lib/cli/npm/npm_command.dart
  metrics/cli/lib/deploy/deploy_command.dart
  metrics/cli/lib/doctor/doctor_command.dart
  metrics/cli/test/deploy/deploy_command_test.dart
  metrics/cli/test/doctor/doctor_command_test.dart
Due: none

Implement suggested changes to ci integrations and core
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
  metrics/core/lib/src/data/model/build_data.dart
  metrics/core/lib/src/domain/entities/build.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

feat: Add `skip-coverage` flag to sync command (#1012)
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/test_util/test_data/config_test_data.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/config/model/sync_config_test.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
  metrics/core/lib/src/data/model/build_data.dart
  metrics/core/lib/src/domain/entities/build.dart
  metrics/core/test/data/model/build_data_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

update firestore rules for builds and related tests
  metrics/firebase/firestore/rules/firestore.rules
  metrics/firebase/test/firestore/rules/builds-test.js
  metrics/firebase/test/firestore/rules/test_utils/test-data.js
Due: none

fix test description
  metrics/firebase/test/firestore/rules/builds-test.js
Due: none

fix: Update Firestore Security rules (#1023)
  metrics/firebase/firestore/rules/firestore.rules
  metrics/firebase/test/firestore/rules/builds-test.js
  metrics/firebase/test/firestore/rules/test_utils/test-data.js
Due: none

Add fetch coverage implementation for Buildkite CI
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_build.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_build_test.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/buildkite/test_utils/test_data/buildkite_test_data_generator.dart
Due: ci-integrations-pipeline

minor fix
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
Due: ci-integrations-pipeline

alter coverage fetching, fix related tests, other general improvements
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_build.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
Due: ci-integrations-pipeline

[WIP] Redesign deploy tool.
  metrics/cli/bin/main.dart
  metrics/cli/lib/cli/firebase/firebase_command.dart
  metrics/cli/lib/cli/gcloud/gcloud_command.dart
  metrics/cli/lib/constants/config_constants.dart
  metrics/cli/lib/deploy/deploy_command.dart
  metrics/cli/lib/doctor/doctor_command.dart
  metrics/cli/lib/runner/metrics_command_runner.dart
  metrics/cli/lib/strings/prompt_strings.dart
  metrics/cli/lib/util/file_helper.dart
  metrics/cli/lib/util/prompt_util.dart
  metrics/cli/lib/util/prompt_wrapper.dart
  metrics/cli/pubspec.yaml
  metrics/cli/test/doctor/doctor_command_test.dart
  metrics/cli/test/test_util/firebase_mock.dart
  metrics/cli/test/test_util/flutter_mock.dart
  metrics/cli/test/test_util/gcloud_mock.dart
  metrics/cli/test/test_util/git_mock.dart
  metrics/cli/test/test_util/npm_mock.dart
Due: none

fix actions to run tests on branch as on master for ci integrations
  .github/workflows/metrics_actions.yml
Due: none

feat: Buildkite fetch coverage (#1025)
  .github/workflows/metrics_actions.yml
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_build.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_build_test.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/buildkite/test_utils/test_data/buildkite_test_data_generator.dart
Due: ci-integrations-pipeline

chore: update concept map to include sync step
  concept_map.puml
Due: none

Implement base classes needed for Config Validation
  metrics/ci_integrations/lib/integration/exception/config_validation_exception.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validation_delegate/validation_delegate.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validator/config_validator.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validator_factory/config_validator_factory.dart
  metrics/ci_integrations/lib/integration/interface/destination/config/validation_delegate/destination_validation_delegate.dart
  metrics/ci_integrations/lib/integration/interface/source/config/validation_delegate/source_validation_delegate.dart
  metrics/ci_integrations/test/integration/exception/config_validation_exception_test.dart
  metrics/ci_integrations/test/integration/interface/base/config/validator/config_validator_test.dart
Due: ci-integrations-pipeline

Rename files
  metrics/ci_integrations/lib/integration/error/config_validation_error.dart
  metrics/ci_integrations/test/integration/error/config_validation_error_test.dart
Due: ci-integrations-pipeline

Improve documentation. Rename ConfigValidationException to ConfigValidationError
  metrics/ci_integrations/lib/integration/error/config_validation_error.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validator/config_validator.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validator_factory/config_validator_factory.dart
  metrics/ci_integrations/test/integration/error/config_validation_error_test.dart
  metrics/ci_integrations/test/integration/interface/base/config/validator/config_validator_test.dart
Due: ci-integrations-pipeline

Change links to point to master
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Fix links
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Fix config validation error. Minor doc improvements
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
  metrics/ci_integrations/lib/integration/error/config_validation_error.dart
  metrics/ci_integrations/test/integration/error/config_validation_error_test.dart
Due: ci-integrations-pipeline

Sort pub dependencies
  metrics/ci_integrations/pubspec.yaml
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/lib/integration/error/config_validation_error.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validator/config_validator.dart
  metrics/ci_integrations/test/integration/error/config_validation_error_test.dart
  metrics/ci_integrations/test/integration/interface/base/config/validator/config_validator_test.dart
Due: ci-integrations-pipeline

Minor test improvements
  metrics/ci_integrations/test/integration/interface/base/config/validator/config_validator_test.dart
Due: ci-integrations-pipeline

feat: Implement Config Validation base classes and interfaces (#1022)
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
  metrics/ci_integrations/lib/integration/error/config_validation_error.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validation_delegate/validation_delegate.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validator/config_validator.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validator_factory/config_validator_factory.dart
  metrics/ci_integrations/lib/integration/interface/destination/config/validation_delegate/destination_validation_delegate.dart
  metrics/ci_integrations/lib/integration/interface/source/config/validation_delegate/source_validation_delegate.dart
  metrics/ci_integrations/pubspec.yaml
  metrics/ci_integrations/test/integration/error/config_validation_error_test.dart
  metrics/ci_integrations/test/integration/interface/base/config/validator/config_validator_test.dart
Due: ci-integrations-pipeline

chore: update project description
  metrics/web/pubspec.yaml
Due: metrics-web-pipeline

fix builds on latest master
  metrics/web/pubspec.yaml
Due: metrics-web-pipeline

fix builds on latest master (#1026)
  metrics/web/pubspec.yaml
Due: metrics-web-pipeline

Fix typo
  metrics/ci_integrations/lib/cli/command/sync_command.dart
Due: ci-integrations-pipeline

Formatting fixes, fix lints
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Fix Github Actions adapter filename
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/client_factory/github_actions_source_client_factory.dart
  metrics/ci_integrations/lib/source/github_actions/party/github_actions_source_party.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Refactor command name. Fix documentation
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/test_util/test_data/config_test_data.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/config/model/sync_config_test.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Fix formatting
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Update SyncConfig to include the firstSyncFetchLimit parameter
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/test/integration/ci/config/model/sync_config_test.dart
Due: ci-integrations-pipeline

Resolve merge conflicts
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/lib/util/validator/number_validator.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
  metrics/ci_integrations/test/util/validator/number_validator_test.dart
Due: ci-integrations-pipeline

Fix test description
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
Due: ci-integrations-pipeline

Resolve merge conflicts
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
Due: ci-integrations-pipeline

Add command names, refactor parsing the initial fetch limit, pass it with the sync config to sync, fix tests
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/test_util/test_data/config_test_data.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
Due: ci-integrations-pipeline
