Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Update Build Deployment Instructions
  docs/09_firebase_deployment.md
Due: none

review suggestions, fix typos
  docs/09_firebase_deployment.md
Due: none

move sections
  docs/09_firebase_deployment.md
Due: none

fix formatting
  docs/09_firebase_deployment.md
Due: none

docs: Update Build/Deployment Instructions (#959)
  docs/09_firebase_deployment.md
Due: none

Add documentation to the navigate home method
  metrics/web/lib/common/presentation/app_bar/widget/metrics_app_bar.dart
Due: metrics-web-pipeline

Minor test improvements
  metrics/web/test/common/presentation/drawer/widget/metrics_drawer_test.dart
  metrics/web/test/common/presentation/page_title/widgets/metrics_page_title_test.dart
  metrics/web/test/common/presentation/widgets/metrics_user_menu_test.dart
Due: metrics-web-pipeline

Add more tests, fix updating platform brightness logic
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/lib/common/presentation/widgets/platform_brightness_observer.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/common/presentation/widgets/platform_brightness_observer_test.dart
Due: metrics-web-pipeline

Add maintainState=false to the default page in the metrics page factory
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page_factory.dart
Due: metrics-web-pipeline

Set `maintainState` to true for all pages
  metrics/web/lib/common/presentation/app_bar/widget/metrics_app_bar.dart
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/app_bar/widget/metrics_app_bar_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Minor fixes in tests and add one more test for the metrics drawer
  metrics/web/lib/common/presentation/page_title/widgets/metrics_page_title.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/app_bar/widget/metrics_app_bar_test.dart
  metrics/web/test/common/presentation/drawer/widget/metrics_drawer_test.dart
  metrics/web/test/common/presentation/page_title/widgets/metrics_page_title_test.dart
  metrics/web/test/common/presentation/widgets/metrics_user_menu_test.dart
Due: metrics-web-pipeline

Move route information parser and router delegate to the build widget in the main.dart
  metrics/web/lib/main.dart
Due: metrics-web-pipeline

WIP: Navigator 2.0 integration
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/app_bar/widget/metrics_app_bar.dart
  metrics/web/lib/common/presentation/drawer/widget/metrics_drawer.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/constants/metrics_routes.dart
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page.dart
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/page_title/widgets/metrics_page_title.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/lib/common/presentation/routes/route_generator.dart
  metrics/web/lib/common/presentation/widgets/metrics_user_menu.dart
  metrics/web/lib/main.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/app_bar/widget/metrics_app_bar_test.dart
  metrics/web/test/common/presentation/drawer/widget/metrics_drawer_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/page_title/widgets/metrics_page_title_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/common/presentation/routes/route_generator_test.dart
  metrics/web/test/common/presentation/widgets/metrics_user_menu_test.dart
  metrics/web/test/dashboard/presentation/page/dashboard_page_test.dart
  metrics/web/test/test_utils/navigation_notifier_mock.dart
  metrics/web/test/test_utils/test_injection_container.dart
Due: metrics-web-pipeline

Minor documentation and test improvements
  metrics/web/lib/common/presentation/navigation/constants/metrics_routes.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/lib/common/presentation/widgets/platform_brightness_observer.dart
  metrics/web/lib/main.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/page_title/widgets/metrics_page_title_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/common/presentation/widgets/metrics_user_menu_test.dart
  metrics/web/test/common/presentation/widgets/platform_brightness_observer_test.dart
Due: metrics-web-pipeline

Fix navigation notifier test
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Update project description.
  metrics/web/web/index.html
Due: metrics-web-pipeline

feat: Integrate new navigation system (#958)
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/app_bar/widget/metrics_app_bar.dart
  metrics/web/lib/common/presentation/drawer/widget/metrics_drawer.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/constants/metrics_routes.dart
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page.dart
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/page_title/widgets/metrics_page_title.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/lib/common/presentation/routes/route_generator.dart
  metrics/web/lib/common/presentation/widgets/metrics_user_menu.dart
  metrics/web/lib/common/presentation/widgets/platform_brightness_observer.dart
  metrics/web/lib/main.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/app_bar/widget/metrics_app_bar_test.dart
  metrics/web/test/common/presentation/drawer/widget/metrics_drawer_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/page_title/widgets/metrics_page_title_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/common/presentation/routes/route_generator_test.dart
  metrics/web/test/common/presentation/widgets/metrics_user_menu_test.dart
  metrics/web/test/common/presentation/widgets/platform_brightness_observer_test.dart
  metrics/web/test/dashboard/presentation/page/dashboard_page_test.dart
  metrics/web/test/test_utils/navigation_notifier_mock.dart
  metrics/web/test/test_utils/test_injection_container.dart
  metrics/web/web/index.html
Due: metrics-web-pipeline

Fix typo
  metrics/web/docs/features/metrics_logger/01_metrics_logger_design.md
Due: metrics-web-pipeline

Fix typo (#965)
  metrics/web/docs/features/metrics_logger/01_metrics_logger_design.md
Due: metrics-web-pipeline

Add notes to scripts
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  metrics/web/README.md
Due: metrics-web-pipeline

Remove flutter version from docs
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  metrics/web/README.md
Due: metrics-web-pipeline

Fix notes
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none

Minor fixes
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  metrics/web/README.md
Due: metrics-web-pipeline

docs: Update documentation to not use `flutter version` (#964)
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  metrics/web/README.md
Due: metrics-web-pipeline

Add auth-generated firebase config and fix docs
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  metrics/web/__/firebase/init.js
  metrics/web/web/index.html
Due: metrics-web-pipeline

fix local init.js
  metrics/web/__/firebase/init.js
Due: metrics-web-pipeline

fix docs
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none

Minor fix docs
  docs/09_firebase_deployment.md
Due: none

Minor fix
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  metrics/web/web/index.html
Due: metrics-web-pipeline

Add verbose mode. Add documentation.
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
Due: ci-integrations-pipeline

Fix suggestions
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  metrics/web/__/firebase/init.js
Due: metrics-web-pipeline

Fix tests
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
Due: ci-integrations-pipeline

Fix docs: add example of the firebase configuration
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none

Fix documentation
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none

Remove extra spaces
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none

minor fix
  docs/09_firebase_deployment.md
Due: none

feat: Firebase auto config (#966)
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  metrics/web/__/firebase/init.js
  metrics/web/web/index.html
Due: metrics-web-pipeline

introduce metrics config, add missing tests, general fixes and improvements, add sentry environment
  .github/workflows/web_actions.yml
  docs/16_dependencies_licenses.md
  metrics/web/lib/auth/data/repositories/firebase_user_repository.dart
  metrics/web/lib/common/domain/entities/metrics_config.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/metrics_app/metrics_app.dart
  metrics/web/lib/main.dart
  metrics/web/lib/metrics_logger/sentry/writers/sentry_writer.dart
  metrics/web/lib/platform/stub/metrics_config/metrics_config_factory.dart
  metrics/web/lib/platform/web/metrics_config/metrics_config_factory.dart
  metrics/web/lib/platform/web/metrics_config/web_metrics_config.dart
  metrics/web/pubspec.yaml
  metrics/web/test/common/presentation/injector/widget/injection_container_test.dart
  metrics/web/test/metrics_logger/sentry/writers/sentry_writer_test.dart
  metrics/web/test/test_utils/metrics_config_mock.dart
  metrics/web/test/test_utils/metrics_config_stub.dart
  metrics/web/test_driver/app_test.dart
  metrics/web/web/index.html
  metrics/web/web/metrics_config.js
Due: metrics-web-pipeline

Update Flutter version to 1.25.0-8.2.pre, Dart version to 2.12.0-133.2.beta
  .github/workflows/ci_integrations_actions.yml
  .github/workflows/coverage_converter_actions.yml
  .github/workflows/metrics_actions.yml
  .github/workflows/web_actions.yml
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  docs/15_developer_configuration.md
  metrics/web/README.md
Due: metrics-web-pipeline

remove metrics config mock as test util
  metrics/web/test/common/presentation/injector/widget/injection_container_test.dart
  metrics/web/test/test_utils/metrics_config_mock.dart
Due: metrics-web-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
