Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Add test for web support
  metrics/cli/test/flutter/adapter/flutter_cli_service_adapter_test.dart
Due: none

Minor improvements
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
Due: ci-integrations-pipeline

Implement Firestore validator factory
  metrics/ci_integrations/lib/destination/firestore/config/validator_factory/firestore_destination_validator_factory.dart
  metrics/ci_integrations/test/destination/firestore/config/validator_factory/firestore_destination_validator_factory_test.dart
Due: ci-integrations-pipeline

Implement Firestore validator
  metrics/ci_integrations/lib/destination/firestore/config/model/firestore_destination_config_field.dart
  metrics/ci_integrations/lib/destination/firestore/config/validator/firestore_destination_validator.dart
  metrics/ci_integrations/lib/destination/firestore/strings/firestore_strings.dart
  metrics/ci_integrations/test/destination/firestore/config/model/firestore_destination_config_field_test.dart
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
Due: ci-integrations-pipeline

feat: Implement FlutterService (#1216)
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/flutter/adapter/flutter_cli_service_adapter.dart
  metrics/cli/lib/flutter/cli/flutter_cli.dart
  metrics/cli/lib/flutter/service/flutter_service.dart
  metrics/cli/test/flutter/adapter/flutter_cli_service_adapter_test.dart
  metrics/cli/test/prompt/prompter_test.dart
  metrics/cli/test/test_utils/matchers.dart
Due: none

Update Firestore destination party
  metrics/ci_integrations/lib/destination/firestore/party/firestore_destination_party.dart
  metrics/ci_integrations/test/destination/firestore/party/firestore_destination_party_test.dart
Due: ci-integrations-pipeline

Fix formatting
  metrics/ci_integrations/test/destination/firestore/party/firestore_destination_party_test.dart
Due: ci-integrations-pipeline

Fix analyzer
  metrics/cli/lib/deploy/deploy_command.dart
  metrics/cli/test/deploy/deploy_command_test.dart
Due: none

Fix analyzer (#1220)
  metrics/cli/lib/deploy/deploy_command.dart
  metrics/cli/test/deploy/deploy_command_test.dart
Due: none

Fix test variables order
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
Due: ci-integrations-pipeline

Update documentation to include Sentry integration
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Update diagrams links to current branch
  metrics/cli/docs/01_metrics_cli_design.md
Due: none

Minor improvements
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Minor diagram improvement
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
Due: none

Fix review suggestions
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Rename SentryProjectConfig to SentryProject
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Rename SentryConfig to SentryProjectConfig
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Rename options to environment
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Fix review suggestions
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Minor fixes
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Fix review suggestions
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Update links to master
  metrics/cli/docs/01_metrics_cli_design.md
Due: none

docs: Update documentation to include Sentry integration (#1210)
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Implement GCloudService
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/lib/prompt/strings/prompt_strings.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/test_utils/prompt_writer_mock.dart
Due: none

Improve formatting
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

[WIP] add inProgress status to BuildStatus
  metrics/core/lib/src/domain/entities/build_status.dart
  metrics/web/lib/dashboard/presentation/view_models/build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_bar_appearance_strategy.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_appearance_strategy_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Update build status with in progress value
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_popup_image_strategy.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/project_build_status_image_strategy.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/project_build_status_style_strategy.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_popup_image_strategy_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/project_build_status_image_strategy_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/project_build_status_style_strategy_test.dart
  metrics/web/web/icons/in_progress.svg
  metrics/web/web/icons/in_progress_status.svg
Due: metrics-web-pipeline

Update Prompter to match design
  metrics/cli/lib/prompt/prompter.dart
  metrics/cli/test/prompt/prompter_test.dart
  metrics/cli/test/test_utils/prompt_writer_mock.dart
Due: none

Fix newline
  metrics/cli/test/test_utils/prompt_writer_mock.dart
Due: none

Improve tests
  metrics/cli/lib/prompt/prompter.dart
  metrics/cli/test/prompt/prompter_test.dart
  metrics/cli/test/test_utils/prompt_writer_mock.dart
Due: none

Minor improvements
  metrics/cli/test/prompt/prompter_test.dart
Due: none

Improve test naming
  metrics/cli/test/prompt/prompter_test.dart
Due: none

fix: Update Prompter to match design (#1224)
  metrics/cli/lib/prompt/prompter.dart
  metrics/cli/test/prompt/prompter_test.dart
Due: none

Minor improvements
  metrics/ci_integrations/lib/destination/firestore/config/validator/firestore_destination_validator.dart
  metrics/ci_integrations/lib/destination/firestore/strings/firestore_strings.dart
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/core/lib/src/domain/entities/build_status.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Improve tests descriptions
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
Due: ci-integrations-pipeline

Minor typo fix
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
Due: ci-integrations-pipeline

feat: Implement Firestore DestinationConfigValidator and DestinationConfigValidatorFactory (#1219)
  metrics/ci_integrations/lib/destination/firestore/config/model/firestore_destination_config_field.dart
  metrics/ci_integrations/lib/destination/firestore/config/validator/firestore_destination_validator.dart
  metrics/ci_integrations/lib/destination/firestore/config/validator_factory/firestore_destination_validator_factory.dart
  metrics/ci_integrations/lib/destination/firestore/party/firestore_destination_party.dart
  metrics/ci_integrations/lib/destination/firestore/strings/firestore_strings.dart
  metrics/ci_integrations/test/destination/firestore/config/model/firestore_destination_config_field_test.dart
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
  metrics/ci_integrations/test/destination/firestore/config/validator_factory/firestore_destination_validator_factory_test.dart
  metrics/ci_integrations/test/destination/firestore/party/firestore_destination_party_test.dart
Due: ci-integrations-pipeline

Fix review suggestions
  docs/16_dependencies_licenses.md
  metrics/cli/lib/flutter/adapter/flutter_cli_service_adapter.dart
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/prompt/strings/gcloud_strings.dart
  metrics/cli/pubspec.yaml
  metrics/cli/test/flutter/adapter/flutter_cli_service_adapter_test.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/prompt/prompter_test.dart
Due: none

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
