Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

change number of builds to load
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
Due: metrics-web-pipeline

fix doc
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
Due: metrics-web-pipeline

changes to tests and doc
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_metrics_updates_test.dart
Due: metrics-web-pipeline

change naming
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
Due: metrics-web-pipeline

feat: Change Stability metrics calculation (#1045)
  docs/05_project_metrics.md
  docs/06_metrics_dashboard.md
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
  metrics/web/lib/dashboard/presentation/strings/dashboard_strings.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_metrics_updates_test.dart
Due: metrics-web-pipeline

[WIP] Update documentation for validate command
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Fix typos
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Improve documentation
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Fix typo
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Update class diagram
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
Due: ci-integrations-pipeline

Update link
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Update layout
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
Due: ci-integrations-pipeline

Update diagram. Improve documentation
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Minor fixes
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
Due: ci-integrations-pipeline

Update diagram
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
Due: ci-integrations-pipeline

Change links to master
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

docs: Update Ci integrations config validator doc with `validate` command (#1047)
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

change indicator sizes and fix tests descriptions
  metrics/web/lib/common/presentation/metrics_theme/config/dimensions_config.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_metrics_updates_test.dart
Due: metrics-web-pipeline

change stability metrics calculation
  docs/05_project_metrics.md
  docs/06_metrics_dashboard.md
  metrics/web/lib/common/presentation/metrics_theme/config/dimensions_config.dart
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
  metrics/web/lib/dashboard/presentation/strings/dashboard_strings.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_row.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_metrics_updates_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy_test.dart
Due: metrics-web-pipeline

feat: Build Result metric changes (#1050)
  docs/05_project_metrics.md
  docs/06_metrics_dashboard.md
  metrics/web/lib/common/presentation/metrics_theme/config/dimensions_config.dart
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
  metrics/web/lib/dashboard/presentation/strings/dashboard_strings.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_row.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_metrics_updates_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy_test.dart
Due: metrics-web-pipeline

Fix build result bars
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_test.dart
Due: metrics-web-pipeline

Fix build result bars (#1056)
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_test.dart
Due: metrics-web-pipeline

Formatting
  metrics/web/test/dashboard/presentation/widgets/project_groups_dropdown_body_test.dart
Due: metrics-web-pipeline

Remove project group animation to match with user menu
  metrics/web/lib/common/presentation/constants/duration_constants.dart
  metrics/web/lib/dashboard/presentation/widgets/project_groups_dropdown_body.dart
  metrics/web/test/dashboard/presentation/widgets/project_groups_dropdown_body_test.dart
Due: metrics-web-pipeline

Review suggestions
  metrics/web/lib/dashboard/presentation/widgets/project_groups_dropdown_body.dart
  metrics/web/test/dashboard/presentation/widgets/project_groups_dropdown_body_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/test/dashboard/presentation/widgets/project_groups_dropdown_body_test.dart
Due: metrics-web-pipeline

feat: Project groups dropdown animation (#1048)
  metrics/web/lib/common/presentation/constants/duration_constants.dart
  metrics/web/lib/dashboard/presentation/widgets/project_groups_dropdown_body.dart
  metrics/web/test/dashboard/presentation/widgets/project_groups_dropdown_body_test.dart
Due: metrics-web-pipeline

fix: cr fixes
  .jenkins/jobs/coverage_converter.groovy
  .jenkins/jobs/monorepo.groovy
  .jenkins/jobs/sync.groovy
  .jenkins/jobs/web.groovy
  .jenkins/pipelines/ci_integrations.groovy
  .jenkins/pipelines/coverage_converter.groovy
  .jenkins/pipelines/sync.groovy
  .jenkins/pipelines/web.groovy
Due: none

feat: added jenkins pipelines
  .jenkins/jobs/ci_integrations.groovy
  .jenkins/jobs/coverage_converter.groovy
  .jenkins/jobs/sync.groovy
  .jenkins/jobs/web.groovy
  .jenkins/pipelines/ci_integrations.groovy
  .jenkins/pipelines/coverage_converter.groovy
  .jenkins/pipelines/sync.groovy
  .jenkins/pipelines/web.groovy
  .metrics/jenkins/ci_integrations_config.yml
  .metrics/jenkins/config_template.yml
  .metrics/jenkins/metrics_web_config.yml
Due: none

Move `Storing database metadata` document to the `metrics/docs` folder.
  metrics/docs/01_storing_database_metadata.md
Due: none

Storing the database metadata document
  metrics/web/docs/features/storing_database_metadata/01_storing_database_metadata.md
Due: metrics-web-pipeline

`Making things work` section improvements
  metrics/web/docs/features/storing_database_metadata/01_storing_database_metadata.md
Due: metrics-web-pipeline

Fix title level
  metrics/web/docs/features/storing_database_version/01_storing_database_version.md
Due: metrics-web-pipeline

Improve sections' summaries
  metrics/web/docs/features/storing_database_metadata/01_storing_database_metadata.md
Due: metrics-web-pipeline

Storing database version design document structure
  metrics/web/docs/features/storing_database_version/01_storing_database_version.md
Due: metrics-web-pipeline

Wording improvements
  metrics/web/docs/features/storing_database_metadata/01_storing_database_metadata.md
Due: metrics-web-pipeline

More working improvements and typo fixes
  metrics/web/docs/features/storing_database_metadata/01_storing_database_metadata.md
Due: metrics-web-pipeline

Minor wording improvements
  metrics/docs/01_storing_database_metadata.md
Due: none

Update the document name
  metrics/web/docs/features/storing_database_metadata/01_storing_database_metadata.md
Due: metrics-web-pipeline
