Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Minor fix
  metrics/firebase/functions/test/mappers/build_day_status_field_name_mapper_test.dart
Due: none

Move BuildDataDeserializer to core
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
  metrics/core/lib/metrics_core.dart
  metrics/core/lib/src/data/deserializer/build_data_deserializer.dart
  metrics/core/test/data/deserializer/build_data_deserializer_test.dart
  metrics/firebase/functions/lib/deserializers/build_data_deserializer.dart
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/web/lib/dashboard/data/repositories/firestore_metrics_repository.dart
  metrics/web/test/dashboard/data/deserializer/build_data_deserializer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Minor improvements
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/lib/models/build_day_status_field_name.dart
  metrics/firebase/functions/test/main_test.dart
  metrics/firebase/functions/test/test_utils/test_data/build_test_data_generator.dart
Due: none

Update tests. Add documentation
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/test/main_test.dart
Due: none

Minor improvements
  metrics/core/test/data/deserializer/build_data_deserializer_test.dart
  metrics/firebase/functions/test/models/task_data_code_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add Firebase section to dependencies licenses doc
  docs/16_dependencies_licenses.md
Due: none

Add successfulBuildsDuration
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/lib/models/build_day_data.dart
  metrics/firebase/functions/test/main_test.dart
  metrics/firebase/functions/test/models/build_day_data_test.dart
Due: none

Remove BuildDataDeserializer from core
  metrics/ci_integrations/lib/data/deserializer/build_data_deserializer.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/test/data/deserializer/build_data_deserializer_test.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
  metrics/core/lib/metrics_core.dart
  metrics/web/lib/dashboard/data/repositories/firestore_metrics_repository.dart
  metrics/web/test/dashboard/data/deserializer/build_data_deserializer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Review suggestions
  metrics/firebase/functions/lib/deserializers/build_data_deserializer.dart
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/lib/models/task_code.dart
  metrics/firebase/functions/lib/models/task_data.dart
  metrics/firebase/functions/lib/models/task_data_code.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/firebase/functions/test/main_test.dart
  metrics/firebase/functions/test/mappers/build_day_status_field_name_mapper_test.dart
  metrics/firebase/functions/test/models/build_day_data_test.dart
  metrics/firebase/functions/test/models/task_code_test.dart
  metrics/firebase/functions/test/models/task_data_test.dart
Due: none

Add id parameter to deserializer
  metrics/firebase/functions/lib/deserializers/build_data_deserializer.dart
Due: none

Minor documentation improvements
  metrics/firebase/functions/lib/data/task_data.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/firebase/functions/test/main_test.dart
Due: none

Review suggestions
  metrics/core/lib/metrics_core.dart
  metrics/core/lib/src/util/date.dart
  metrics/firebase/functions/lib/deserializers/build_data_deserializer.dart
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/lib/models/build_day_data.dart
  metrics/firebase/functions/lib/models/build_day_status_field.dart
  metrics/firebase/functions/lib/models/task_data.dart
  metrics/firebase/functions/lib/models/task_data_code.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/firebase/functions/test/main_test.dart
  metrics/firebase/functions/test/mappers/build_day_status_field_name_mapper_test.dart
  metrics/firebase/functions/test/models/build_day_data_test.dart
  metrics/firebase/functions/test/models/build_day_status_field_test.dart
  metrics/firebase/functions/test/models/task_data_code_test.dart
  metrics/firebase/functions/test/models/task_data_test.dart
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/lib/dashboard/presentation/widgets/date_range.dart
  metrics/web/test/dashboard/domain/usecases/receive_project_metrics_updates_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Review suggestions
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/lib/mappers/build_day_status_field_name_mapper.dart
  metrics/firebase/functions/lib/models/build_day_status_field.dart
  metrics/firebase/functions/lib/models/build_day_status_field_name.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/firebase/functions/test/main_test.dart
  metrics/firebase/functions/test/mappers/build_day_status_field_name_mapper_test.dart
  metrics/firebase/functions/test/models/build_day_data_test.dart
  metrics/firebase/functions/test/models/build_day_status_field_name_test.dart
  metrics/firebase/functions/test/models/build_day_status_field_test.dart
  metrics/firebase/functions/test/test_utils/test_data/build_test_data_generator.dart
Due: none

Review suggestions
  metrics/firebase/functions/lib/deserializers/build_data_deserializer.dart
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/lib/models/build_day_data.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/firebase/functions/test/main_test.dart
  metrics/firebase/functions/test/models/build_day_data_test.dart
  metrics/firebase/functions/test/test_utils/test_data/build_test_data_generator.dart
Due: none

Create mappers, deserializer and models
  metrics/firebase/functions/lib/data/build_day_data.dart
  metrics/firebase/functions/lib/data/build_day_status_field.dart
  metrics/firebase/functions/lib/data/task_data.dart
  metrics/firebase/functions/lib/deserializers/build_data_deserializer.dart
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/lib/mappers/build_day_status_field_name_mapper.dart
  metrics/firebase/functions/pubspec.yaml
Due: none

Add license
  metrics/firebase/functions/test/test_utils/test_data/build_test_data_generator.dart
Due: none

Add BuildDataDeserializer
  metrics/firebase/functions/lib/deserializers/build_data_deserializer.dart
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
Due: none

Add analyzer
  metrics/firebase/functions/analysis_options.yaml
  metrics/firebase/functions/lib/models/build_day_data.dart
  metrics/firebase/functions/pubspec.yaml
Due: none

Minor document improvements
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Update dependencies licenses document
  docs/16_dependencies_licenses.md
Due: none

Analyzer improvements
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/firebase/functions/test/main_test.dart
Due: none

Improve dependencies licenses document
  docs/16_dependencies_licenses.md
Due: none

Improve pubspec.yaml
  metrics/firebase/functions/pubspec.yaml
Due: none

[WIP] Improve tests
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Changes by user
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Add missing test
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Fix description
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Minor improvements
  metrics/firebase/functions/lib/deserializers/build_data_deserializer.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/firebase/functions/test/main_test.dart
Due: none

Improve documentation and test cases
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

feat: Implement onCreate Firestore Cloud Function trigger for build collection (#1340)
  docs/16_dependencies_licenses.md
  metrics/core/lib/metrics_core.dart
  metrics/core/lib/src/util/date.dart
  metrics/firebase/firebase.json
  metrics/firebase/functions/.gitignore
  metrics/firebase/functions/analysis_options.yaml
  metrics/firebase/functions/build.yaml
  metrics/firebase/functions/index.js
  metrics/firebase/functions/lib/deserializers/build_data_deserializer.dart
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/lib/mappers/build_day_status_field_name_mapper.dart
  metrics/firebase/functions/lib/models/build_day_data.dart
  metrics/firebase/functions/lib/models/build_day_status_field.dart
  metrics/firebase/functions/lib/models/build_day_status_field_name.dart
  metrics/firebase/functions/lib/models/task_code.dart
  metrics/firebase/functions/lib/models/task_data.dart
  metrics/firebase/functions/package.json
  metrics/firebase/functions/pubspec.yaml
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/firebase/functions/test/main_test.dart
  metrics/firebase/functions/test/mappers/build_day_status_field_name_mapper_test.dart
  metrics/firebase/functions/test/models/build_day_data_test.dart
  metrics/firebase/functions/test/models/build_day_status_field_name_test.dart
  metrics/firebase/functions/test/models/build_day_status_field_test.dart
  metrics/firebase/functions/test/models/task_code_test.dart
  metrics/firebase/functions/test/models/task_data_test.dart
  metrics/firebase/functions/test/test_utils/test_data/build_test_data_generator.dart
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/lib/dashboard/presentation/widgets/date_range.dart
  metrics/web/test/dashboard/domain/usecases/receive_project_metrics_updates_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Fix imports
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Fix imports #2
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

feat: Builds Aggregation - Implement Presentation layer (#1351)
  metrics/web/lib/common/data/repositories/firestore_build_day_repository.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates_stub.dart
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_day_project_metrics_updates_stub_test.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_day_project_metrics_updates_test.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Update BuildDayData data model
  metrics/web/lib/common/data/model/build_day_data.dart
  metrics/web/test/common/data/model/build_day_data_test.dart
Due: metrics-web-pipeline

Update BuildDay entity
  metrics/web/lib/common/data/model/build_day_data.dart
  metrics/web/lib/common/domain/entities/build_day.dart
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
  metrics/web/test/common/data/model/build_day_data_test.dart
  metrics/web/test/common/domain/entities/build_day_test.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_day_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Update BuildDay entity
  metrics/web/test/common/domain/entities/build_day_test.dart
Due: metrics-web-pipeline

Update PerformanceMetric documentation
  metrics/web/lib/dashboard/domain/entities/metrics/performance_metric.dart
Due: metrics-web-pipeline

Minor formatting improvements
  metrics/web/lib/common/domain/entities/build_day.dart
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
Due: metrics-web-pipeline

Minor improvements
  metrics/web/lib/common/data/model/build_day_data.dart
  metrics/web/lib/dashboard/domain/entities/metrics/performance_metric.dart
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
Due: metrics-web-pipeline

Update ReceiveBuildDayProjectMetricsUpdates with tests
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_day_project_metrics_updates_test.dart
Due: metrics-web-pipeline
