Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Update firestore validator
  metrics/ci_integrations/lib/destination/firestore/config/validator/firestore_destination_validator.dart
Due: ci-integrations-pipeline

Update firestore validator tests
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_mock.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/lib/common/presentation/navigation/route_configuration/metrics_page_route_configuration_factory.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Fix test
  metrics/web/test/common/presentation/navigation/route_configuration/metrics_page_route_configuration_factory_test.dart
Due: metrics-web-pipeline

Add metrics page route configuration factory
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/metrics_page_route_configuration_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/route_configuration/metrics_page_route_configuration_factory_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/route_configuration/metrics_page_route_configuration_factory.dart
  metrics/web/test/common/presentation/navigation/route_configuration/metrics_page_route_configuration_factory_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Update firestore validator factory with tests
  metrics/ci_integrations/lib/destination/firestore/config/validator_factory/firestore_destination_validator_factory.dart
  metrics/ci_integrations/test/destination/firestore/config/validator_factory/firestore_destination_validator_factory_test.dart
Due: ci-integrations-pipeline

Update firestore destination party with tests
  metrics/ci_integrations/lib/destination/firestore/party/firestore_destination_party.dart
  metrics/ci_integrations/test/destination/firestore/party/firestore_destination_party_test.dart
Due: ci-integrations-pipeline

[Duplicate] Add validation result builder mock. Fix tests
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_stub_mock.dart
Due: ci-integrations-pipeline

feat: Implement metrics page route configuration factory (#1508)
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/metrics_page_route_configuration_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/route_configuration/metrics_page_route_configuration_factory_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Add validation stubs
  metrics/ci_integrations/lib/integration/stub/base/config/validation_delegate/validation_delegate_stub.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator/config_validator_stub.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator_factory/config_validator_factory_stub.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator/config_validator_stub_test.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator_factory/config_validator_factory_stub_test.dart
Due: ci-integrations-pipeline

Add Dependency with tests
  metrics/cli/lib/util/dependencies/dependency.dart
  metrics/cli/test/util/dependencies/dependency_test.dart
Due: none

Minor improvements
  metrics/cli/lib/util/dependencies/dependency.dart
  metrics/cli/test/util/dependencies/dependency_test.dart
Due: none

Update doc
  metrics/ci_integrations/lib/integration/stub/base/config/validator/config_validator_stub.dart
Due: ci-integrations-pipeline

feat: Create stubs for CI Integration's validation (#1511)
  metrics/ci_integrations/lib/integration/stub/base/config/validation_delegate/validation_delegate_stub.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator/config_validator_stub.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator_factory/config_validator_factory_stub.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator/config_validator_stub_test.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator_factory/config_validator_factory_stub_test.dart
Due: ci-integrations-pipeline

feat: Implement the Dependency model (#1531)
  metrics/cli/lib/util/dependencies/dependency.dart
  metrics/cli/test/util/dependencies/dependency_test.dart
Due: none

Update validate command and config validator to use metrics core
  metrics/ci_integrations/lib/cli/command/validate_command.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validator/config_validator.dart
  metrics/ci_integrations/test/cli/command/validate_command_test.dart
Due: ci-integrations-pipeline

Add validator stubs
  metrics/ci_integrations/lib/integration/stub/base/config/validator/validator_stub.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator_factory/validator_factory_stub.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator/validator_stub_test.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator_factory/validator_factory_stub_test.dart
Due: ci-integrations-pipeline

Add config field validation conclusion
  metrics/ci_integrations/lib/integration/validation/model/config_field_validation_conclusion.dart
Due: ci-integrations-pipeline

Update Buildkite to use validation stubs
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/buildkite/party/buildkite_source_party.dart
  metrics/ci_integrations/test/source/buildkite/party/buildkite_source_party_test.dart
Due: ci-integrations-pipeline

Update GitHub to use validation stubs
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator_factory/github_actions_source_validator_factory.dart
  metrics/ci_integrations/lib/source/github_actions/party/github_actions_source_party.dart
  metrics/ci_integrations/test/source/github_actions/party/github_actions_source_party_test.dart
Due: ci-integrations-pipeline

Update Jenkins to use validation stubs
  metrics/ci_integrations/lib/source/jenkins/config/validator/jenkins_source_validator.dart
  metrics/ci_integrations/lib/source/jenkins/config/validator_factory/jenkins_source_validator_factory.dart
  metrics/ci_integrations/lib/source/jenkins/party/jenkins_source_party.dart
  metrics/ci_integrations/test/source/jenkins/party/jenkins_source_party_test.dart
Due: ci-integrations-pipeline

Update Firestore to use validation stubs
  metrics/ci_integrations/lib/destination/firestore/config/validator/firestore_destination_validator.dart
  metrics/ci_integrations/lib/destination/firestore/config/validator_factory/firestore_destination_validator_factory.dart
  metrics/ci_integrations/lib/destination/firestore/party/firestore_destination_party.dart
  metrics/ci_integrations/test/destination/firestore/party/firestore_destination_party_test.dart
Due: ci-integrations-pipeline

Add Dependencies
  metrics/cli/lib/util/dependencies/dependencies.dart
  metrics/cli/test/util/dependencies/dependencies_test.dart
Due: none

Minor improvements
  metrics/ci_integrations/lib/integration/validation/model/config_field_validation_conclusion.dart
Due: ci-integrations-pipeline

feat: Update ValidateCommand to use validation from Metrics Core (#1532)
  metrics/ci_integrations/lib/cli/command/validate_command.dart
  metrics/ci_integrations/lib/destination/firestore/config/validator/firestore_destination_validator.dart
  metrics/ci_integrations/lib/destination/firestore/config/validator_factory/firestore_destination_validator_factory.dart
  metrics/ci_integrations/lib/destination/firestore/party/firestore_destination_party.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validator/config_validator.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator/validator_stub.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator_factory/validator_factory_stub.dart
  metrics/ci_integrations/lib/integration/validation/model/config_field_validation_conclusion.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/buildkite/party/buildkite_source_party.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator_factory/github_actions_source_validator_factory.dart
  metrics/ci_integrations/lib/source/github_actions/party/github_actions_source_party.dart
  metrics/ci_integrations/lib/source/jenkins/config/validator/jenkins_source_validator.dart
  metrics/ci_integrations/lib/source/jenkins/config/validator_factory/jenkins_source_validator_factory.dart
  metrics/ci_integrations/lib/source/jenkins/party/jenkins_source_party.dart
  metrics/ci_integrations/test/cli/command/validate_command_test.dart
  metrics/ci_integrations/test/destination/firestore/party/firestore_destination_party_test.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator/validator_stub_test.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator_factory/validator_factory_stub_test.dart
  metrics/ci_integrations/test/source/buildkite/party/buildkite_source_party_test.dart
  metrics/ci_integrations/test/source/github_actions/party/github_actions_source_party_test.dart
  metrics/ci_integrations/test/source/jenkins/party/jenkins_source_party_test.dart
Due: ci-integrations-pipeline

Add DependenciesFactory
  metrics/cli/lib/util/dependencies/dependencies.dart
  metrics/cli/lib/util/dependencies/factory/dependencies_factory.dart
  metrics/cli/test/util/dependencies/factory/dependencies_factory_test.dart
Due: none

Resolve suggestions
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Add a handlePageParametersUpdates method to the NavigationNotifier
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

feat: Add a handlePageParametersUpdates method to the NavigationNotifier (#1509)
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Minor improvements
  metrics/cli/lib/util/dependencies/dependencies.dart
  metrics/cli/lib/util/dependencies/factory/dependencies_factory.dart
  metrics/cli/test/util/dependencies/dependencies_test.dart
  metrics/cli/test/util/dependencies/factory/dependencies_factory_test.dart
Due: none

[WIP] Implement public dashboard design
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_auth_class_diagram.puml
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_feature_config_class_diagram.puml
Due: metrics-web-pipeline

Minor fix
  metrics/cli/test/util/dependencies/factory/dependencies_factory_test.dart
Due: none

Add service name enum
  metrics/cli/lib/services/common/service/model/service_name.dart
Due: none

Add service name mapper
  metrics/cli/lib/services/common/service/model/mapper/service_name_mapper.dart
  metrics/cli/test/services/common/cli/auth_cli_test.dart
  metrics/cli/test/services/common/service/model/mapper/service_name_mapper_test.dart
Due: none

Minor improvements
  metrics/cli/test/util/dependencies/dependencies_test.dart
  metrics/cli/test/util/dependencies/factory/dependencies_factory_test.dart
Due: none

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
