Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Minor fix
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
Due: ci-integrations-pipeline

Update BuildResultPopupViewModel
  metrics/web/lib/dashboard/presentation/view_models/build_result_popup_view_model.dart
  metrics/web/test/dashboard/presentation/view_models/build_result_popup_view_model_test.dart
Due: metrics-web-pipeline

Update BuildResultPopupViewModel mapping in ProjectMetricsNotifier
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
Due: metrics-web-pipeline

Minor test fixes
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_component_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_test.dart
Due: metrics-web-pipeline

Add missing licence
  metrics/web/lib/dashboard/presentation/widgets/in_progress_project_build_status.dart
  metrics/web/test/dashboard/presentation/widgets/in_progress_project_build_status_test.dart
Due: metrics-web-pipeline

Add in-progress asset for BuildResultPopupCaed
  metrics/web/web/animation/in_progress_popup_build_status.riv
Due: metrics-web-pipeline

Update BuildResultPopupCard and tests
  metrics/web/lib/dashboard/presentation/widgets/build_result_popup_card.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_popup_card_test.dart
Due: metrics-web-pipeline

Implement BuildResultPopupBuildStatus widget
  metrics/web/lib/dashboard/presentation/widgets/build_result_popup_card_build_status.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_popup_card_build_status_test.dart
Due: metrics-web-pipeline

Resolve suggestions for the GithubActionsSourceClientAdapter
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
Due: ci-integrations-pipeline

Resolve suggestions for the GithubActionsSourceClientAdapter tests
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/test_utils/test_data/github_actions_test_data_generator.dart
Due: ci-integrations-pipeline

Minor fixes
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

feat: Add accept terms method to the GCloudService (#1329)
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Delete redundant tests
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

feat: Update JenkinsSourceClientAdapter in-progress builds mapping (#1326)
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

feat: Update BuildkiteSourceClientAdapter in-progress builds mapping (#1325)
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/util/url/url_utils.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/buildkite/test_utils/test_data/buildkite_test_data_generator.dart
  metrics/ci_integrations/test/util/url/url_utils_test.dart
Due: ci-integrations-pipeline

Minor fixes
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Minor fixes in tests
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
Due: ci-integrations-pipeline

feat: Update GithubActionsSourceClientAdapter in-progress builds mapping (#1327)
  metrics/ci_integrations/docs/features/in_progress_builds/in_progress_builds_introduction.md
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/test_utils/test_data/github_actions_test_data_generator.dart
Due: ci-integrations-pipeline

Add tests for the BuildPerformance entity
  metrics/web/lib/dashboard/domain/entities/metrics/build_performance.dart
  metrics/web/test/dashboard/domain/entities/metrics/build_performance_test.dart
Due: metrics-web-pipeline

Add tests for the BuildDayProjectMetrics entity
  metrics/web/lib/dashboard/domain/entities/metrics/build_day_project_metrics.dart
  metrics/web/test/dashboard/domain/entities/metrics/build_day_project_metrics_test.dart
Due: metrics-web-pipeline

Add tests for the BuildDay entity
  metrics/web/lib/common/domain/entities/build_day.dart
  metrics/web/test/common/domain/entities/build_day_test.dart
Due: metrics-web-pipeline

Add tests for the BuildDay entity
  metrics/web/lib/common/domain/entities/build_day.dart
Due: metrics-web-pipeline

Minor fixes in ReceiveBuildDayProjectMetricsUpdates
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
Due: metrics-web-pipeline

Fix review suggestions
  metrics/cli/lib/common/model/metrics_web_config.dart
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/strings/deploy_strings.dart
  metrics/cli/lib/sentry/model/sentry_config.dart
  metrics/cli/pubspec.yaml
  metrics/cli/test/common/model/metrics_web_config_test.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/sentry/model/sentry_config_test.dart
  metrics/core/lib/metrics_core.dart
  metrics/core/lib/src/domain/entities/metrics_config.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/metrics_app/metrics_app.dart
  metrics/web/lib/platform/stub/metrics_config/metrics_config_factory.dart
  metrics/web/lib/platform/web/metrics_config/metrics_config_factory.dart
  metrics/web/lib/platform/web/metrics_config/web_metrics_config.dart
  metrics/web/test/common/presentation/injector/widget/injection_container_test.dart
  metrics/web/test/test_utils/metrics_config_stub.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Improve documentation
  metrics/cli/lib/sentry/model/sentry_config.dart
Due: none

Fix tests
  metrics/cli/test/deploy/deployer_test.dart
Due: none

Add tests for the ReceiveBuildDayProjectMetricsUpdates class, minor fixes
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
  metrics/web/test/dashboard/domain/entities/metrics/receive_build_day_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Improve the temporary directory name
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/factory/deployer_factory.dart
  metrics/cli/pubspec.yaml
  metrics/cli/test/deploy/constants/deploy_constants_test.dart
  metrics/cli/test/deploy/deployer_test.dart
Due: none

Improve documentation
  docs/16_dependencies_licenses.md
  metrics/cli/lib/deploy/constants/deploy_constants.dart
Due: none

Minor fix
  metrics/web/test/dashboard/domain/entities/metrics/receive_build_day_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Minor documentation and naming improvements
  metrics/web/lib/dashboard/domain/entities/metrics/build_performance.dart
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
Due: metrics-web-pipeline

Improve tests
  metrics/cli/test/deploy/deployer_test.dart
Due: none

Rename widget and typedef, improve tests
  metrics/web/lib/common/presentation/widgets/metrics_theme_image.dart
  metrics/web/lib/common/presentation/widgets/theme_mode_builder.dart
  metrics/web/lib/common/presentation/widgets/theme_type_builder.dart
  metrics/web/test/common/presentation/widgets/metrics_theme_image_test.dart
  metrics/web/test/common/presentation/widgets/theme_mode_builder_test.dart
Due: metrics-web-pipeline

Improve clock usage
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/factory/deployer_factory.dart
  metrics/cli/test/deploy/deployer_test.dart
Due: none

Resolve the suggestions for the BuildDay entity
  metrics/web/lib/common/domain/entities/build_day.dart
Due: metrics-web-pipeline

Resolve the suggestions for the BuildDayRepository
  metrics/web/lib/common/domain/repositories/build_day_repository.dart
Due: metrics-web-pipeline

Resolve the suggestions for the BuildDayProjectMetrics entity
  metrics/web/lib/dashboard/domain/entities/metrics/build_day_project_metrics.dart
Due: metrics-web-pipeline

Resolve the suggestions for the BuildPerformance entity
  metrics/web/lib/dashboard/domain/entities/metrics/build_performance.dart
Due: metrics-web-pipeline

Resolve the suggestions for the ReceiveBuildDayProjectMetricsUpdates
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
Due: metrics-web-pipeline
