Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Rename initialFetchLimit to initialSyncLimit
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/test_util/test_data/config_test_data.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/config/model/sync_config_test.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Resolve merge conflicts
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
Due: ci-integrations-pipeline

Fix conflicts
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Fix documentation
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
Due: ci-integrations-pipeline

Fix analyzer issue
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
Due: ci-integrations-pipeline

Resolve merge conflicts
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
Due: ci-integrations-pipeline

Fix using IOLoggerWriter in tests
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
Due: ci-integrations-pipeline

Rename initialFetchLimit to firstSyncFetchLimit. Minor fixes
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/lib/util/validator/number_validator.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Improve documentation
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
Due: ci-integrations-pipeline

Update CI Integrations User Guide
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
Due: ci-integrations-pipeline

Improve documentation. Minor fixes
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Refactor numberValidator. Improve doc
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/lib/util/validator/number_validator.dart
  metrics/ci_integrations/test/util/validator/number_validator_test.dart
Due: ci-integrations-pipeline

feat: Pass fetch limit as an argument (#1011)
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/client_factory/github_actions_source_client_factory.dart
  metrics/ci_integrations/lib/source/github_actions/party/github_actions_source_party.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/lib/util/validator/number_validator.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/test_util/test_data/config_test_data.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/config/model/sync_config_test.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
  metrics/ci_integrations/test/util/validator/number_validator_test.dart
Due: ci-integrations-pipeline

add prod sync pipeline
  .buildkite/pipelines/prod_sync_pipeline.yml
  .metrics/buildkite/prod_integration_config.yml
Due: none

add prod sync pipeline (#1027)
  .buildkite/pipelines/prod_sync_pipeline.yml
  .metrics/buildkite/prod_integration_config.yml
Due: none

change variables names to match dev ones
  .metrics/buildkite/prod_integration_config.yml
Due: none

fix: Change names of Environment Variables
  .metrics/buildkite/prod_integration_config.yml
Due: none

Implement tests.
  metrics/cli/lib/cli/firebase/firebase_command.dart
  metrics/cli/lib/cli/flutter/flutter_command.dart
  metrics/cli/lib/cli/gcloud/gcloud_command.dart
  metrics/cli/lib/cli/git/git_command.dart
  metrics/cli/lib/cli/npm/npm_command.dart
  metrics/cli/lib/constants/config_constants.dart
  metrics/cli/lib/deploy/deploy_command.dart
  metrics/cli/lib/doctor/doctor_command.dart
  metrics/cli/lib/runner/metrics_command_runner.dart
  metrics/cli/lib/util/file_helper.dart
  metrics/cli/test/deploy/deploy_command_test.dart
  metrics/cli/test/doctor/doctor_command_test.dart
  metrics/cli/test/runner/metrics_command_runner_test.dart
  metrics/cli/test/test_util/called_once_verification_result.dart
  metrics/cli/test/test_util/mocks.dart
  metrics/cli/test/test_util/prompt_wrapper_mock.dart
  metrics/cli/test/util/file_helper_test.dart
  metrics/cli/test/util/prompt_util_test.dart
Due: none

chore: set initial sync limit to 2k and add -v
  .buildkite/pipelines/prod_sync_pipeline.yml
Due: none

Update class diagram
  metrics/cli/docs/diagrams/deploy_tool_class_diagram.puml
  metrics/cli/lib/util/file_helper.dart
Due: none

Change diagrams. Improve namings.
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/deploy_tool_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/metrics_runner_class_diagram.puml
  metrics/cli/lib/cli/firebase/firebase_command.dart
  metrics/cli/lib/cli/gcloud/gcloud_command.dart
  metrics/cli/lib/cli/git/git_command.dart
  metrics/cli/lib/cli/npm/npm_command.dart
  metrics/cli/lib/deploy/deploy_command.dart
  metrics/cli/test/deploy/deploy_command_test.dart
Due: none

Add models
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_organization.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_pipeline.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_organization_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_pipeline_test.dart
Due: ci-integrations-pipeline

Minor fixes to BuildkitePipeline and BuildkiteOrganization models
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_organization.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_pipeline.dart
Due: ci-integrations-pipeline

Implement BuildkiteTokenPermission[Mapper] with tests
  metrics/ci_integrations/lib/client/buildkite/mappers/buildkite_token_permission_mapper.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token_permission.dart
  metrics/ci_integrations/test/client/buildkite/mappers/buildkite_token_permission_mapper_test.dart
Due: ci-integrations-pipeline

Implement BuildkiteToken model and tests
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token_permission.dart
  metrics/ci_integrations/test/client/buildkite/mappers/buildkite_build_state_mapper_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_token_test.dart
Due: ci-integrations-pipeline

Rename BuildkiteTokenPermission to BuildkiteTokenScope and all occurrences
  metrics/ci_integrations/lib/client/buildkite/mappers/buildkite_token_permission_mapper.dart
  metrics/ci_integrations/lib/client/buildkite/mappers/buildkite_token_scope_mapper.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token_permission.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token_scope.dart
  metrics/ci_integrations/test/client/buildkite/mappers/buildkite_token_permission_mapper_test.dart
  metrics/ci_integrations/test/client/buildkite/mappers/buildkite_token_scope_mapper_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_token_test.dart
Due: ci-integrations-pipeline

Extend models, extend tests, fix descriptions
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_organization.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_pipeline.dart
  metrics/ci_integrations/test/client/buildkite/mappers/buildkite_token_scope_mapper_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_organization_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_pipeline_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_token_test.dart
Due: ci-integrations-pipeline

Minor improvements and readability fixes
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token.dart
  metrics/ci_integrations/test/client/buildkite/mappers/buildkite_token_scope_mapper_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_token_test.dart
Due: ci-integrations-pipeline

Improve documentation. Fix tests
  metrics/ci_integrations/lib/client/buildkite/mappers/buildkite_token_scope_mapper.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token_scope.dart
  metrics/ci_integrations/test/client/buildkite/mappers/buildkite_token_scope_mapper_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_organization_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_pipeline_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_token_test.dart
Due: ci-integrations-pipeline

Fix formatting
  metrics/ci_integrations/test/client/buildkite/models/buildkite_organization_test.dart
Due: ci-integrations-pipeline

feat: Implement Buildkite Validation Models (#1031)
  metrics/ci_integrations/lib/client/buildkite/mappers/buildkite_token_scope_mapper.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_organization.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_pipeline.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token.dart
  metrics/ci_integrations/lib/client/buildkite/models/buildkite_token_scope.dart
  metrics/ci_integrations/test/client/buildkite/mappers/buildkite_build_state_mapper_test.dart
  metrics/ci_integrations/test/client/buildkite/mappers/buildkite_token_scope_mapper_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_organization_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_pipeline_test.dart
  metrics/ci_integrations/test/client/buildkite/models/buildkite_token_test.dart
Due: ci-integrations-pipeline

feat: Jenkins pipelines added
  .jenkins/dockerfiles/testmnrp/flutter-chromedriver/Dockerfile
  .jenkins/dockerfiles/testmnrp/sync-builddata/Dockerfile
  .jenkins/jobs/ci_integrations.groovy
  .jenkins/jobs/coverage_converter.groovy
  .jenkins/jobs/dockerfile_build.groovy
  .jenkins/jobs/job_runner.groovy
  .jenkins/jobs/sync_build_data.groovy
  .jenkins/jobs/web.groovy
  .jenkins/pipelines/ci_integrations.groovy
  .jenkins/pipelines/coverage_converter.groovy
  .jenkins/pipelines/dockerfile_build.groovy
  .jenkins/pipelines/job_runner.groovy
  .jenkins/pipelines/sync_build_data.groovy
  .jenkins/pipelines/web.groovy
  .jenkins/shared-library/vars/buildListAppender.groovy
  .jenkins/shared-library/vars/commonDartBuild.groovy
  .jenkins/shared-library/vars/commonFlutterBuild.groovy
  .jenkins/shared-library/vars/getChangeList.groovy
  .jenkins/shared-library/vars/runCommand.groovy
  .jenkins/shared-library/vars/triggerBuilds.groovy
  .metrics/jenkins/ci_integrations_config.yml
  .metrics/jenkins/config_template.yml
  .metrics/jenkins/metrics_web_config.yml
Due: none

Upgrade firebase sdk version
  docs/09_firebase_deployment.md
  docs/19_security_audit_document.md
  metrics/web/web/index.html
Due: metrics-web-pipeline

Fix suggestions
  docs/09_firebase_deployment.md
  docs/19_security_audit_document.md
Due: none

build: Upgrade Firebase SDK version (#1035)
  docs/09_firebase_deployment.md
  docs/19_security_audit_document.md
  metrics/web/web/index.html
Due: metrics-web-pipeline

change stability metrics calculation
  docs/05_project_metrics.md
  docs/06_metrics_dashboard.md
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
  metrics/web/lib/dashboard/presentation/strings/dashboard_strings.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_metrics_updates_test.dart
Due: metrics-web-pipeline
