Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

feat: Implement Dependencies and DependenciesFactory (#1533)
  metrics/cli/lib/util/dependencies/dependencies.dart
  metrics/cli/lib/util/dependencies/factory/dependencies_factory.dart
  metrics/cli/test/util/dependencies/dependencies_test.dart
  metrics/cli/test/util/dependencies/factory/dependencies_factory_test.dart
Due: none

Minor improvements
  metrics/cli/lib/services/common/service/model/mapper/service_name_mapper.dart
  metrics/cli/lib/services/common/service/model/service_name.dart
Due: none

feat: Implement ServiceName and ServiceNameMapper (#1536)
  metrics/cli/lib/services/common/service/model/mapper/service_name_mapper.dart
  metrics/cli/lib/services/common/service/model/service_name.dart
  metrics/cli/test/services/common/cli/auth_cli_test.dart
  metrics/cli/test/services/common/service/model/mapper/service_name_mapper_test.dart
Due: none

Update services to include ServiceName
  metrics/cli/lib/services/common/info_service.dart
  metrics/cli/lib/services/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/services/firebase/firebase_service.dart
  metrics/cli/lib/services/flutter/adapter/flutter_cli_service_adapter.dart
  metrics/cli/lib/services/flutter/flutter_service.dart
  metrics/cli/lib/services/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/services/gcloud/gcloud_service.dart
  metrics/cli/lib/services/git/adapter/git_cli_service_adapter.dart
  metrics/cli/lib/services/git/git_service.dart
  metrics/cli/lib/services/npm/adapter/npm_cli_service_adapter.dart
  metrics/cli/lib/services/npm/npm_service.dart
  metrics/cli/lib/services/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/services/sentry/sentry_service.dart
Due: none

Fix the validation result builder
  metrics/core/lib/src/util/validation/validation_result_builder.dart
  metrics/core/test/util/validation/validation_result_builder_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Fix typo
  metrics/core/test/util/validation/validation_result_builder_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add Jenkins auth validation result
  metrics/ci_integrations/lib/source/jenkins/config/model/jenkins_source_auth_validation_result.dart
  metrics/ci_integrations/test/source/jenkins/config/model/jenkins_source_auth_validation_result_test.dart
Due: ci-integrations-pipeline

Update Jenkins source validation delegate
  metrics/ci_integrations/lib/source/jenkins/config/validation_delegate/jenkins_source_validation_delegate.dart
  metrics/ci_integrations/test/source/jenkins/config/validation_delegate/jenkins_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Implement public dashboard design
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_architecture_class.puml
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_auth_class_diagram.puml
Due: metrics-web-pipeline

Minor fixes
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_architecture_class.puml
Due: metrics-web-pipeline

Minor fixes x2
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_architecture_class.puml
Due: metrics-web-pipeline

Update Jenkins source auth validation result
  metrics/ci_integrations/lib/source/jenkins/config/model/jenkins_source_auth_validation_result.dart
  metrics/ci_integrations/test/source/jenkins/config/model/jenkins_source_auth_validation_result_test.dart
Due: ci-integrations-pipeline

Update Jenkins source validator
  metrics/ci_integrations/lib/source/jenkins/config/validator/jenkins_source_validator.dart
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/test/source/jenkins/config/validation_delegate/jenkins_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

[WIP] Add firestore destination auth validation result
  metrics/ci_integrations/lib/cli/command/validate_command.dart
  metrics/ci_integrations/lib/destination/firestore/config/model/firestore_destination_auth_validation_result.dart
Due: ci-integrations-pipeline

fix: Fix ValidationResultBuilder (#1539)
  metrics/core/lib/src/util/validation/validation_result_builder.dart
  metrics/core/test/util/validation/validation_result_builder_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Minor improvement
  metrics/web/lib/common/presentation/navigation/widgets/page_parameters_proxy.dart
Due: metrics-web-pipeline

Improve docs for the PageNotifier
  metrics/web/lib/common/presentation/state/page_notifier.dart
Due: metrics-web-pipeline

Implement PageParametersProxy and PageNotifier
  metrics/web/lib/common/presentation/navigation/widgets/page_parameters_proxy.dart
  metrics/web/lib/common/presentation/state/page_notifier.dart
  metrics/web/test/common/presentation/navigation/widgets/page_parameters_proxy_test.dart
  metrics/web/test/test_utils/page_notifier_mock.dart
  metrics/web/test/test_utils/test_injection_container.dart
Due: metrics-web-pipeline

Add license
  metrics/web/lib/common/presentation/navigation/widgets/page_parameters_proxy.dart
  metrics/web/lib/common/presentation/state/page_notifier.dart
  metrics/web/test/common/presentation/navigation/widgets/page_parameters_proxy_test.dart
Due: metrics-web-pipeline

Add getter for the PageParametersProxy widget
  metrics/web/lib/common/presentation/navigation/widgets/page_parameters_proxy.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/widgets/page_parameters_proxy.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/widgets/page_parameters_proxy.dart
  metrics/web/lib/common/presentation/state/page_notifier.dart
  metrics/web/test/common/presentation/navigation/widgets/page_parameters_proxy_test.dart
Due: metrics-web-pipeline

Improve documentation
  metrics/cli/lib/services/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/services/flutter/adapter/flutter_cli_service_adapter.dart
  metrics/cli/lib/services/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/services/git/adapter/git_cli_service_adapter.dart
  metrics/cli/lib/services/npm/adapter/npm_cli_service_adapter.dart
  metrics/cli/lib/services/sentry/adapter/sentry_cli_service_adapter.dart
Due: none

feat: Implement PageNotifier interface and PageParametersProxy widget (#1535)
  metrics/web/lib/common/presentation/navigation/widgets/page_parameters_proxy.dart
  metrics/web/lib/common/presentation/state/page_notifier.dart
  metrics/web/test/common/presentation/navigation/widgets/page_parameters_proxy_test.dart
  metrics/web/test/test_utils/page_notifier_mock.dart
  metrics/web/test/test_utils/test_injection_container.dart
Due: metrics-web-pipeline

Update Buildkite source validation target
  metrics/ci_integrations/lib/source/buildkite/config/model/buildkite_source_validation_target.dart
  metrics/ci_integrations/test/source/buildkite/config/model/buildkite_source_validation_target_test.dart
Due: ci-integrations-pipeline

Update Buildkite source validation delegate
  metrics/ci_integrations/lib/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate.dart
  metrics/ci_integrations/test/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Rename files
  metrics/ci_integrations/lib/source/buildkite/config/model/buildkite_source_validation_target.dart
  metrics/ci_integrations/test/source/buildkite/config/model/buildkite_source_validation_target_test.dart
Due: ci-integrations-pipeline

Update Buildkite source validator
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_mock.dart
Due: ci-integrations-pipeline

Minor improvement
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
Due: ci-integrations-pipeline

Update Buildkite source validator factory
  metrics/ci_integrations/lib/source/buildkite/config/validator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/test/source/buildkite/config/validator_factory/buildkite_source_validator_factory_test.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Update validation result builder mock
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/core_validation_result_builder_mock.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_mock.dart
Due: ci-integrations-pipeline

Update Buildkite source party
  metrics/ci_integrations/lib/source/buildkite/party/buildkite_source_party.dart
  metrics/ci_integrations/test/source/buildkite/party/buildkite_source_party_test.dart
Due: ci-integrations-pipeline

Minor improvement
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/test/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Fix tests
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
  metrics/ci_integrations/test/integration/validation/printer/validation_result_printer_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_stub_mock.dart
Due: ci-integrations-pipeline

Update buildkite source validator
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

feat: Update services to include ServiceName (#1537)
  metrics/cli/lib/services/common/info_service.dart
  metrics/cli/lib/services/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/services/firebase/firebase_service.dart
  metrics/cli/lib/services/flutter/adapter/flutter_cli_service_adapter.dart
  metrics/cli/lib/services/flutter/flutter_service.dart
  metrics/cli/lib/services/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/services/gcloud/gcloud_service.dart
  metrics/cli/lib/services/git/adapter/git_cli_service_adapter.dart
  metrics/cli/lib/services/git/git_service.dart
  metrics/cli/lib/services/npm/adapter/npm_cli_service_adapter.dart
  metrics/cli/lib/services/npm/npm_service.dart
  metrics/cli/lib/services/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/services/sentry/sentry_service.dart
Due: none

Improve tests description
  metrics/ci_integrations/test/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Add config field target validation result
  metrics/ci_integrations/lib/integration/validation/model/config_field_target_validation_result.dart
  metrics/ci_integrations/test/integration/validation/model/config_field_target_validation_result_test.dart
Due: ci-integrations-pipeline
