Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Minor formatting fix
  metrics/web/test/common/presentation/widgets/in_progress_animated_bar_test.dart
Due: metrics-web-pipeline

feat: Implement MetricsAnimatedBar (#1260)
  metrics/web/lib/base/presentation/graphs/animated_bar.dart
  metrics/web/lib/base/presentation/widgets/rive_animation.dart
  metrics/web/lib/common/presentation/widgets/in_progress_animated_bar.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table.dart
  metrics/web/pubspec.yaml
  metrics/web/test/base/presentation/graphs/animated_bar_test.dart
  metrics/web/test/base/presentation/graphs/colored_bar_test.dart
  metrics/web/test/common/presentation/widgets/in_progress_animated_bar_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_component_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_results_metric_graph_test.dart
  metrics/web/test/test_utils/presentation/widgets/rive_animation_testbed.dart
  metrics/web/test/test_utils/rive_asset_bundle_stub.dart
  metrics/web/web/animation/in_progress_bar.riv
  metrics/web/web/animation/in_progress_bar_hover.riv
Due: metrics-web-pipeline

create the document in in-progress builds introduction
  metrics/ci_integrations/docs/diagrams/sync_algorithm_class_diagram.puml
  metrics/ci_integrations/docs/features/in_progress_builds/diagrams/destination_clients_class_diagram.puml
  metrics/ci_integrations/docs/features/in_progress_builds/diagrams/source_clients_class_diagram.puml
  metrics/ci_integrations/docs/features/in_progress_builds/diagrams/sync_command_class_diagram.puml
  metrics/ci_integrations/docs/features/in_progress_builds/in_progress_builds_introduction.md
Due: ci-integrations-pipeline

fix language
  metrics/ci_integrations/docs/features/in_progress_builds/in_progress_builds_introduction.md
Due: ci-integrations-pipeline

Fix review suggestions
  metrics/cli/lib/doctor/doctor.dart
  metrics/cli/test/doctor/doctor_test.dart
Due: none

feat: Extract DateRange widget (#1265)
  metrics/web/lib/common/presentation/metrics_theme/model/build_result_bar_graph/theme_data/build_result_bar_graph_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/date_range/theme_data/date_range_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/project_group_card_theme_data.dart
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/lib/dashboard/presentation/view_models/build_result_metric_view_model.dart
  metrics/web/lib/dashboard/presentation/view_models/date_range_view_model.dart
  metrics/web/lib/dashboard/presentation/widgets/build_results_metric_graph.dart
  metrics/web/lib/dashboard/presentation/widgets/date_range.dart
  metrics/web/test/common/presentation/metrics_theme/model/dark_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/date_range/theme_data/date_range_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/light_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/metrics_theme_data_test.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
  metrics/web/test/dashboard/presentation/view_models/build_result_metric_view_model_test.dart
  metrics/web/test/dashboard/presentation/view_models/date_range_view_model_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_results_metric_graph_test.dart
  metrics/web/test/dashboard/presentation/widgets/date_range_test.dart
Due: metrics-web-pipeline

Add in-progress-timeout option
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/test_util/test_data/config_test_data.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/config/model/sync_config_test.dart
Due: ci-integrations-pipeline

Fix review suggestions
  metrics/cli/lib/doctor/doctor.dart
Due: none

review suggestions
  metrics/ci_integrations/docs/06_builds_synchronization.md
  metrics/ci_integrations/docs/features/in_progress_builds/in_progress_builds_introduction.md
Due: ci-integrations-pipeline

review suggestions
  metrics/ci_integrations/docs/features/in_progress_builds/in_progress_builds_introduction.md
Due: ci-integrations-pipeline

Minor improvements
  metrics/cli/lib/doctor/command/doctor_command.dart
Due: none

feat: Implement Doctor (#1264)
  docs/16_dependencies_licenses.md
  metrics/cli/lib/cli/firebase/firebase_command.dart
  metrics/cli/lib/cli/flutter/flutter_command.dart
  metrics/cli/lib/cli/gcloud/gcloud_command.dart
  metrics/cli/lib/cli/git/git_command.dart
  metrics/cli/lib/deploy/command/deploy_command.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/doctor/command/doctor_command.dart
  metrics/cli/lib/doctor/doctor.dart
  metrics/cli/lib/doctor/doctor_command.dart
  metrics/cli/lib/doctor/factory/doctor_factory.dart
  metrics/cli/lib/interfaces/cli/cli.dart
  metrics/cli/lib/runner/metrics_cli_runner.dart
  metrics/cli/pubspec.yaml
  metrics/cli/test/deploy/command/deploy_command_test.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/doctor/command/doctor_command_test.dart
  metrics/cli/test/doctor/doctor_command_test.dart
  metrics/cli/test/doctor/doctor_test.dart
  metrics/cli/test/doctor/factory/doctor_factory_test.dart
  metrics/cli/test/runner/metrics_cli_runner_test.dart
  metrics/cli/test/test_utils/firebase_command_mock.dart
  metrics/cli/test/test_utils/git_command_mock.dart
  metrics/cli/test/test_utils/services_factory_mock.dart
  metrics/cli/test/test_utils/services_mock.dart
Due: none

Minor fixes
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/config/model/sync_config.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
Due: ci-integrations-pipeline

Implement NpmService
  metrics/cli/lib/common/factory/services_factory.dart
  metrics/cli/lib/common/model/services.dart
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/doctor/doctor.dart
  metrics/cli/lib/npm/adapter/npm_cli_service_adapter.dart
  metrics/cli/lib/npm/service/npm_service.dart
  metrics/cli/test/common/factory/services_factory_test.dart
  metrics/cli/test/common/model/services_test.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/doctor/doctor_test.dart
  metrics/cli/test/npm/adapter/npm_cli_service_adapter_test.dart
  metrics/cli/test/test_utils/npm_service_mock.dart
Due: none

Add .fetchBuild() method to the BuildkiteClient
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
Due: ci-integrations-pipeline

Update SourceClient interface, update SourceClientStub
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
Due: ci-integrations-pipeline

Update DestinationClient interface, update FirestoreDestinationClientAdapter and stub
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/integration/interface/destination/client/destination_client.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/destination_client_stub.dart
Due: ci-integrations-pipeline

Update GithubActionsSourceClientAdapter
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Update BuildkiteSourceClientAdapter
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Update JenkinsSourceClientAdapter
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Add tests for .fetchBuilds() method, minor fixes in mock server
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/firebase/docs/analysis/01_using_dart_in_the_firebase_cloud_functions.md
Due: none

Fix requirements section
  metrics/firebase/docs/analysis/01_using_dart_in_the_firebase_cloud_functions.md
Due: none

Remove extra empty line
  metrics/docs/03_using_dart_in_the_firebase_cloud_functions.md
Due: none

Add Analysis part
  metrics/docs/03_using_dart_in_the_firebase_cloud_functions.md
Due: none

Review suggestions
  metrics/firebase/docs/analysis/01_using_dart_in_the_firebase_cloud_functions.md
Due: none

Review suggestions #2
  metrics/firebase/docs/analysis/01_using_dart_in_the_firebase_cloud_functions.md
Due: none

Documentation improvements
  metrics/firebase/docs/analysis/01_using_dart_in_the_firebase_cloud_functions.md
Due: none

docs: Cloud Functions using Dart Analysis doc (#1266)
  metrics/firebase/docs/analysis/01_using_dart_in_the_firebase_cloud_functions.md
Due: none

Update interface namings
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/integration/ci/test_utils/stub/source_client_stub.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
Due: ci-integrations-pipeline

fix description of the method
  metrics/ci_integrations/docs/features/in_progress_builds/in_progress_builds_introduction.md
Due: ci-integrations-pipeline

Improve documentation
  metrics/ci_integrations/lib/integration/interface/destination/client/destination_client.dart
  metrics/ci_integrations/lib/integration/interface/source/client/source_client.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/lib/integration/interface/destination/client/destination_client.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
Due: ci-integrations-pipeline

Improve Doctor and Deployer
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/doctor/doctor.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/deploy/factory/deployer_factory_test.dart
  metrics/cli/test/doctor/doctor_test.dart
  metrics/cli/test/doctor/factory/doctor_factory_test.dart
Due: none

Minor fixes
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
Due: ci-integrations-pipeline

Fix typo
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
Due: ci-integrations-pipeline

feat: Extend the BuildkiteClient to include the `fetchBuild` method (#1275)
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
Due: ci-integrations-pipeline
