Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Refactor addCoverageData method
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/builds_sync_stage.dart
Due: ci-integrations-pipeline

Minor fixes
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/builds_sync_stage.dart
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Add tests for NewBuildsSyncStage
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/new_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Update CI Integration
  metrics/ci_integrations/lib/cli/command/sync_command.dart
Due: ci-integrations-pipeline

Update CI Integration tests
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
Due: ci-integrations-pipeline

Update CI Integration class
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
Due: ci-integrations-pipeline

Fix rebase changes
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/new_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Add `required` annotation
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
Due: ci-integrations-pipeline

Fix matchers
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/new_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Fix matchers (#1305)
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/new_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Improve imports
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
Due: ci-integrations-pipeline

Improve imports, fix tests
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
Due: ci-integrations-pipeline

Review suggestions
  metrics/firebase/docs/01_firestore_builds_aggregation_design.md
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Minor documentation improvements
  metrics/firebase/docs/01_firestore_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/builds_aggregation_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/builds_aggregation_domain_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/failed_builds_aggregation_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/failed_builds_aggregation_domain_layer_class_diagram.puml
Due: metrics-web-pipeline

Add more details to testing section, other minor fixes
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Add sequence diagram
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_builds_aggregation_sequence_diagram.puml
Due: none

Fix Firestore section of the design
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
Due: metrics-web-pipeline

Minor fix
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Minor documentation improvements
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Minor improvements
  metrics/firebase/docs/01_firestore_builds_aggregation_design.md
Due: none

Review suggestions
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_create_builds_aggregation_sequence_diagram.puml
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_update_builds_aggregation_sequence_diagram.puml
Due: none

Minor documentation fix
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Minor fix
  metrics/firebase/docs/01_firestore_builds_aggregation_design.md
Due: none

Move composite id info into the document structure section
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Fix links
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Add a basic firestore section to the builds aggregation design
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/builds_aggregation_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/builds_aggregation_domain_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/failed_builds_aggregation_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/failed_builds_aggregation_domain_layer_class_diagram.puml
Due: metrics-web-pipeline

Improve documentation. Split sequence diagram
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_builds_aggregation_sequence_diagram.puml
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_create_builds_aggregation_sequence_diagram.puml
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_update_builds_aggregation_sequence_diagram.puml
Due: none

Minor fix in testing section
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Add a Testing section
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Rename collection's fields
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

Add info about composite id. Fix diagrams
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_create_builds_aggregation_sequence_diagram.puml
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_update_builds_aggregation_sequence_diagram.puml
Due: none

docs: Firebase builds aggregation design document (#1296)
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_create_builds_aggregation_sequence_diagram.puml
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_update_builds_aggregation_sequence_diagram.puml
Due: none

Resolve suggestions for the FirestoreDestinationClientAdapter
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
Due: ci-integrations-pipeline

Resolve suggestions for the FirestoreDestinationClientAdapter tests
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
Due: ci-integrations-pipeline

Improve SyncStagesFactory, rename the class
  metrics/ci_integrations/lib/integration/ci/sync_stage/factory/sync_stages_factory.dart
  metrics/ci_integrations/test/integration/ci/sync_stage/factory/sync_stages_factory_test.dart
Due: ci-integrations-pipeline

Improve CiIntegration, fix and improve result messages
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/new_builds_sync_stage.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
Due: ci-integrations-pipeline

Minor fixes
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
Due: ci-integrations-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
