Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Update package and file names to match the document name
  metrics/web/docs/features/supported_database_version/01_supported_database_version.md
  metrics/web/docs/features/supported_database_version/diagrams/database_finished_updating_sequence_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_data_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_domain_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_presentation_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_sequence_diagram.puml
Due: metrics-web-pipeline

Improve `Making things work` section
  metrics/web/docs/features/database_metadata/01_database_metadata.md
  metrics/web/docs/features/database_metadata/diagrams/database_finished_updating_sequence_diagram.puml
  metrics/web/docs/features/database_metadata/diagrams/metadata_domain_class_diagram.puml
  metrics/web/docs/features/database_metadata/diagrams/metadata_presentation_class_diagram.puml
Due: metrics-web-pipeline

Add missing dependencies into the presentation layer class diagram
  metrics/web/docs/features/database_metadata/diagrams/metadata_presentation_class_diagram.puml
Due: metrics-web-pipeline

Database metadata design document
  metrics/web/docs/features/database_metadata/01_database_metadata.md
  metrics/web/docs/features/database_metadata/diagrams/metadata_data_class_diagram.puml
  metrics/web/docs/features/database_metadata/diagrams/metadata_domain_class_diagram.puml
  metrics/web/docs/features/database_metadata/diagrams/metadata_presentation_class_diagram.puml
  metrics/web/docs/features/database_metadata/diagrams/metadata_sequence_diagram.puml
Due: metrics-web-pipeline

Make links point to master
  metrics/web/docs/features/supported_database_version/01_supported_database_version.md
Due: metrics-web-pipeline

Fix links
  metrics/docs/01_storing_database_metadata.md
Due: none

docs: Metrics Web supported database version design (#1081)
  metrics/docs/01_storing_database_metadata.md
  metrics/web/docs/features/supported_database_version/01_supported_database_version.md
  metrics/web/docs/features/supported_database_version/diagrams/database_finished_updating_sequence_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_data_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_domain_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_presentation_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_sequence_diagram.puml
Due: metrics-web-pipeline

fix: fixed prod sync pipeline
  .buildkite/pipelines/prod_sync_pipeline.yml
Due: none

fix: fixed prod sync pipeline (#1087)
  .buildkite/pipelines/prod_sync_pipeline.yml
Due: none

Minor fix
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/lib/common/presentation/metrics_app/metrics_app.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
Due: metrics-web-pipeline

Add tests
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/test/common/presentation/metrics_theme/model/build_result_bar_graph/theme_data/build_result_bar_graph_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/dark_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/light_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/metrics_theme_data_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_graph_test.dart
Due: metrics-web-pipeline

Fix tests and colors
  metrics/web/lib/common/presentation/metrics_theme/config/color_config.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_graph_test.dart
Due: metrics-web-pipeline

add space
  metrics/web/lib/dashboard/presentation/widgets/metrics_table.dart
Due: metrics-web-pipeline

Add date range
  metrics/web/lib/common/presentation/metrics_theme/config/color_config.dart
  metrics/web/lib/common/presentation/metrics_theme/model/build_result_bar_graph/theme_data/build_result_bar_graph_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/metrics_theme_data.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table.dart
Due: metrics-web-pipeline

Fix colors
  metrics/web/lib/common/presentation/metrics_app/metrics_app.dart
  metrics/web/lib/common/presentation/metrics_theme/config/color_config.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
Due: metrics-web-pipeline

Add space in license banner
  metrics/web/lib/common/presentation/metrics_app/metrics_app.dart
  metrics/web/lib/common/presentation/metrics_theme/config/color_config.dart
Due: metrics-web-pipeline

Fixes and improvements
  metrics/web/lib/common/presentation/metrics_theme/model/build_result_bar_graph/theme_data/build_result_bar_graph_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/test/common/presentation/metrics_theme/model/build_result_bar_graph/theme_data/build_result_bar_graph_theme_data_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_graph_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_graph_test.dart
Due: metrics-web-pipeline

feat: Add a date range to the bar chart (#1091)
  metrics/web/lib/common/presentation/metrics_theme/model/build_result_bar_graph/theme_data/build_result_bar_graph_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/metrics_theme_data.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/test/common/presentation/metrics_theme/model/build_result_bar_graph/theme_data/build_result_bar_graph_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/dark_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/light_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/metrics_theme_data_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_graph_test.dart
Due: metrics-web-pipeline

Improve interfaces
  metrics/ci_integrations/lib/integration/interface/base/config/model/builder/validation_result_builder.dart
  metrics/ci_integrations/lib/integration/interface/base/config/validator/config_validator.dart
  metrics/ci_integrations/lib/integration/interface/destination/config/model/builder/destination_validation_result_builder.dart
  metrics/ci_integrations/lib/integration/interface/source/config/model/builder/source_validation_result_builder.dart
  metrics/ci_integrations/test/integration/interface/base/config/validator/config_validator_test.dart
Due: ci-integrations-pipeline

[WIP] add validation result builder
  metrics/ci_integrations/lib/integration/interface/base/config/model/builder/validation_result_builder.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/validation_result.dart
  metrics/ci_integrations/lib/integration/interface/destination/config/model/destination_validation_result.dart
  metrics/ci_integrations/lib/integration/interface/source/config/model/source_validation_result.dart
Due: ci-integrations-pipeline

WIP: implement ConfigFieldValidationConclusion and ConfigFieldValidationResult
  metrics/ci_integrations/lib/integration/interface/base/config/model/config_field_validation_conclusion.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/config_field_validation_result.dart
Due: ci-integrations-pipeline

Add field validation classes and tests
  metrics/ci_integrations/lib/integration/interface/base/config/model/builder/config_validation_result_builder.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/builder/validation_result_builder.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/config_validation_result.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/field_validation_conclusion.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/field_validation_result.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/mappers/field_validation_conclusion_mapper.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/validation_result.dart
  metrics/ci_integrations/test/integration/interface/base/config/model/field_validation_result_test.dart
  metrics/ci_integrations/test/integration/interface/base/config/model/mappers/field_validation_conclusion_mapper_test.dart
Due: ci-integrations-pipeline

Improve Config Validator Interface, minor diagram fixes
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_destination_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_interfaces_class_diagram.puml
  metrics/ci_integrations/lib/integration/interface/base/config/validator/config_validator.dart
Due: ci-integrations-pipeline

Fix Config Validator interface
  metrics/ci_integrations/lib/integration/interface/base/config/validator/config_validator.dart
  metrics/ci_integrations/test/integration/interface/base/config/validator/config_validator_test.dart
Due: ci-integrations-pipeline

[WIP] improve interfaces
  metrics/ci_integrations/lib/integration/interface/base/config/model/builder/config_validation_result_builder.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/config_field_validation_conclusion.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/config_field_validation_result.dart
  metrics/ci_integrations/lib/integration/interface/base/config/model/config_validation_result.dart
Due: ci-integrations-pipeline

Add MetricsColors class
  metrics/web/lib/common/presentation/metrics_theme/config/metrics_colors.dart
Due: metrics-web-pipeline

[WIP] Update colors
  metrics/web/lib/base/presentation/widgets/circle_graph_indicator.dart
  metrics/web/lib/common/presentation/graph_indicator/theme/style/graph_indicator_style.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dialog_theme_data.dart
Due: metrics-web-pipeline

Create a design doc with diagrams.
  metrics/cli/.gitignore
  metrics/cli/CHANGELOG.md
  metrics/cli/Makefile
  metrics/cli/README.md
  metrics/cli/analysis_options.yaml
  metrics/cli/bin/main.dart
  metrics/cli/coverage.sh
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/metrics_command_runner_class_diagram.puml
  metrics/cli/lib/cli/firebase/firebase_command.dart
  metrics/cli/lib/cli/flutter/flutter_command.dart
  metrics/cli/lib/cli/gcloud/gcloud_command.dart
  metrics/cli/lib/cli/git/git_command.dart
  metrics/cli/lib/deploy/deploy_command.dart
  metrics/cli/lib/doctor/doctor_command.dart
  metrics/cli/pubspec.lock
  metrics/cli/pubspec.yaml
  metrics/cli/test.sh
  metrics/cli/test/deploy/deploy_command_test.dart
  metrics/cli/test/doctor/doctor_command_test.dart
  metrics/deploy/docs/01_deploy_command.md
  metrics/deploy/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/deploy/docs/diagrams/deploy_tool_class_diagram.puml
  metrics/deploy/docs/diagrams/doctor_command_sequence_diagram.puml
Due: none

Change doctor command diagram.
  metrics/cli/docs/diagrams/doctor_command_sequence_diagram.puml
Due: none

Fix design doc.
  metrics/cli/docs/01_metrics_cli_design.md
Due: none

Metrics CLI design with diagrams.
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/cli_interfaces_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_activity_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_activity_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_activity_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_activity_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/metrics_command_runner_class_diagram.puml
  metrics/cli/docs/diagrams/prompt_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

New class diagrams.
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
Due: none

[WIP] Add activity diagrams.
  metrics/cli/docs/diagrams/cli_class_diagram.puml
  metrics/cli/docs/diagrams/cli_interfaces_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_activity_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_service_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_activity_diagram.puml
  metrics/cli/docs/diagrams/doctor_service_class_diagram.puml
  metrics/cli/docs/diagrams/prompt_class_diagram.puml
  metrics/cli/docs/diagrams/prompt_helper_class_diagram.puml
Due: none

Update diagrams, update doc.
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/cli_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_service_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_service_class_diagram.puml
  metrics/cli/docs/diagrams/prompt_helper_class_diagram.puml
Due: none

Fix ancors and references
  metrics/cli/docs/01_metrics_cli_design.md
Due: none

[WIP] Update sequence diagrams
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_sequence_diagram.puml
Due: none

Minor diagram improvements
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none
