Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Update links to the master branch
  metrics/cli/docs/01_metrics_cli_design.md
Due: none

feat: Add manual steps to the FirebaseCliServiceAdapter (#1317)
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/common/model/metrics_config.dart
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/firebase/service/firebase_service.dart
  metrics/cli/lib/firebase/strings/firebase_strings.dart
  metrics/cli/test/common/model/metrics_config_test.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/firebase/adapter/firebase_cli_service_adapter_test.dart
Due: none

Minor improvements
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/in_progress_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/in_progress_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Improve doc
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
Due: ci-integrations-pipeline

feat: Implement `InProgressBuildsSyncStage` (#1316)
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/in_progress_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Update .fetchBuilds() method of the BuildkiteClient to work with a list of requested BuildkiteBuildStates
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
Due: ci-integrations-pipeline

Update BuildkiteClient tests
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
Due: ci-integrations-pipeline

Add url utils array-like query parameters test
  metrics/ci_integrations/test/util/url/url_utils_test.dart
Due: ci-integrations-pipeline

Update BuildkiteSourceClientAdapter BuildState mapping, update requested BuildStates in _fetchBuildsPage
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
Due: ci-integrations-pipeline

Minor fix in query parameters in fetchBuilds() method
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
Due: ci-integrations-pipeline

Update BuildkiteSourceClientAdapter tests
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/buildkite/test_utils/test_data/buildkite_test_data_generator.dart
Due: ci-integrations-pipeline

Update BuildkiteMockServer to accept a list of BuildkiteBuildStates.
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
Due: ci-integrations-pipeline

Update url utils
  metrics/ci_integrations/lib/util/url/url_utils.dart
Due: ci-integrations-pipeline

Update Jenkins duration mapping
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Update jenkins client adapter mapping
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Improve in progress builds mapping, update tests
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

[WIP] update inProgress builds mapping, add tests for fetchBuilds method
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
Due: ci-integrations-pipeline

[WIP] add tests for the github adapter
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Fix testdata generator
  metrics/ci_integrations/test/source/github_actions/test_utils/test_data/github_actions_test_data_generator.dart
Due: ci-integrations-pipeline

Minor improvements, add missing tests
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Implement `ReceiveBuildDayProjectMetricsUpdates`
  metrics/web/lib/common/domain/entities/build_day.dart
  metrics/web/lib/common/domain/repositories/build_day_repository.dart
  metrics/web/lib/dashboard/domain/entities/metrics/build_day_project_metrics.dart
  metrics/web/lib/dashboard/domain/entities/metrics/build_performance.dart
  metrics/web/lib/dashboard/domain/entities/metrics/dashboard_project_metrics.dart
  metrics/web/lib/dashboard/domain/entities/metrics/performance_metric.dart
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
  metrics/web/test/dashboard/domain/entities/metrics/performance_metric_test.dart
Due: metrics-web-pipeline

Integrate SentryService to the Metrics CLI
  metrics/cli/lib/common/factory/services_factory.dart
  metrics/cli/lib/common/model/services.dart
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/factory/deployer_factory.dart
  metrics/cli/lib/deploy/strings/deploy_strings.dart
  metrics/cli/lib/doctor/doctor.dart
  metrics/cli/lib/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/test/common/factory/services_factory_test.dart
  metrics/cli/test/common/model/services_test.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/deploy/factory/deployer_factory_test.dart
  metrics/cli/test/doctor/doctor_test.dart
  metrics/cli/test/doctor/factory/doctor_factory_test.dart
  metrics/cli/test/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/test_utils/sentry_service_mock.dart
Due: none

Implement and reuse the ThemeTypeBuilder widget
  metrics/web/lib/common/presentation/widgets/metrics_theme_image.dart
  metrics/web/lib/common/presentation/widgets/theme_type_builder.dart
  metrics/web/test/common/presentation/widgets/metrics_theme_image_test.dart
  metrics/web/test/common/presentation/widgets/theme_type_builder_test.dart
Due: metrics-web-pipeline

Add in-progress project build status Rive asset
  metrics/web/web/animation/in_progress_build_status.riv
Due: metrics-web-pipeline

Minor improvements
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/strings/deploy_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
Due: none

Improve documentation, minor fix
  metrics/ci_integrations/docs/features/in_progress_builds/in_progress_builds_introduction.md
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
Due: ci-integrations-pipeline

Update github client adapter
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
Due: ci-integrations-pipeline

Update tests
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Improve mock server
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
Due: ci-integrations-pipeline

Test improvements
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/util/url/url_utils_test.dart
Due: ci-integrations-pipeline

Add accept terms method to the GCloudService
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Update the jenkins source adapter
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
Due: ci-integrations-pipeline

Improve tests
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Fix review suggestions
  metrics/cli/lib/common/model/metrics_config.dart
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/sentry/model/sentry_config.dart
  metrics/cli/test/common/model/metrics_config_test.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/sentry/model/sentry_config_test.dart
Due: none

Minor improvements
  metrics/ci_integrations/test/client/buildkite/test_utils/mock/buildkite_mock_server.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/util/url/url_utils_test.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_client_adapter.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Implement InProgressProjectBuildStatus widget
  metrics/web/lib/dashboard/presentation/widgets/in_progress_project_build_status.dart
  metrics/web/test/dashboard/presentation/widgets/in_progress_project_build_status_test.dart
  metrics/web/web/animation/in_progress_project_build_status.riv
  metrics/web/web/animation/in_progress_project_build_status_light.riv
Due: metrics-web-pipeline

Update ProjectBuildStatus widget
  metrics/web/lib/dashboard/presentation/widgets/project_build_status.dart
  metrics/web/test/dashboard/presentation/widgets/project_build_status_test.dart
Due: metrics-web-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
