Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Remove comment
  metrics/web/lib/common/presentation/widgets/tooltip_title.dart
Due: metrics-web-pipeline

Implement tooltip popup.
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_icon/widgets/tooltip_icon.dart
  metrics/web/lib/common/presentation/tooltip_popup/theme/theme_data/tooltip_popup_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_popup/widgets/tooltip_popup.dart
  metrics/web/lib/dashboard/presentation/strings/dashboard_strings.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_row.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_title_header.dart
  metrics/web/test/common/presentation/tooltip_icon/widgets/tooltip_icon_test.dart
  metrics/web/test/common/presentation/tooltip_popup/theme/theme_data/tooltip_popup_theme_data_test.dart
  metrics/web/test/common/presentation/tooltip_popup/widgets/tooltip_popup_test.dart
  metrics/web/web/icons/Info.svg
Due: metrics-web-pipeline

Fix paddings. Implement tooltip title.
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_icon/widgets/tooltip_icon.dart
  metrics/web/lib/common/presentation/widgets/tooltip_title.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_title_header.dart
  metrics/web/lib/dashboard/presentation/widgets/project_metrics_tile.dart
  metrics/web/test/common/presentation/tooltip_icon/widgets/tooltip_icon_test.dart
  metrics/web/test/common/presentation/widgets/tooltip_title_test.dart
  metrics/web/test/dashboard/presentation/widgets/metrics_table_title_header_test.dart
  metrics/web/web/icons/Info.svg
Due: metrics-web-pipeline

Fix review suggestions
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_icon/widgets/tooltip_icon.dart
  metrics/web/lib/common/presentation/tooltip_popup/widgets/tooltip_popup.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_row.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_title_header.dart
  metrics/web/lib/dashboard/presentation/widgets/project_metrics_tile.dart
  metrics/web/test/common/presentation/tooltip_icon/widgets/tooltip_icon_test.dart
  metrics/web/test/common/presentation/tooltip_popup/widgets/tooltip_popup_test.dart
  metrics/web/test/dashboard/presentation/widgets/metrics_table_test.dart
  metrics/web/web/icons/Info.svg
Due: metrics-web-pipeline

Review suggestions
  metrics/web/lib/common/presentation/tooltip_icon/widgets/tooltip_icon.dart
  metrics/web/lib/common/presentation/widgets/tooltip_title.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_title_header.dart
  metrics/web/test/common/presentation/tooltip_icon/widgets/tooltip_icon_test.dart
  metrics/web/test/common/presentation/widgets/tooltip_title_test.dart
  metrics/web/test/dashboard/presentation/widgets/metrics_table_title_header_test.dart
Due: metrics-web-pipeline

Improve namings. Improve tests
  metrics/web/lib/common/presentation/tooltip_icon/widgets/tooltip_icon.dart
  metrics/web/lib/common/presentation/widgets/tooltip_title.dart
  metrics/web/test/common/presentation/tooltip_icon/widgets/tooltip_icon_test.dart
  metrics/web/test/common/presentation/widgets/tooltip_title_test.dart
  metrics/web/test/dashboard/presentation/widgets/metrics_table_title_header_test.dart
Due: metrics-web-pipeline

Minor formatting improvements
  metrics/web/test/dashboard/presentation/widgets/metrics_table_title_header_test.dart
Due: metrics-web-pipeline

feat: Implement tooltip popup (#843)
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_icon/widgets/tooltip_icon.dart
  metrics/web/lib/common/presentation/tooltip_popup/theme/theme_data/tooltip_popup_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_popup/widgets/tooltip_popup.dart
  metrics/web/lib/common/presentation/widgets/tooltip_title.dart
  metrics/web/lib/dashboard/presentation/strings/dashboard_strings.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_row.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_title_header.dart
  metrics/web/lib/dashboard/presentation/widgets/project_metrics_tile.dart
  metrics/web/test/common/presentation/tooltip_icon/widgets/tooltip_icon_test.dart
  metrics/web/test/common/presentation/tooltip_popup/theme/theme_data/tooltip_popup_theme_data_test.dart
  metrics/web/test/common/presentation/tooltip_popup/widgets/tooltip_popup_test.dart
  metrics/web/test/common/presentation/widgets/tooltip_title_test.dart
  metrics/web/test/dashboard/presentation/widgets/metrics_table_header_test.dart
  metrics/web/test/dashboard/presentation/widgets/metrics_table_test.dart
  metrics/web/test/dashboard/presentation/widgets/metrics_table_title_header_test.dart
  metrics/web/web/icons/Info.svg
Due: metrics-web-pipeline

Rename info icon.
  metrics/web/web/icons/info.svg
Due: metrics-web-pipeline

Rename info icon. (#858)
  metrics/web/web/icons/info.svg
Due: metrics-web-pipeline

Improve error handling
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/error/sync_error.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/error/sync_error_test.dart
  metrics/ci_integrations/test/test_utils/matcher_util.dart
Due: ci-integrations-pipeline

Documentation and test improvements
  metrics/ci_integrations/lib/cli/error/sync_error.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/error/sync_error_test.dart
Due: ci-integrations-pipeline

Minor documentation improvement
  metrics/ci_integrations/test/test_utils/matcher_util.dart
Due: ci-integrations-pipeline

feat: Improve CI Integrations error handling (#859)
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/error/sync_error.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/error/sync_error_test.dart
  metrics/ci_integrations/test/test_utils/matcher_util.dart
Due: ci-integrations-pipeline

Fix SyncError test group name
  metrics/ci_integrations/test/cli/error/sync_error_test.dart
Due: ci-integrations-pipeline

Minor documentation improvement
  metrics/ci_integrations/test/cli/error/sync_error_test.dart
Due: ci-integrations-pipeline

Fix test description
  metrics/ci_integrations/test/cli/error/sync_error_test.dart
Due: ci-integrations-pipeline

fix: Fix SyncError test group name (#860)
  metrics/ci_integrations/test/cli/error/sync_error_test.dart
Due: ci-integrations-pipeline

Update design
  metrics/web/docs/features/instant_config/01_instant_config_design.md
  metrics/web/docs/features/instant_config/diagrams/instant_config_data_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_domain_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_presentation_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_sequence_diagram.puml
  metrics/web/docs/features/remote_config/01_remote_config_design.md
  metrics/web/docs/features/remote_config/diagrams/remote_config_data_layer_class_diagram.puml
  metrics/web/docs/features/remote_config/diagrams/remote_config_domain_layer_class_diagram.puml
  metrics/web/docs/features/remote_config/diagrams/remote_config_presentation_layer_class_diagram.puml
  metrics/web/docs/features/remote_config/diagrams/remote_config_sequence_diagram.puml
Due: metrics-web-pipeline

Update design
  metrics/web/docs/features/instant_config/01_instant_config_design.md
  metrics/web/docs/features/instant_config/diagrams/instant_config_data_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_domain_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_presentation_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_sequence_diagram.puml
Due: metrics-web-pipeline

update diagrams
  metrics/web/docs/features/instant_config/diagrams/instant_config_domain_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_presentation_layer_class_diagram.puml
Due: metrics-web-pipeline

Add view_models, add methods descriptions
  metrics/web/docs/features/instant_config/diagrams/instant_config_data_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_presentation_layer_class_diagram.puml
Due: metrics-web-pipeline

Change links to master
  metrics/web/docs/features/instant_config/01_instant_config_design.md
Due: metrics-web-pipeline

docs: Update Instant Config design (#856)
  metrics/web/docs/features/instant_config/01_instant_config_design.md
  metrics/web/docs/features/instant_config/diagrams/instant_config_data_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_domain_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_presentation_layer_class_diagram.puml
  metrics/web/docs/features/instant_config/diagrams/instant_config_sequence_diagram.puml
  metrics/web/docs/features/remote_config/01_remote_config_design.md
  metrics/web/docs/features/remote_config/diagrams/remote_config_data_layer_class_diagram.puml
  metrics/web/docs/features/remote_config/diagrams/remote_config_domain_layer_class_diagram.puml
  metrics/web/docs/features/remote_config/diagrams/remote_config_presentation_layer_class_diagram.puml
  metrics/web/docs/features/remote_config/diagrams/remote_config_sequence_diagram.puml
Due: metrics-web-pipeline

Improve base graphs documentation
  metrics/web/lib/base/presentation/graphs/bar_graph.dart
  metrics/web/lib/base/presentation/graphs/circle_percentage.dart
  metrics/web/lib/base/presentation/graphs/placeholder_bar.dart
  metrics/web/lib/base/presentation/graphs/sparkline_graph.dart
Due: metrics-web-pipeline

Improve base graphs documentation (#863)
  metrics/web/lib/base/presentation/graphs/bar_graph.dart
  metrics/web/lib/base/presentation/graphs/circle_percentage.dart
  metrics/web/lib/base/presentation/graphs/placeholder_bar.dart
  metrics/web/lib/base/presentation/graphs/sparkline_graph.dart
Due: metrics-web-pipeline

Add Metrics Web jenkins ci integrations config
  .metrics/jenkins/metrics_web_config.yml
Due: none

Update metrics project id
  .metrics/jenkins/metrics_web_config.yml
Due: none

Move jenkins url to environment variable
  .metrics/jenkins/metrics_web_config.yml
Due: none

feat: Add Metrics Web Jenkins ci integrations config (#861)
  .metrics/jenkins/metrics_web_config.yml
Due: none

Fix typo in Metrics Web config
  .metrics/jenkins/metrics_web_config.yml
Due: none

Fix typo in Metrics Web config (#864)
  .metrics/jenkins/metrics_web_config.yml
Due: none

Test fix
  metrics/web/lib/common/domain/usecases/fetch_instant_config_usecase.dart
  metrics/web/lib/common/domain/usecases/parameters/instant_config_param.dart
  metrics/web/test/common/domain/usecases/fetch_instant_config_usecase_test.dart
Due: metrics-web-pipeline

Minor fixes, replace assert with ArgumentError
  metrics/web/lib/common/domain/entities/instant_config.dart
  metrics/web/lib/common/domain/usecases/fetch_instant_config_usecase.dart
  metrics/web/lib/common/domain/usecases/parameters/instant_config_param.dart
  metrics/web/test/common/domain/usecases/parameters/instant_config_param_test.dart
Due: metrics-web-pipeline

Implement domain layer for Instant Config
  metrics/web/lib/common/domain/entities/instant_config.dart
  metrics/web/lib/common/domain/repositories/instant_config_repository.dart
  metrics/web/lib/common/domain/usecases/fetch_instant_config_usecase.dart
  metrics/web/lib/common/domain/usecases/parameters/instant_config_param.dart
  metrics/web/test/common/domain/entities/instant_config_test.dart
  metrics/web/test/common/domain/usecases/fetch_instant_config_usecase_test.dart
  metrics/web/test/common/domain/usecases/parameters/instant_config_param_test.dart
Due: metrics-web-pipeline

Change InstantConfig required params and fix usecase, change tests
  metrics/web/lib/common/domain/entities/instant_config.dart
  metrics/web/lib/common/domain/repositories/instant_config_repository.dart
  metrics/web/lib/common/domain/usecases/fetch_instant_config_usecase.dart
  metrics/web/lib/common/domain/usecases/parameters/instant_config_param.dart
  metrics/web/test/common/domain/entities/instant_config_test.dart
  metrics/web/test/common/domain/usecases/fetch_instant_config_usecase_test.dart
Due: metrics-web-pipeline

Fix test description
  metrics/web/test/common/domain/usecases/fetch_instant_config_usecase_test.dart
Due: metrics-web-pipeline

Update docs, add null test case
  metrics/web/lib/common/domain/usecases/fetch_instant_config_usecase.dart
  metrics/web/lib/common/domain/usecases/parameters/instant_config_param.dart
  metrics/web/test/common/domain/usecases/fetch_instant_config_usecase_test.dart
Due: metrics-web-pipeline

feat: Implement domain layer for Instant Config feature (#862)
  metrics/web/lib/common/domain/entities/instant_config.dart
  metrics/web/lib/common/domain/repositories/instant_config_repository.dart
  metrics/web/lib/common/domain/usecases/fetch_instant_config_usecase.dart
  metrics/web/lib/common/domain/usecases/parameters/instant_config_param.dart
  metrics/web/test/common/domain/entities/instant_config_test.dart
  metrics/web/test/common/domain/usecases/fetch_instant_config_usecase_test.dart
  metrics/web/test/common/domain/usecases/parameters/instant_config_param_test.dart
Due: metrics-web-pipeline

Add ci integrations and coverage converter sync configs
  .metrics/jenkins/ci_integrations_config.yml
  .metrics/jenkins/coverage_converter_config.yml
Due: none

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
