Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Refactor pipelines, reuse config
  .buildkite/pipelines/ci_integrations_pipeline.yml
  .buildkite/pipelines/coverage_converter_pipeline.yml
  .buildkite/pipelines/metrics_web_pipeline.yml
  .buildkite/pipelines/monorepo_pipeline.yml
  .buildkite/pipelines/sync_ci_integrations_pipeline.yml
  .buildkite/pipelines/sync_metrics_web_pipeline.yml
  .buildkite/pipelines/sync_pipeline.yml
  .github/workflows/metrics_integration_actions.yml
  .metrics/buildkite/coverage_converter_config.yml
  .metrics/buildkite/integration_config.yml
  .metrics/buildkite/metrics_web_config.yml
Due: none

fix changed config name
  .github/workflows/metrics_integration_actions.yml
Due: none

feat: Add Buildkite synchronization (#818)
  .buildkite/pipelines/coverage_converter_pipeline.yml
  .buildkite/pipelines/metrics_web_pipeline.yml
  .buildkite/pipelines/monorepo_pipeline.yml
  .buildkite/pipelines/sync_pipeline.yml
  .metrics/buildkite/integration_config.yml
Due: none

Update Email value object documentation
  metrics/core/lib/src/domain/value_objects/email.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Update Email value object documentation (#826)
  metrics/core/lib/src/domain/value_objects/email.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add section about key restrictions to the firebaes deployment docs
  docs/09_firebase_deployment.md
Due: none

Fix docs
  docs/09_firebase_deployment.md
Due: none

Fix deployment docs
  docs/09_firebase_deployment.md
Due: none

fix yml configs
  .github/workflows/metrics_integration_actions.yml
  .metrics/buildkite/integration_config.yml
  .metrics/ci_integrations_config.yml
  .metrics/coverage_converter_config.yml
  .metrics/metrics_web_config.yml
Due: none

Documentation fixes
  docs/09_firebase_deployment.md
Due: none

Minor fix
  docs/09_firebase_deployment.md
Due: none

Update configurations, update jobs
  .github/workflows/metrics_integration_actions.yml
  .metrics/buildkite/integration_config.yml
  .metrics/ci_integrations_config.yml
  .metrics/coverage_converter_config.yml
  .metrics/metrics_web_config.yml
Due: none

docs: Firebase key restrictions (#835)
  .github/workflows/metrics_integration_actions.yml
  .metrics/buildkite/integration_config.yml
  .metrics/ci_integrations_config.yml
  .metrics/coverage_converter_config.yml
  .metrics/metrics_web_config.yml
  docs/09_firebase_deployment.md
Due: none

Add tooltip popup theme data to the metrics theme data. Add tests.
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/metrics_theme_data.dart
  metrics/web/test/common/presentation/metrics_theme/model/dark_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/light_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/metrics_theme_data_test.dart
Due: metrics-web-pipeline

Change popup's color for dark theme
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
Due: metrics-web-pipeline

Move themes to another folder.
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/metrics_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_icon/theme_data/tooltip_icon_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_popup/theme_data/tooltip_popup_theme_data.dart
  metrics/web/test/common/presentation/metrics_theme/model/metrics_theme_data_test.dart
  metrics/web/test/common/presentation/tooltip_icon/theme_data/tooltip_icon_theme_data_test.dart
  metrics/web/test/common/presentation/tooltip_popup/theme_data/tooltip_popup_theme_data_test.dart
Due: metrics-web-pipeline

Implement changes
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/metrics_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_icon/theme/theme_data/tooltip_icon_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_popup/theme/theme_data/tooltip_popup_theme_data.dart
  metrics/web/test/common/presentation/metrics_theme/model/metrics_theme_data_test.dart
  metrics/web/test/common/presentation/tooltip_icon/theme/theme_data/tooltip_icon_theme_data_test.dart
  metrics/web/test/common/presentation/tooltip_popup/theme/theme_data/tooltip_popup_theme_data_test.dart
Due: metrics-web-pipeline

Implement tooltip icon theme data. Add tests.
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/tooltip_icon/theme_data/tooltip_icon_theme_data.dart
  metrics/web/test/common/presentation/metrics_theme/model/dark_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/light_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/tooltip_icon/theme_data/tooltip_icon_theme_data_test.dart
Due: metrics-web-pipeline

Formatting code.
  metrics/web/lib/common/presentation/tooltip_popup/theme_data/tooltip_popup_theme_data.dart
Due: metrics-web-pipeline

Implement tooltip popup theme data. Add tests.
  metrics/web/lib/common/presentation/metrics_theme/model/tooltip_popup/theme_data/tooltip_popup_theme_data.dart
  metrics/web/test/common/presentation/metrics_theme/model/tooltip_popup/theme_data/tooltip_popup_theme_data_test.dart
Due: metrics-web-pipeline

Fix colors. Fix tests
  metrics/web/lib/common/presentation/metrics_theme/config/text_style_config.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/test/common/presentation/tooltip_popup/theme/theme_data/tooltip_popup_theme_data_test.dart
Due: metrics-web-pipeline

Improve namings.
  metrics/web/lib/common/presentation/metrics_theme/config/text_style_config.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
Due: metrics-web-pipeline

feat: Implement Tooltip Popup theme (#836)
  metrics/web/lib/common/presentation/metrics_theme/config/text_style_config.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/metrics_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_icon/theme/theme_data/tooltip_icon_theme_data.dart
  metrics/web/lib/common/presentation/tooltip_popup/theme/theme_data/tooltip_popup_theme_data.dart
  metrics/web/test/common/presentation/metrics_theme/model/dark_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/light_metrics_theme_data_test.dart
  metrics/web/test/common/presentation/metrics_theme/model/metrics_theme_data_test.dart
  metrics/web/test/common/presentation/tooltip_icon/theme/theme_data/tooltip_icon_theme_data_test.dart
  metrics/web/test/common/presentation/tooltip_popup/theme/theme_data/tooltip_popup_theme_data_test.dart
Due: metrics-web-pipeline

Fix sequence diagram name
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_log_login_sequence.puml
Due: metrics-web-pipeline

Formatting docs.
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
Due: metrics-web-pipeline

Improve the design document. Add sequence diagrams.
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_log_login_sequece.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_log_page_view_sequence.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_presentation.puml
Due: metrics-web-pipeline

Fix md.
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
Due: metrics-web-pipeline

Add documentation
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
  metrics/web/docs/features/firebase_analytics/diagrams/firebas_analytics_presentation.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_data_class.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_domain_class.puml
Due: metrics-web-pipeline

Fix diagram link.
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
Due: metrics-web-pipeline

Fix diagrams.
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_log_page_view_sequence.puml
Due: metrics-web-pipeline

Review PR suggestion.
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
  metrics/web/docs/features/firebase_analytics/diagrams/firebas_analytics_presentation.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_data_class.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_domain_class.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_presentation.puml
Due: metrics-web-pipeline

Create Firebase analytics design document. Create diagrams.
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
  metrics/web/docs/features/firebase_analytics/diagrams/firebas_analytics_presentation.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_data_class.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_domain_class.puml
Due: metrics-web-pipeline

Improve diagrams.
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_log_login_sequence.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_presentation.puml
Due: metrics-web-pipeline

Fix review suggestions.
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_domain_class.puml
  metrics/web/docs/features/user_profile_theme/diagrams/user_profile_theme_domain_class.puml
Due: metrics-web-pipeline

Add the PageName class description. Add an Enum interface to the diagram.
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_domain_class.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_log_login_sequence.puml
Due: metrics-web-pipeline

docs: Create Firebase analytics design document (#838)
  metrics/web/docs/features/firebase_analytics/01_firebase_analytics_design.md
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_data_class.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_domain_class.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_log_login_sequence.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_log_page_view_sequence.puml
  metrics/web/docs/features/firebase_analytics/diagrams/firebase_analytics_presentation.puml
  metrics/web/docs/features/user_profile_theme/diagrams/user_profile_theme_domain_class.puml
Due: metrics-web-pipeline

Improve driver tests
  metrics/web/test_driver/cli/flutter/command/drive_command.dart
  metrics/web/test_driver/cli/flutter/command/run_command_base.dart
  metrics/web/test_driver/common/config/logs_file_config.dart
  metrics/web/test_driver/flutter_web_driver.dart
Due: metrics-web-pipeline

Improve test driver script to use only `drive` command
  metrics/web/test_driver/cli/flutter/command/drive_command.dart
  metrics/web/test_driver/cli/flutter/command/run_command.dart
  metrics/web/test_driver/cli/flutter/runner/flutter_drive_process_runner.dart
  metrics/web/test_driver/cli/flutter/runner/flutter_run_process_runner.dart
  metrics/web/test_driver/flutter_web_driver.dart
Due: metrics-web-pipeline

Remove unnecessary arguments
  metrics/web/test_driver/arguments/model/driver_test_arguments.dart
  metrics/web/test_driver/arguments/parser/driver_test_arguments_parser.dart
Due: metrics-web-pipeline

Documentation improvements
  metrics/web/test_driver/cli/flutter/runner/flutter_drive_process_runner.dart
  metrics/web/test_driver/flutter_web_driver.dart
Due: metrics-web-pipeline
