Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Minor fix
  metrics/docs/01_storing_database_metadata.md
  metrics/web/docs/features/supported_database_version/diagrams/metadata_data_class_diagram.puml
Due: metrics-web-pipeline

Minor improvements
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
  metrics/ci_integrations/docs/features/supported_database_version/diagrams/ci_integrations_supported_db_version_class_diagram.puml
  metrics/ci_integrations/docs/features/supported_database_version/diagrams/ci_integrations_supported_db_version_sequence_diagram.puml
Due: ci-integrations-pipeline

Resolve review suggestions
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/gcloud/strings/gcloud_strings_test.dart
Due: none

fix analysis
  metrics/ci_integrations/docs/07_sync_performance_investigation.md
Due: ci-integrations-pipeline

Fix contents of 01_storing_database_metadata.md
  metrics/docs/01_storing_database_metadata.md
Due: none

Rename 01_storing_database_metadata.md
  metrics/docs/01_storing_storage_metadata.md
Due: none

Fix web docs and diagrams contents
  metrics/web/docs/features/supported_database_version/01_supported_database_version.md
  metrics/web/docs/features/supported_database_version/diagrams/database_finished_updating_sequence_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_data_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_domain_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_presentation_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_sequence_diagram.puml
Due: metrics-web-pipeline

Rename web docs and diagram
  metrics/web/docs/features/supported_storage_version/01_supported_storage_version.md
  metrics/web/docs/features/supported_storage_version/diagrams/metadata_data_class_diagram.puml
  metrics/web/docs/features/supported_storage_version/diagrams/metadata_domain_class_diagram.puml
  metrics/web/docs/features/supported_storage_version/diagrams/metadata_presentation_class_diagram.puml
  metrics/web/docs/features/supported_storage_version/diagrams/metadata_sequence_diagram.puml
  metrics/web/docs/features/supported_storage_version/diagrams/storage_finished_updating_sequence_diagram.puml
Due: metrics-web-pipeline

Fix ci integrations docs and namings
  metrics/ci_integrations/docs/features/supported_database_version/01_supported_database_version.md
  metrics/ci_integrations/docs/features/supported_storage_version/01_supported_storage_version.md
  metrics/ci_integrations/docs/features/supported_storage_version/diagrams/ci_integrations_supported_storage_version_class_diagram.puml
  metrics/ci_integrations/docs/features/supported_storage_version/diagrams/ci_integrations_supported_storage_version_sequence_diagram.puml
Due: ci-integrations-pipeline

Resolve review suggestions
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Fix diagram links
  metrics/ci_integrations/docs/features/supported_storage_version/01_supported_storage_version.md
Due: ci-integrations-pipeline

change links to point master
  metrics/ci_integrations/docs/07_sync_performance_investigation.md
Due: ci-integrations-pipeline

docs: Sync performance investigatation (#1413)
  metrics/ci_integrations/docs/07_sync_performance_investigation.md
  metrics/ci_integrations/docs/diagrams/sync_ideal_timing_diagram.puml
  metrics/ci_integrations/docs/diagrams/sync_problematic_queue_timing_diagram.puml
  metrics/ci_integrations/docs/diagrams/sync_problematic_timing_diagram.puml
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/docs/features/supported_storage_version/01_supported_storage_version.md
  metrics/ci_integrations/docs/features/supported_storage_version/diagrams/supported_storage_version_class_diagram.puml
  metrics/ci_integrations/docs/features/supported_storage_version/diagrams/supported_storage_version_sequence_diagram.puml
  metrics/docs/01_storing_storage_metadata.md
  metrics/web/docs/features/supported_storage_version/01_supported_storage_version.md
Due: metrics-web-pipeline, ci-integrations-pipeline

feat: Allow users to enter project name during metrics CLI deployment (#1416)
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/cli/gcloud_cli.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/gcloud/strings/gcloud_strings_test.dart
Due: none

Fix top-level readme link
  readme.md
Due: none

Change links to master
  metrics/ci_integrations/docs/features/supported_storage_version/01_supported_storage_version.md
  metrics/docs/01_storing_storage_metadata.md
  metrics/web/docs/features/supported_storage_version/01_supported_storage_version.md
Due: metrics-web-pipeline, ci-integrations-pipeline

Fix top-level readme link (#1420)
  readme.md
Due: none

docs: Ci integrations Supported Storage Version (#1407)
  metrics/ci_integrations/docs/features/supported_storage_version/01_supported_storage_version.md
  metrics/ci_integrations/docs/features/supported_storage_version/diagrams/supported_storage_version_class_diagram.puml
  metrics/ci_integrations/docs/features/supported_storage_version/diagrams/supported_storage_version_sequence_diagram.puml
  metrics/docs/01_storing_database_metadata.md
  metrics/docs/01_storing_storage_metadata.md
  metrics/web/docs/features/supported_database_version/01_supported_database_version.md
  metrics/web/docs/features/supported_database_version/diagrams/database_finished_updating_sequence_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_data_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_domain_class_diagram.puml
  metrics/web/docs/features/supported_database_version/diagrams/metadata_sequence_diagram.puml
  metrics/web/docs/features/supported_storage_version/01_supported_storage_version.md
  metrics/web/docs/features/supported_storage_version/diagrams/metadata_data_class_diagram.puml
  metrics/web/docs/features/supported_storage_version/diagrams/metadata_domain_class_diagram.puml
  metrics/web/docs/features/supported_storage_version/diagrams/metadata_presentation_class_diagram.puml
  metrics/web/docs/features/supported_storage_version/diagrams/metadata_sequence_diagram.puml
  metrics/web/docs/features/supported_storage_version/diagrams/storage_finished_updating_sequence_diagram.puml
Due: metrics-web-pipeline, ci-integrations-pipeline

Move info_serive form service packag
  metrics/cli/docs/diagrams/cli_interfaces_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/cli/doctor/doctor.dart
  metrics/cli/lib/services/common/info_service.dart
  metrics/cli/lib/services/firebase/firebase_service.dart
  metrics/cli/lib/services/flutter/flutter_service.dart
  metrics/cli/lib/services/gcloud/gcloud_service.dart
  metrics/cli/lib/services/git/git_service.dart
  metrics/cli/lib/services/npm/npm_service.dart
  metrics/cli/lib/services/sentry/sentry_service.dart
Due: none

Update deployer flow with the .addFirebase() method
  metrics/cli/lib/cli/deployer/deployer.dart
  metrics/cli/test/cli/deployer/deployer_test.dart
Due: none

Add missing tests
  metrics/cli/test/cli/deployer/deployer_test.dart
Due: none

Changes by yevheniiashchypeleva
  metrics/cli/test/cli/deployer/deployer_test.dart
Due: none

Extract .addFirebase() method in GCloudService[Adapter]
  metrics/cli/lib/services/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/services/gcloud/gcloud_service.dart
  metrics/cli/test/services/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Rename gcloudProjectName to projectName
  metrics/cli/lib/services/gcloud/adapter/gcloud_cli_service_adapter.dart
Due: none

Update deployer flow with the .addFirebase() method
  metrics/cli/test/cli/deployer/deployer_test.dart
Due: none

Improve tests
  metrics/cli/test/cli/deployer/deployer_test.dart
Due: none

Add terminal image
  metrics/cli/README.md
  metrics/cli/docs/images/terminal.png
Due: none

Minor fix
  metrics/cli/README.md
Due: none

Minor improvements
  metrics/cli/README.md
  metrics/cli/recommended_versions.yaml
Due: none

Add more info about Metrics CLI
  metrics/cli/README.md
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/recommended_versions.yaml
Due: none

Review suggestions
  docs/08_firebase_deployment.md
  docs/13_firebase_deployment_cli.md
  metrics/cli/README.md
  metrics/cli/recommended_versions.yaml
Due: none

Update recommended versions
  metrics/cli/recommended_versions.yaml
Due: none

Add documentation section
  metrics/cli/README.md
Due: none

Add info about help option
  metrics/cli/README.md
Due: none

Add recommended versions
  metrics/cli/README.md
  metrics/cli/recommended_versions.yaml
Due: none

Rename Metrics deploy CLI
  metrics/cli/README.md
Due: none
