Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Minor improvements
  metrics/ci_integrations/lib/client/github_actions/models/workflow_run.dart
  metrics/ci_integrations/test/source/github_actions/config/validation_delegate/github_actions_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Minor fix in github actions mock server response
  metrics/ci_integrations/test/client/github_actions/test_utils/mock/github_actions_mock_server.dart
Due: ci-integrations-pipeline

feat: Implement Github Actions Source Validation Delegate (#1162)
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/github_actions/models/workflow_run.dart
  metrics/ci_integrations/lib/source/github_actions/config/validation_delegate/github_actions_source_validation_delegate.dart
  metrics/ci_integrations/lib/source/github_actions/strings/github_actions_strings.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/client/github_actions/models/workflow_run_test.dart
  metrics/ci_integrations/test/client/github_actions/test_utils/mock/github_actions_mock_server.dart
  metrics/ci_integrations/test/source/github_actions/config/validation_delegate/github_actions_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Implement FirebaseGrpcErrorReason, rename FirebaseAuthErrorCode
  metrics/ci_integrations/lib/client/firestore/mappers/firebase_auth_error_code_mapper.dart
  metrics/ci_integrations/lib/client/firestore/mappers/firebase_grpc_error_reason_mapper.dart
  metrics/ci_integrations/lib/client/firestore/model/firebase_auth_error_code.dart
  metrics/ci_integrations/lib/client/firestore/model/firebase_grpc_error_reason.dart
  metrics/ci_integrations/test/client/firestore/mapper/firebase_auth_error_code_mapper_test.dart
  metrics/ci_integrations/test/client/firestore/mapper/firebase_grpc_error_mapper_test.dart
Due: ci-integrations-pipeline

Fix filename
  metrics/ci_integrations/test/client/firestore/mapper/firebase_grpc_error_reason_mapper_test.dart
Due: ci-integrations-pipeline

WIP: Firestore Validation Models
  metrics/ci_integrations/lib/client/firestore/mappers/firebase_error_code_mapper.dart
  metrics/ci_integrations/lib/client/firestore/model/firebase_error_code.dart
  metrics/ci_integrations/test/client/firestore/mapper/firebase_auth_error_code_mapper_test.dart
Due: ci-integrations-pipeline

Fix filenames
  metrics/ci_integrations/lib/client/firestore/mappers/firebase_auth_error_code_mapper.dart
  metrics/ci_integrations/lib/client/firestore/mappers/firebase_auth_exception_code_mapper.dart
  metrics/ci_integrations/lib/client/firestore/model/firebase_auth_exception_code.dart
  metrics/ci_integrations/test/client/firestore/mapper/firebase_auth_error_code_mapper_test.dart
  metrics/ci_integrations/test/client/firestore/mapper/firebase_auth_exception_code_mapper_test.dart
Due: ci-integrations-pipeline

Implement IOPromptWriter. Add tests. Add documentation.
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/prompt_class_diagram.puml
  metrics/cli/lib/prompt/prompter.dart
  metrics/cli/lib/prompt/writer/io_prompt_writer.dart
  metrics/cli/lib/prompt/writer/prompt_writer.dart
  metrics/cli/test/prompt/prompter_test.dart
  metrics/cli/test/prompt/writer/io_prompt_writer_test.dart
Due: none

Minor fixes.
  metrics/cli/test/prompt/prompter_test.dart
Due: none

design in progress builds introduction to the web
  metrics/web/docs/features/in_progress_builds/01_in_progress_builds_introduction.md
  metrics/web/docs/features/in_progress_builds/diagrams/build_core_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/data_layer_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/domain_layer_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/presentation_layer_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/presentation_layer_strategies_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/presentation_layer_widgets_class_diagram.puml
Due: metrics-web-pipeline

Add Firestore exception reason. Remove not needed files
  metrics/ci_integrations/lib/client/firestore/mappers/firebase_auth_exception_code_mapper.dart
  metrics/ci_integrations/lib/client/firestore/mappers/firebase_grpc_error_reason_mapper.dart
  metrics/ci_integrations/lib/client/firestore/mappers/firestore_exception_reason_mapper.dart
  metrics/ci_integrations/lib/client/firestore/model/firebase_auth_exception_code.dart
  metrics/ci_integrations/lib/client/firestore/model/firestore_exception_reason.dart
  metrics/ci_integrations/test/client/firestore/mapper/firebase_auth_exception_code_mapper_test.dart
  metrics/ci_integrations/test/client/firestore/mapper/firebase_grpc_error_reason_mapper_test.dart
  metrics/ci_integrations/test/client/firestore/mapper/firestore_exception_reason_mapper_test.dart
Due: ci-integrations-pipeline

Fix tests description
  metrics/ci_integrations/test/client/firestore/mapper/firestore_exception_reason_mapper_test.dart
Due: ci-integrations-pipeline

Minor fixes #2.
  metrics/cli/lib/prompt/writer/io_prompt_writer.dart
Due: none

Minor improvements.
  metrics/cli/lib/prompt/prompter.dart
Due: none

fix language
  metrics/web/docs/features/in_progress_builds/01_in_progress_builds_introduction.md
Due: metrics-web-pipeline

add comma
  metrics/web/docs/features/in_progress_builds/01_in_progress_builds_introduction.md
Due: metrics-web-pipeline

Add Firebase auth credentials model
  metrics/ci_integrations/lib/client/firestore/mappers/firestore_exception_reason_mapper.dart
  metrics/ci_integrations/lib/client/firestore/models/firebase_auth_credentials.dart
  metrics/ci_integrations/lib/client/firestore/models/firestore_exception_reason.dart
  metrics/ci_integrations/test/client/firestore/mappers/firestore_exception_reason_mapper_test.dart
  metrics/ci_integrations/test/client/firestore/models/firebase_auth_credentials_test.dart
Due: ci-integrations-pipeline

Improve doc
  metrics/ci_integrations/lib/client/firestore/models/firebase_auth_credentials.dart
Due: ci-integrations-pipeline

Minor fixes
  metrics/ci_integrations/lib/client/firestore/mappers/firestore_exception_reason_mapper.dart
  metrics/ci_integrations/lib/client/firestore/models/firestore_exception_reason.dart
  metrics/ci_integrations/test/client/firestore/mappers/firestore_exception_reason_mapper_test.dart
  metrics/ci_integrations/test/client/firestore/models/firebase_auth_credentials_test.dart
Due: ci-integrations-pipeline

Fix review suggestions
  metrics/cli/docs/diagrams/prompt_class_diagram.puml
  metrics/cli/lib/prompt/prompter.dart
  metrics/cli/lib/prompt/writer/io_prompt_writer.dart
  metrics/cli/lib/prompt/writer/prompt_writer.dart
Due: none

Minor improvements
  metrics/ci_integrations/lib/client/firestore/mappers/firestore_exception_reason_mapper.dart
  metrics/ci_integrations/lib/client/firestore/models/firestore_exception_reason.dart
Due: ci-integrations-pipeline

Implement FlutterCLI.
  metrics/cli/docs/diagrams/cli_interfaces_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/flutter/cli/flutter_cli.dart
  metrics/cli/lib/interfaces/cli/cli.dart
Due: none

Improve documentation
  metrics/ci_integrations/lib/client/firestore/mappers/firestore_exception_reason_mapper.dart
  metrics/ci_integrations/lib/client/firestore/models/firestore_exception_reason.dart
Due: ci-integrations-pipeline

Fix suggestions
  metrics/cli/docs/diagrams/prompt_class_diagram.puml
  metrics/cli/lib/prompt/prompter.dart
  metrics/cli/lib/prompt/writer/io_prompt_writer.dart
  metrics/cli/lib/prompt/writer/prompt_writer.dart
  metrics/cli/test/prompt/prompter_test.dart
  metrics/cli/test/prompt/writer/io_prompt_writer_test.dart
Due: none

Update config validator design
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/config_validator_base_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/config_validator_destination_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Update package structure
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Update doc
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/lib/client/firestore/models/firestore_exception_reason.dart
Due: ci-integrations-pipeline

Add additional test case.
  metrics/cli/test/prompt/prompter_test.dart
Due: none

fix review suggestions
  metrics/web/docs/features/in_progress_builds/01_in_progress_builds_introduction.md
  metrics/web/docs/features/in_progress_builds/diagrams/domain_layer_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/presentation_layer_class_diagram.puml
Due: metrics-web-pipeline

Minor improvements.
  metrics/cli/test/prompt/prompter_test.dart
Due: none

Minor documentation improvements
  metrics/ci_integrations/lib/client/firestore/mappers/firestore_exception_reason_mapper.dart
  metrics/ci_integrations/lib/client/firestore/models/firestore_exception_reason.dart
Due: ci-integrations-pipeline

feat: Implement Firestore Validation Models required for Config Validation (#1172)
  metrics/ci_integrations/lib/client/firestore/mappers/firestore_exception_reason_mapper.dart
  metrics/ci_integrations/lib/client/firestore/models/firebase_auth_credentials.dart
  metrics/ci_integrations/lib/client/firestore/models/firestore_exception_reason.dart
  metrics/ci_integrations/test/client/firestore/mappers/firestore_exception_reason_mapper_test.dart
  metrics/ci_integrations/test/client/firestore/models/firebase_auth_credentials_test.dart
Due: ci-integrations-pipeline

feat: Implement IOPromptWriter (#1173)
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/prompt_class_diagram.puml
  metrics/cli/lib/prompt/prompter.dart
  metrics/cli/lib/prompt/writer/io_prompt_writer.dart
  metrics/cli/lib/prompt/writer/prompt_writer.dart
  metrics/cli/test/prompt/prompter_test.dart
  metrics/cli/test/prompt/writer/io_prompt_writer_test.dart
Due: none

Implement Github Actions source validator
  metrics/ci_integrations/lib/source/github_actions/config/model/github_actions_source_config_field.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator_factory/github_actions_source_validator_factory.dart
  metrics/ci_integrations/lib/source/github_actions/party/github_actions_source_party.dart
  metrics/ci_integrations/lib/source/github_actions/strings/github_actions_strings.dart
  metrics/ci_integrations/test/source/github_actions/config/model/github_actions_source_config_field_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator_factory/github_actions_source_validator_factory_test.dart
  metrics/ci_integrations/test/source/github_actions/party/github_actions_source_party_test.dart
Due: ci-integrations-pipeline

Fix github actions client test
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
Due: ci-integrations-pipeline

Add more tests for the github actions validator
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Review suggestions
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator_factory/github_actions_source_validator_factory.dart
  metrics/ci_integrations/lib/source/github_actions/strings/github_actions_strings.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator_factory/github_actions_source_validator_factory_test.dart
Due: ci-integrations-pipeline

Fix documentation. Add test
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

remove unused import
  metrics/ci_integrations/lib/source/github_actions/client_factory/github_actions_source_client_factory.dart
Due: ci-integrations-pipeline
