Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Minor improvements
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Improve naming in tests
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Fix tests
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

feat: Update BuildStatus enum to include inProgress status (#1222)
  metrics/core/lib/src/domain/entities/build_status.dart
  metrics/web/lib/dashboard/presentation/view_models/build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_bar_appearance_strategy.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_popup_image_strategy.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/project_build_status_image_strategy.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/project_build_status_style_strategy.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_appearance_strategy_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_popup_image_strategy_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/project_build_status_image_strategy_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/project_build_status_style_strategy_test.dart
  metrics/web/web/icons/in_progress.svg
  metrics/web/web/icons/in_progress_status.svg
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

[WIP] Implement timer notifier
  metrics/web/lib/dashboard/presentation/state/timer_notifier.dart
Due: metrics-web-pipeline

Update performance and stability calculation
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
  metrics/web/test/dashboard/domain/usecases/receive_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Improve tests
  metrics/web/test/dashboard/domain/usecases/receive_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Fix typo
  metrics/web/test/dashboard/domain/usecases/receive_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Improve tests description
  metrics/web/test/dashboard/domain/usecases/receive_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Minor fixes
  metrics/web/test/dashboard/domain/usecases/receive_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Implement SentryCli
  metrics/cli/lib/sentry/cli/sentry_cli.dart
  metrics/cli/lib/sentry/model/sentry_project.dart
Due: none

Add license information
  metrics/cli/lib/sentry/model/sentry_project.dart
Due: none

[WIP] Implement tests for timer notifier
  metrics/web/lib/dashboard/presentation/state/timer_notifier.dart
  metrics/web/test/dashboard/presentation/state/timer_notifier_test.dart
Due: metrics-web-pipeline

Improve formatting
  metrics/web/test/dashboard/domain/usecases/receive_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Minor test improvements
  metrics/web/test/dashboard/domain/usecases/receive_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Improve tests
  metrics/web/lib/dashboard/presentation/state/timer_notifier.dart
  metrics/web/test/dashboard/presentation/state/timer_notifier_test.dart
Due: metrics-web-pipeline

feat: Update Performance and Stability metrics calculation (#1225)
  metrics/web/lib/dashboard/domain/usecases/receive_project_metrics_updates.dart
  metrics/web/test/dashboard/domain/usecases/receive_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Add timer notifier to injection container
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/test/common/presentation/injector/widget/injection_container_test.dart
Due: metrics-web-pipeline

Fix review suggestions
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Minor improvements
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Fix review suggestions
  metrics/cli/lib/sentry/cli/sentry_cli.dart
  metrics/cli/lib/sentry/model/sentry_project.dart
  metrics/cli/test/sentry/model/sentry_project_test.dart
Due: none

Improve documentation
  metrics/cli/lib/sentry/model/sentry_project.dart
Due: none

Fix tests
  metrics/cli/test/sentry/model/sentry_project_test.dart
Due: none

Improve tests
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/test_utils/prompter_mock.dart
Due: none

Fix review suggestions
  metrics/cli/lib/sentry/cli/sentry_cli.dart
  metrics/cli/test/sentry/model/sentry_project_test.dart
Due: none

feat: Implement GCloudService (#1221)
  docs/16_dependencies_licenses.md
  metrics/cli/lib/flutter/adapter/flutter_cli_service_adapter.dart
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/pubspec.yaml
  metrics/cli/test/flutter/adapter/flutter_cli_service_adapter_test.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/prompt/prompter_test.dart
  metrics/cli/test/test_utils/prompt_writer_mock.dart
  metrics/cli/test/test_utils/prompter_mock.dart
Due: none

feat: Implement SentryCLI (#1226)
  metrics/cli/lib/sentry/cli/sentry_cli.dart
  metrics/cli/lib/sentry/model/sentry_project.dart
  metrics/cli/test/sentry/model/sentry_project_test.dart
Due: none

Minor improvements
  metrics/web/lib/dashboard/presentation/state/timer_notifier.dart
  metrics/web/test/dashboard/presentation/state/timer_notifier_test.dart
Due: metrics-web-pipeline

feat: Implement TimerNotifier (#1228)
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/dashboard/presentation/state/timer_notifier.dart
  metrics/web/test/common/presentation/injector/widget/injection_container_test.dart
  metrics/web/test/dashboard/presentation/state/timer_notifier_test.dart
Due: metrics-web-pipeline

Implement FileHelper
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/helper/file_helper.dart
  metrics/cli/test/helper/file_helper_test.dart
Due: none

Update documentation
  metrics/cli/lib/helper/file_helper.dart
Due: none

Fix Firebase Auth Initialization
  metrics/ci_integrations/lib/destination/firestore/factory/firebase_auth_factory.dart
Due: ci-integrations-pipeline

Fix Firebase Auth Initialization (#1238)
  metrics/ci_integrations/lib/destination/firestore/factory/firebase_auth_factory.dart
Due: ci-integrations-pipeline

Add Firebase emulator documentation
  metrics/web/docs/analysis/02_firebase_emulator_for_driver_tests.md
Due: metrics-web-pipeline

Rename doc
  metrics/web/docs/analysis/02_firestore_emulator_for_driver_tests.md
Due: metrics-web-pipeline

Fix review suggestions
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/helper/file_helper.dart
  metrics/cli/test/helper/file_helper_test.dart
Due: none

Fix documentation
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/pubspec.lock
  metrics/web/pubspec.lock
Due: metrics-web-pipeline

Rollback pubspec.lock
  metrics/cli/pubspec.lock
  metrics/web/pubspec.lock
Due: metrics-web-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
