Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Minor fixes
  .github/workflows/metrics_actions.yml
  .github/workflows/web_actions.yml
Due: none

build: Update Flutter version (#930)
  .github/workflows/ci_integrations_actions.yml
  .github/workflows/coverage_converter_actions.yml
  .github/workflows/metrics_actions.yml
  .github/workflows/web_actions.yml
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  docs/15_developer_configuration.md
  metrics/web/README.md
  metrics/web/lib/project_groups/presentation/widgets/add_project_group_card.dart
  metrics/web/pubspec.yaml
Due: metrics-web-pipeline

Rename module-specific widgets, refactor tests, add missing tests for DebugMenuNotifier (with WebPlatform), remove redundant navigation logic, minor improvements
  metrics/web/lib/common/presentation/routes/route_generator.dart
  metrics/web/lib/common/presentation/strings/common_strings.dart
  metrics/web/lib/debug_menu/presentation/pages/debug_menu_page.dart
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle.dart
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_renderer_display.dart
  metrics/web/lib/main.dart
  metrics/web/test/common/presentation/routes/route_generator_test.dart
  metrics/web/test/common/presentation/widgets/metrics_user_menu_test.dart
  metrics/web/test/debug_menu/presentation/pages/debug_menu_page_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_renderer_display_test.dart
Due: metrics-web-pipeline

[WIP] inject view models instead of consumers
  metrics/web/docs/features/debug_menu/01_debug_menu_design.md
  metrics/web/docs/features/debug_menu/diagrams/debug_menu_presentation_layer_class_diagram.puml
  metrics/web/lib/common/presentation/strings/common_strings.dart
  metrics/web/lib/common/presentation/widgets/metrics_fps_monitor.dart
  metrics/web/lib/common/presentation/widgets/metrics_user_menu.dart
  metrics/web/lib/debug_menu/presentation/pages/debug_menu_page.dart
  metrics/web/lib/debug_menu/presentation/state/debug_menu_notifier.dart
  metrics/web/lib/debug_menu/presentation/view_models/local_config_fps_monitor_view_model.dart
  metrics/web/lib/debug_menu/presentation/view_models/rendered_display_view_model.dart
  metrics/web/lib/debug_menu/presentation/widgets/metrics_fps_monitor_toggle.dart
  metrics/web/lib/debug_menu/presentation/widgets/metrics_renderer_display.dart
  metrics/web/test/common/presentation/widgets/metrics_fps_monitor_test.dart
  metrics/web/test/debug_menu/presentation/pages/debug_menu_page_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
  metrics/web/test/debug_menu/presentation/view_models/local_config_fps_monitor_view_model_test.dart
  metrics/web/test/debug_menu/presentation/view_models/renderer_display_view_model_test.dart
  metrics/web/test/debug_menu/presentation/widgets/metrics_fps_monitor_toggle_test.dart
  metrics/web/test/debug_menu/presentation/widgets/metrics_renderer_display_test.dart
  metrics/web/test/test_utils/debug_menu_notifier_stub.dart
Due: metrics-web-pipeline

Implement Debug Menu Page
  metrics/web/lib/analytics/domain/entities/page_name.dart
  metrics/web/lib/common/presentation/routes/route_generator.dart
  metrics/web/lib/common/presentation/routes/route_name.dart
  metrics/web/lib/common/presentation/strings/common_strings.dart
  metrics/web/lib/common/presentation/widgets/metrics_fps_monitor.dart
  metrics/web/lib/common/presentation/widgets/metrics_user_menu.dart
  metrics/web/lib/debug_menu/presentation/pages/debug_menu_page.dart
  metrics/web/lib/debug_menu/presentation/widgets/metrics_fps_monitor_toggle.dart
  metrics/web/lib/debug_menu/presentation/widgets/metrics_renderer_display.dart
  metrics/web/lib/main.dart
  metrics/web/test/analytics/domain/entities/page_name_test.dart
  metrics/web/test/common/presentation/routes/route_generator_test.dart
  metrics/web/test/common/presentation/widgets/metrics_fps_monitor_test.dart
  metrics/web/test/common/presentation/widgets/metrics_user_menu_test.dart
  metrics/web/test/debug_menu/presentation/pages/debug_menu_page_test.dart
  metrics/web/test/debug_menu/presentation/widgets/metrics_fps_monitor_toggle_test.dart
  metrics/web/test/debug_menu/presentation/widgets/metrics_renderer_display_test.dart
Due: metrics-web-pipeline

Add missing RouteGenerator test
  metrics/web/test/common/presentation/routes/route_generator_test.dart
Due: metrics-web-pipeline

Update naming, readability fix
  metrics/web/lib/common/presentation/widgets/metrics_fps_monitor.dart
  metrics/web/lib/debug_menu/presentation/pages/debug_menu_page.dart
  metrics/web/lib/debug_menu/presentation/state/debug_menu_notifier.dart
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle.dart
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_renderer_display.dart
  metrics/web/test/common/presentation/widgets/metrics_fps_monitor_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
  metrics/web/test/test_utils/debug_menu_notifier_stub.dart
Due: metrics-web-pipeline

Fix file name, fix documentation
  metrics/web/lib/debug_menu/presentation/state/debug_menu_notifier.dart
  metrics/web/lib/debug_menu/presentation/view_models/renderer_display_view_model.dart
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_renderer_display.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
  metrics/web/test/debug_menu/presentation/view_models/renderer_display_view_model_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_renderer_display_test.dart
  metrics/web/test/test_utils/debug_menu_notifier_stub.dart
Due: metrics-web-pipeline

Minor test fixes
  metrics/web/test/debug_menu/presentation/pages/debug_menu_page_test.dart
Due: metrics-web-pipeline

Add DebugMenuStrings, minor fixes
  metrics/web/lib/common/presentation/strings/common_strings.dart
  metrics/web/lib/debug_menu/presentation/pages/debug_menu_page.dart
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_renderer_display.dart
  metrics/web/lib/debug_menu/strings/debug_menu_strings.dart
  metrics/web/test/debug_menu/presentation/pages/debug_menu_page_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_renderer_display_test.dart
Due: metrics-web-pipeline

Move debug menu strings
  metrics/web/lib/common/presentation/strings/common_strings.dart
  metrics/web/lib/debug_menu/presentation/pages/debug_menu_page.dart
  metrics/web/lib/debug_menu/presentation/state/debug_menu_notifier.dart
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle.dart
  metrics/web/lib/debug_menu/strings/debug_menu_strings.dart
  metrics/web/test/debug_menu/presentation/pages/debug_menu_page_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_renderer_display_test.dart
  metrics/web/test/test_utils/debug_menu_notifier_stub.dart
Due: metrics-web-pipeline

Add asserts to view models
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle.dart
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_renderer_display.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_renderer_display_test.dart
Due: metrics-web-pipeline

feat: Implement Debug Menu Page (#928)
  metrics/web/docs/features/debug_menu/01_debug_menu_design.md
  metrics/web/docs/features/debug_menu/diagrams/debug_menu_presentation_layer_class_diagram.puml
  metrics/web/lib/analytics/domain/entities/page_name.dart
  metrics/web/lib/common/presentation/routes/route_generator.dart
  metrics/web/lib/common/presentation/routes/route_name.dart
  metrics/web/lib/common/presentation/widgets/metrics_fps_monitor.dart
  metrics/web/lib/common/presentation/widgets/metrics_user_menu.dart
  metrics/web/lib/debug_menu/presentation/pages/debug_menu_page.dart
  metrics/web/lib/debug_menu/presentation/state/debug_menu_notifier.dart
  metrics/web/lib/debug_menu/presentation/view_models/local_config_fps_monitor_view_model.dart
  metrics/web/lib/debug_menu/presentation/view_models/renderer_display_view_model.dart
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle.dart
  metrics/web/lib/debug_menu/presentation/widgets/debug_menu_renderer_display.dart
  metrics/web/lib/debug_menu/strings/debug_menu_strings.dart
  metrics/web/lib/main.dart
  metrics/web/test/analytics/domain/entities/page_name_test.dart
  metrics/web/test/common/presentation/routes/route_generator_test.dart
  metrics/web/test/common/presentation/widgets/metrics_fps_monitor_test.dart
  metrics/web/test/common/presentation/widgets/metrics_user_menu_test.dart
  metrics/web/test/debug_menu/presentation/pages/debug_menu_page_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
  metrics/web/test/debug_menu/presentation/view_models/local_config_fps_monitor_view_model_test.dart
  metrics/web/test/debug_menu/presentation/view_models/renderer_display_view_model_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_renderer_display_test.dart
  metrics/web/test/test_utils/debug_menu_notifier_stub.dart
Due: metrics-web-pipeline

Formatting config files
  metrics/ci_integrations/docs/destination/firestore/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/buildkite/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/github_actions/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/jenkins/config/configuration_template.yaml
Due: ci-integrations-pipeline

Review suggestions.
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/docs/destination/firestore/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/buildkite/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/github_actions/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/jenkins/config/configuration_template.yaml
Due: ci-integrations-pipeline

Review suggestions
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/docs/source/buildkite/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/github_actions/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/jenkins/config/configuration_template.yaml
Due: ci-integrations-pipeline

User guide.
  metrics/ci_integrations/docs/02_ci_integraion_user_guide.md
Due: ci-integrations-pipeline

Formatting config file
  metrics/ci_integrations/docs/source/github_actions/config/configuration_template.yaml
Due: ci-integrations-pipeline

CI integrations user guide
  metrics/ci_integrations/docs/02_ci_integraion_user_guide.md
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/docs/buildkite/config/configuration_template.yaml
  metrics/ci_integrations/docs/destination/firestore/config/configuration_template.yaml
  metrics/ci_integrations/docs/github_actions/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/buildkite/01_buildkite_client.md
  metrics/ci_integrations/docs/source/buildkite/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/buildkite/diagrams/buildkite_client_class_diagram.puml
  metrics/ci_integrations/docs/source/github_actions/01_github_actions_client.md
  metrics/ci_integrations/docs/source/github_actions/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/github_actions/diagrams/github_actions_client_class_diagram.puml
  metrics/ci_integrations/docs/source/jenkins/config/configuration_template.yaml
Due: ci-integrations-pipeline

Review some suggestions
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/docs/destination/firestore/config/configuration_template.yaml
Due: ci-integrations-pipeline

Formatting user guide
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
Due: ci-integrations-pipeline

general improvements
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
Due: ci-integrations-pipeline

change raw to blob
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
Due: ci-integrations-pipeline

change raw to blob x2
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
Due: ci-integrations-pipeline

move paragraphs
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
Due: ci-integrations-pipeline

Change links to master
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
Due: ci-integrations-pipeline

Change links to master x2
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
Due: ci-integrations-pipeline

docs: CI Integrations user guide (#925)
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/docs/buildkite/config/configuration_template.yaml
  metrics/ci_integrations/docs/destination/firestore/config/configuration_template.yaml
  metrics/ci_integrations/docs/github_actions/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/buildkite/01_buildkite_client.md
  metrics/ci_integrations/docs/source/buildkite/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/buildkite/diagrams/buildkite_client_class_diagram.puml
  metrics/ci_integrations/docs/source/github_actions/01_github_actions_client.md
  metrics/ci_integrations/docs/source/github_actions/config/configuration_template.yaml
  metrics/ci_integrations/docs/source/github_actions/diagrams/github_actions_client_class_diagram.puml
  metrics/ci_integrations/docs/source/jenkins/config/configuration_template.yaml
Due: ci-integrations-pipeline

Implement route configuration
  metrics/web/lib/analytics/domain/entities/page_name.dart
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/app_bar/widget/metrics_app_bar.dart
  metrics/web/lib/common/presentation/drawer/widget/metrics_drawer.dart
  metrics/web/lib/common/presentation/navigation/constants/metrics_routes.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration_factory.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_name.dart
  metrics/web/lib/common/presentation/page_title/widgets/metrics_page_title.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/lib/common/presentation/routes/route_generator.dart
  metrics/web/lib/common/presentation/routes/route_name.dart
  metrics/web/lib/common/presentation/widgets/metrics_user_menu.dart
  metrics/web/test/analytics/domain/entities/page_name_test.dart
  metrics/web/test/common/presentation/navigation/route_configuration/route_configuration_factory_test.dart
  metrics/web/test/common/presentation/navigation/route_configuration/route_configuration_test.dart
  metrics/web/test/common/presentation/navigation/route_configuration/route_name_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/common/presentation/routes/metrics_page_route_test.dart
  metrics/web/test/common/presentation/routes/route_generator_test.dart
Due: metrics-web-pipeline

Refactoring and minor documentation improvements
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration_factory.dart
  metrics/web/lib/common/presentation/page_title/widgets/metrics_page_title.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
Due: metrics-web-pipeline

Merge with master
  metrics/web/lib/analytics/domain/entities/page_name.dart
  metrics/web/lib/common/presentation/navigation/constants/metrics_routes.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_name.dart
  metrics/web/lib/common/presentation/routes/route_generator.dart
  metrics/web/lib/common/presentation/routes/route_name.dart
  metrics/web/lib/common/presentation/widgets/metrics_user_menu.dart
  metrics/web/test/analytics/domain/entities/page_name_test.dart
  metrics/web/test/common/presentation/routes/route_generator_test.dart
Due: metrics-web-pipeline

Refactoring and documentation improvements
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration_factory.dart
  metrics/web/test/common/presentation/navigation/route_configuration/route_configuration_factory_test.dart
Due: metrics-web-pipeline

Minor refactoring
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration_factory.dart
Due: metrics-web-pipeline

feat: Implement RouteConfiguration (#931)
  metrics/web/lib/analytics/domain/entities/page_name.dart
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/app_bar/widget/metrics_app_bar.dart
  metrics/web/lib/common/presentation/drawer/widget/metrics_drawer.dart
  metrics/web/lib/common/presentation/navigation/constants/metrics_routes.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration_factory.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_name.dart
  metrics/web/lib/common/presentation/page_title/widgets/metrics_page_title.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/lib/common/presentation/routes/route_generator.dart
  metrics/web/lib/common/presentation/routes/route_name.dart
  metrics/web/lib/common/presentation/widgets/metrics_user_menu.dart
  metrics/web/test/analytics/domain/entities/page_name_test.dart
  metrics/web/test/common/presentation/navigation/route_configuration/route_configuration_factory_test.dart
  metrics/web/test/common/presentation/navigation/route_configuration/route_configuration_test.dart
  metrics/web/test/common/presentation/navigation/route_configuration/route_name_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/common/presentation/routes/metrics_page_route_test.dart
  metrics/web/test/common/presentation/routes/route_generator_test.dart
Due: metrics-web-pipeline

Minor documentation improvements and refactoring
  docs/17_github_actions_ci_integration.md
Due: none

Minor diagram improvements
  docs/diagrmas/github_actions_sequence_diagram.puml
Due: none

Add coverage artifact uploading section
  docs/18_github_actions_ci_integration.md
Due: none

Documentation and diagram improvements
  docs/17_github_actions_ci_integration.md
  docs/diagrmas/github_actions_sequence_diagram.puml
Due: none

add context - metrics, fix typo
  docs/18_github_actions_ci_integration.md
Due: none
