Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

feat: Update BuildkiteSourceValidationDelegate to match the latest designs (#1198)
  metrics/ci_integrations/lib/integration/validation/model/field_validation_result.dart
  metrics/ci_integrations/lib/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/test/integration/validation/model/field_validation_result_test.dart
  metrics/ci_integrations/test/integration/validation/printer/validation_result_printer_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Update jenkins source validation delegate
  metrics/ci_integrations/lib/source/jenkins/config/validation_delegate/jenkins_source_validation_delegate.dart
  metrics/ci_integrations/test/source/jenkins/config/validation_delegate/jenkins_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Fix review suggestions
  metrics/cli/lib/npm/cli/npm_cli.dart
Due: none

Fix formatting
  metrics/ci_integrations/lib/source/jenkins/config/validation_delegate/jenkins_source_validation_delegate.dart
Due: ci-integrations-pipeline

feat: Implement GitCli (#1200)
  docs/16_dependencies_licenses.md
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/flutter/cli/flutter_cli.dart
  metrics/cli/lib/git/cli/git_cli.dart
Due: none

feat: Implement NpmCli (#1202)
  metrics/cli/lib/npm/cli/npm_cli.dart
Due: none

feat: Update JenkinsSourceValidationDelegate to match the latest designs (#1204)
  metrics/ci_integrations/lib/source/jenkins/config/validation_delegate/jenkins_source_validation_delegate.dart
  metrics/ci_integrations/test/source/jenkins/config/validation_delegate/jenkins_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Fix imports
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
Due: metrics-web-pipeline

Minor improvement
  metrics/ci_integrations/test/test_utils/matchers.dart
Due: ci-integrations-pipeline

Minor documentation improvements
  metrics/ci_integrations/test/test_utils/matchers.dart
Due: ci-integrations-pipeline

Minor documentation fix
  metrics/web/test/test_utils/matchers.dart
Due: metrics-web-pipeline

Add once matcher to validator tests
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Improve CI Integrations matchers organization
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/command/validate_command_test.dart
  metrics/ci_integrations/test/cli/config/factory/raw_integration_config_factory_test.dart
  metrics/ci_integrations/test/cli/configured_parties/factory/configured_parties_factory_test.dart
  metrics/ci_integrations/test/cli/logger/factory/logger_factory_test.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
  metrics/ci_integrations/test/cli/logger/manager/logger_manager_test.dart
  metrics/ci_integrations/test/cli/logger/writer/io_logger_writer_test.dart
  metrics/ci_integrations/test/destination/firestore/client_factory/firestore_destination_client_factory_test.dart
  metrics/ci_integrations/test/integration/interface/base/party/integration_party_test.dart
  metrics/ci_integrations/test/integration/validation/printer/validation_result_printer_test.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
  metrics/ci_integrations/test/test_utils/matchers.dart
  metrics/ci_integrations/test/util/file/file_reader_test.dart
Due: ci-integrations-pipeline

Review suggestions
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_fps_monitor_toggle_test.dart
  metrics/web/test/test_utils/matchers.dart
Due: metrics-web-pipeline

Improve Core mathers organization
  metrics/core/test/domain/entities/project_test.dart
  metrics/core/test/test_utils/matcher_util.dart
  metrics/core/test/test_utils/matchers.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Minor documentation fix
  metrics/core/test/test_utils/matchers.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Improve Buildkite Validator test
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Implement FirebaseCli
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/firebase/cli/firebase_cli.dart
Due: none

Implement Jenkins source validator factory
  metrics/ci_integrations/lib/source/jenkins/config/validator_factory/jenkins_source_validator_factory.dart
  metrics/ci_integrations/lib/source/jenkins/party/jenkins_source_party.dart
  metrics/ci_integrations/test/source/jenkins/config/validator_factory/jenkins_source_validator_factory_test.dart
  metrics/ci_integrations/test/source/jenkins/party/jenkins_source_party_test.dart
Due: ci-integrations-pipeline

Implement Jenkins source validator
  metrics/ci_integrations/lib/source/jenkins/config/model/jenkins_source_config_field.dart
  metrics/ci_integrations/lib/source/jenkins/config/validator/jenkins_source_validator.dart
  metrics/ci_integrations/lib/source/jenkins/strings/jenkins_strings.dart
  metrics/ci_integrations/test/source/jenkins/config/model/jenkins_source_config_field_test.dart
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_mock.dart
Due: ci-integrations-pipeline

Resolve conflicts
  metrics/ci_integrations/lib/source/jenkins/config/validator/jenkins_source_validator.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Improve tests
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
Due: ci-integrations-pipeline

Fix matchers
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
Due: ci-integrations-pipeline

Minor documentation improvements
  metrics/cli/lib/firebase/cli/firebase_cli.dart
Due: none

Implement firebase auth factory
  metrics/ci_integrations/lib/destination/firestore/config/factory/firebase_auth_factory.dart
  metrics/ci_integrations/test/destination/firestore/config/factory/firebase_auth_factory_test.dart
Due: ci-integrations-pipeline

Implement first part of firebase validation delegate
  metrics/ci_integrations/lib/destination/firestore/config/validation_delegate/firestore_destination_validation_delegate.dart
  metrics/ci_integrations/lib/destination/firestore/strings/firestore_strings.dart
  metrics/ci_integrations/test/destination/firestore/config/validation_delegate/firestore_destination_validation_delegate_test.dart
  metrics/ci_integrations/test/destination/firestore/test_utils/mock/firebase_auth_mock.dart
Due: ci-integrations-pipeline

Fix review suggestions
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/firebase/cli/firebase_cli.dart
Due: none

Improve tests
  metrics/ci_integrations/test/destination/firestore/config/validation_delegate/firestore_destination_validation_delegate_test.dart
Due: ci-integrations-pipeline

Add default headers to clients
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/source/jenkins/config/validator/jenkins_source_validator.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/jenkins/jenkins_client_test.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/lib/source/jenkins/config/validator/jenkins_source_validator.dart
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
  metrics/ci_integrations/test/source/jenkins/config/validator_factory/jenkins_source_validator_factory_test.dart
Due: ci-integrations-pipeline

Remove redundant argument values
  metrics/ci_integrations/lib/source/buildkite/client_factory/buildkite_source_client_factory.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/jenkins/client_factory/jenkins_source_client_factory.dart
Due: ci-integrations-pipeline

Fix test
  metrics/ci_integrations/test/client/jenkins/jenkins_client_test.dart
Due: ci-integrations-pipeline

Improve tests
  metrics/ci_integrations/test/source/jenkins/config/validator_factory/jenkins_source_validator_factory_test.dart
Due: ci-integrations-pipeline

feat: Implement GCloudCli (#1201)
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/gcloud/cli/gcloud_cli.dart
Due: none

Minor documentation improvement
  metrics/cli/lib/firebase/cli/firebase_cli.dart
Due: none

feat: Implement FirebaseCli (#1205)
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/firebase/cli/firebase_cli.dart
Due: none

Update validation delegate
  metrics/ci_integrations/lib/source/github_actions/config/validation_delegate/github_actions_source_validation_delegate.dart
  metrics/ci_integrations/test/source/github_actions/config/validation_delegate/github_actions_source_validation_delegate_test.dart
Due: ci-integrations-pipeline
