Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Add more tests
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Review suggestions
  metrics/ci_integrations/lib/source/github_actions/client_factory/github_actions_source_client_factory.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/strings/github_actions_strings.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/lib/source/github_actions/config/model/github_actions_source_config_field.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator_factory/github_actions_source_validator_factory.dart
  metrics/ci_integrations/test/source/github_actions/config/model/github_actions_source_config_field_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Add license
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
Due: ci-integrations-pipeline

feat: Implement GithubActionsSourceConfigValidator, GithubActionsSourceConfigValidatorFactory (#1170)
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/source/github_actions/client_factory/github_actions_source_client_factory.dart
  metrics/ci_integrations/lib/source/github_actions/config/model/github_actions_source_config_field.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator_factory/github_actions_source_validator_factory.dart
  metrics/ci_integrations/lib/source/github_actions/party/github_actions_source_party.dart
  metrics/ci_integrations/lib/source/github_actions/strings/github_actions_strings.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/source/github_actions/config/model/github_actions_source_config_field_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator_factory/github_actions_source_validator_factory_test.dart
  metrics/ci_integrations/test/source/github_actions/party/github_actions_source_party_test.dart
Due: ci-integrations-pipeline

Fix review suggestions.
  metrics/cli/docs/diagrams/cli_interfaces_class_diagram.puml
  metrics/cli/lib/flutter/cli/flutter_cli.dart
  metrics/cli/lib/interfaces/cli/cli.dart
Due: none

Fix diagram
  metrics/ci_integrations/docs/diagrams/config_validator_destination_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Minor improvements.
  metrics/cli/lib/interfaces/cli/cli.dart
Due: none

Fix layout
  metrics/ci_integrations/docs/diagrams/config_validator_destination_class_diagram.puml
Due: ci-integrations-pipeline

Fix relations
  metrics/ci_integrations/docs/diagrams/config_validator_destination_class_diagram.puml
Due: ci-integrations-pipeline

change links to point master
  metrics/web/docs/features/in_progress_builds/01_in_progress_builds_introduction.md
Due: metrics-web-pipeline

Change links to master
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

docs: Web in-progress builds (#1183)
  metrics/web/docs/features/in_progress_builds/01_in_progress_builds_introduction.md
  metrics/web/docs/features/in_progress_builds/diagrams/build_core_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/data_layer_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/domain_layer_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/presentation_layer_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/presentation_layer_strategies_class_diagram.puml
  metrics/web/docs/features/in_progress_builds/diagrams/presentation_layer_widgets_class_diagram.puml
Due: metrics-web-pipeline

docs: Update Config Validator with new validation result (#1185)
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/config_validator_base_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/config_validator_destination_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Documentation improvements.
  metrics/cli/lib/interfaces/cli/cli.dart
Due: none

Documentation improvements №2.
  metrics/cli/lib/interfaces/cli/cli.dart
Due: none

feat: Implement FlutterCLI (#1184)
  metrics/cli/docs/diagrams/cli_interfaces_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/flutter/cli/flutter_cli.dart
  metrics/cli/lib/interfaces/cli/cli.dart
Due: none

Implement GitCli
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/flutter/cli/flutter_cli.dart
  metrics/cli/lib/git/cli/git_cli.dart
Due: none

Add license.
  docs/16_dependencies_licenses.md
  metrics/cli/lib/git/cli/git_cli.dart
Due: none

Implement GCloudCli
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/gcloud/cli/gcloud_cli.dart
Due: none

Implement NpmCli
  metrics/cli/lib/npm/cli/npm_cli.dart
Due: none

Documentation improvements.
  metrics/cli/lib/git/cli/git_cli.dart
Due: none

Minor improvements
  metrics/cli/lib/npm/cli/npm_cli.dart
Due: none

Update documentation.
  metrics/cli/lib/git/cli/git_cli.dart
Due: none

Fix review suggestions
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/gcloud/cli/gcloud_cli.dart
Due: none

Add job and coverage artifact validation
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/strings/github_actions_strings.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Review suggestions
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Fix docs
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
Due: ci-integrations-pipeline

Minor documentation fix
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
Due: ci-integrations-pipeline

feat: Implement GithubActionsSourceConfigValidator (#1186)
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/strings/github_actions_strings.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Update FieldValidationResult with tests
  metrics/ci_integrations/lib/integration/validation/model/field_validation_result.dart
  metrics/ci_integrations/test/integration/validation/model/field_validation_result_test.dart
Due: ci-integrations-pipeline

Update buildkite source validator
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Fix named params in buildkite validator
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/test/integration/validation/printer/validation_result_printer_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Update buildkite source validation delegate
  metrics/ci_integrations/lib/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate.dart
  metrics/ci_integrations/test/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Add named params to field validation result
  metrics/ci_integrations/lib/integration/validation/model/field_validation_result.dart
  metrics/ci_integrations/test/integration/validation/model/field_validation_result_test.dart
Due: ci-integrations-pipeline

Add named params to Github actions validator
  metrics/ci_integrations/lib/integration/validation/model/field_validation_result.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/lib/integration/validation/model/field_validation_result.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Resolve conflicts
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
Due: ci-integrations-pipeline

Improve tests
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
