Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Change link to `master`
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
Due: ci-integrations-pipeline

docs: CI Integrations verbose mode design (#980)
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_verbose_mode_diagram.puml
Due: ci-integrations-pipeline

Add searchable dropdown design document
  metrics/web/docs/features/searchable_dropdown/01_searchable_dropdown_design.md
  metrics/web/docs/features/searchable_dropdown/diagrams/project_groups_searchable_dropdown_widget_class_diagram.puml
  metrics/web/docs/features/searchable_dropdown/diagrams/searchable_dropdown_widget_class_diagram.puml
Due: metrics-web-pipeline

Improve documentation
  metrics/web/docs/features/searchable_dropdown/01_searchable_dropdown_design.md
  metrics/web/docs/features/searchable_dropdown/diagrams/searchable_dropdown_widget_class_diagram.puml
Due: metrics-web-pipeline

Add 'firebase use `alias`' in deploy commands
  .github/workflows/web_actions.yml
Due: none

Fix configuration and deploy commands
  .github/workflows/web_actions.yml
  metrics/web/.firebaserc
  metrics/web/firebase.json
Due: metrics-web-pipeline

Fix variable names, fix commands
  .github/workflows/web_actions.yml
Due: none

Add automatic deployments to production
  .github/workflows/web_actions.yml
  metrics/web/.firebaserc
  metrics/web/firebase.json
Due: metrics-web-pipeline

Add envs, fix description
  .github/workflows/web_actions.yml
Due: none

Minor improvements
  metrics/web/docs/features/searchable_dropdown/01_searchable_dropdown_design.md
Due: metrics-web-pipeline

Change links to master
  metrics/web/docs/features/searchable_dropdown/01_searchable_dropdown_design.md
Due: metrics-web-pipeline

Minor fixes
  .github/workflows/web_actions.yml
Due: none

docs: Searchable Dropdown design document (#978)
  metrics/web/docs/features/searchable_dropdown/01_searchable_dropdown_design.md
  metrics/web/docs/features/searchable_dropdown/diagrams/project_groups_searchable_dropdown_widget_class_diagram.puml
  metrics/web/docs/features/searchable_dropdown/diagrams/searchable_dropdown_widget_class_diagram.puml
Due: metrics-web-pipeline

Update web actions
  .github/workflows/web_actions.yml
Due: none

Regroup production secrets
  .github/workflows/web_actions.yml
Due: none

build: Automatic deployments to production (#985)
  .github/workflows/web_actions.yml
Due: none

Update deploy command sequence diagram
  metrics/deploy/docs/diagrams/deploy_command_sequence_diagram.puml
Due: none

Fix newlines
  metrics/deploy/docs/diagrams/deploy_sequence.puml
  metrics/deploy/docs/diagrams/doctor_sequence.puml
  metrics/deploy/docs/diagrams/structure_class_diagram.puml
Due: none

Change diagrams according to suggestions.
  metrics/deploy/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/deploy/docs/diagrams/deploy_tool_class_diagram.puml
  metrics/deploy/docs/diagrams/doctor_command_sequence_diagram.puml
  metrics/deploy/docs/diagrams/doctor_sequence.puml
Due: none

[WIP] Fix suggestions
  metrics/deploy/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/deploy/docs/diagrams/deploy_tool_class_diagram.puml
  metrics/deploy/docs/diagrams/doctor_sequence.puml
  metrics/deploy/docs/diagrams/structure_class_diagram.puml
Due: none

Create diagrams
  metrics/deploy/docs/diagrams/deploy_sequence.puml
  metrics/deploy/docs/diagrams/doctor_sequence.puml
  metrics/deploy/docs/diagrams/structure_class_diagram.puml
Due: none

Fix suggestions
  metrics/deploy/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/deploy/docs/diagrams/deploy_tool_class_diagram.puml
  metrics/deploy/docs/diagrams/doctor_command_sequence_diagram.puml
Due: none

Minor improvements
  metrics/deploy/docs/diagrams/doctor_command_sequence_diagram.puml
Due: none

Fix flutter command
  metrics/deploy/docs/diagrams/doctor_command_sequence_diagram.puml
Due: none

docs: Create Metrics CLI diagrams (#969)
  metrics/deploy/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/deploy/docs/diagrams/deploy_tool_class_diagram.puml
  metrics/deploy/docs/diagrams/doctor_command_sequence_diagram.puml
Due: none

Little structure updates
  docs/19_security_audit_document.md
Due: none

Implement the Security Audit document
  docs/09_firebase_deployment.md
  docs/19_security_audit_document.md
Due: none

Minor fixes
  docs/19_security_audit_document.md
Due: none

Fix non-master links
  docs/19_security_audit_document.md
Due: none

Documentation improvements
  docs/19_security_audit_document.md
Due: none

Add security rules description
  docs/19_security_audit_document.md
Due: none

Improve Security Rules links, minor improvements
  docs/19_security_audit_document.md
Due: none

Update documentation
  docs/19_security_audit_document.md
Due: none

Simplify Firebase hosting targets
  .github/workflows/web_actions.yml
  metrics/web/.firebaserc
  metrics/web/firebase.json
Due: metrics-web-pipeline

Minor fix
  docs/19_security_audit_document.md
Due: none

Fix links
  docs/19_security_audit_document.md
Due: none

Fix security rules description
  docs/19_security_audit_document.md
Due: none

Add colons
  docs/19_security_audit_document.md
Due: none

docs: Security Audit document (#971)
  docs/09_firebase_deployment.md
  docs/19_security_audit_document.md
Due: none
