Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Fix tests for the navigation notifier
  metrics/web/lib/common/presentation/navigation/models/factory/page_parameters_factory.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Fix navigation notifier test
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Tests improvements
  metrics/web/lib/common/presentation/navigation/models/factory/page_parameters_factory.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Update metrics cli class diagram
  metrics/cli/docs/features/doctor_output_improvements/diagrams/metrics_cli_class_diagram.puml
Due: none

feat: Implement Page Parameters Factory (#1479)
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/models/factory/page_parameters_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_factory_test.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/models/factory/page_parameters_factory_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/test_utils/route_name_mock.dart
Due: metrics-web-pipeline

Update buildkite source validator factory
  metrics/ci_integrations/lib/source/buildkite/config/validator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/test/source/buildkite/config/validator_factory/buildkite_source_validator_factory_test.dart
Due: ci-integrations-pipeline

Update buildkite source party
  metrics/ci_integrations/lib/source/buildkite/party/buildkite_source_party.dart
  metrics/ci_integrations/test/source/buildkite/party/buildkite_source_party_test.dart
Due: ci-integrations-pipeline

feat: Add an ability to set the auth token for the whole CLI class (#1477)
  metrics/cli/lib/services/common/auth_service.dart
  metrics/cli/lib/services/common/cli/auth_cli.dart
  metrics/cli/lib/services/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/services/firebase/cli/firebase_cli.dart
  metrics/cli/lib/services/firebase/firebase_service.dart
  metrics/cli/lib/services/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/services/sentry/cli/sentry_cli.dart
  metrics/cli/lib/services/sentry/sentry_service.dart
  metrics/cli/test/common/model/paths/paths_test.dart
  metrics/cli/test/common/strings/common_strings_test.dart
  metrics/cli/test/services/common/auth_cli_test.dart
  metrics/cli/test/services/firebase/adapter/firebase_cli_service_adapter_test.dart
  metrics/cli/test/services/firebase/strings/firebase_strings_test.dart
  metrics/cli/test/services/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/services/gcloud/strings/gcloud_strings_test.dart
  metrics/cli/test/services/git/adapter/git_cli_service_adapter_test.dart
  metrics/cli/test/services/npm/adapter/npm_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/strings/sentry_strings_test.dart
Due: none

Add validation result builder mock. Fix tests
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
  metrics/ci_integrations/test/integration/validation/printer/validation_result_printer_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_stub_mock.dart
Due: ci-integrations-pipeline

Update github actions source validation target with tests
  metrics/ci_integrations/lib/source/github_actions/config/model/github_actions_source_config_field.dart
  metrics/ci_integrations/lib/source/github_actions/config/model/github_actions_source_validation_target.dart
  metrics/ci_integrations/test/source/github_actions/config/model/github_actions_source_config_field_test.dart
  metrics/ci_integrations/test/source/github_actions/config/model/github_actions_source_validation_target_test.dart
Due: ci-integrations-pipeline

Add service enum
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_feature_component_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/metrics_cli_class_diagram.puml
Due: none

Fix table of contents and typos
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
Due: none

Add diagram legend and wording improvements
  metrics/cli/docs/features/supported_storage_version/01_supported_storage_version.md
  metrics/cli/docs/features/supported_storage_version/diagrams/storage_version_components_diagram.puml
Due: none

Remove contents section description according to template
  metrics/cli/docs/features/supported_storage_version/01_supported_storage_version.md
Due: none

Minor components diagram improvements
  metrics/cli/docs/features/supported_storage_version/diagrams/storage_version_components_diagram.puml
Due: none

Fix contents and improve the requirements section.
  metrics/cli/docs/features/supported_storage_version/01_supported_storage_version.md
Due: none

Diagram and document improvements
  metrics/cli/docs/features/supported_storage_version/01_supported_storage_version.md
  metrics/cli/docs/features/supported_storage_version/diagrams/03_storage_version_components.puml
  metrics/cli/docs/features/supported_storage_version/diagrams/storage_version_components_diagram.puml
Due: none

Metrics CLI supported storage version analysis
  metrics/cli/docs/features/supported_storage_version/01_supported_storage_version.md
  metrics/cli/docs/features/supported_storage_version/diagrams/03_storage_version_components.puml
Due: none

Improve document readability
  metrics/cli/docs/features/supported_storage_version/01_supported_storage_version.md
Due: none

Improve diagram readability
  metrics/cli/docs/features/supported_storage_version/diagrams/storage_version_components_diagram.puml
Due: none

Update links to point to master
  metrics/cli/docs/features/supported_storage_version/01_supported_storage_version.md
Due: none

docs: Metrics CLI versioning support analysis (#1480)
  metrics/cli/docs/features/supported_storage_version/01_supported_storage_version.md
  metrics/cli/docs/features/supported_storage_version/diagrams/storage_version_components_diagram.puml
Due: none

Public dashboard analysis document
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_components.puml
Due: metrics-web-pipeline

Fix diagram link
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
Due: metrics-web-pipeline

Implement Update algorithm. Add tests
  metrics/cli/lib/cli/updater/model/update_algorithm.dart
  metrics/cli/test/cli/updater/model/update_algorithm_test.dart
Due: none

general improvements
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/validation_class_diagram.puml
Due: none

Add licenses.
  metrics/cli/lib/cli/deployer/deployer.dart
  metrics/cli/lib/cli/updater/model/update_algorithm.dart
  metrics/cli/lib/common/constants/deploy_constants.dart
  metrics/cli/test/cli/deployer/deployer_test.dart
  metrics/cli/test/cli/updater/model/update_algorithm_test.dart
Due: none

change links to point master
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
Due: none

docs: Doctor output improvements design document (#1470)
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_sequence_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/config_validation_conclusion_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/cool_integration_source_validation_target_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_feature_component_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_sequence_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/metrics_cli_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/validation_class_diagram.puml
Due: none

Improve requirements and analysis document overall
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_components.puml
Due: metrics-web-pipeline

Typo fix
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_components.puml
Due: metrics-web-pipeline

Anonymous user section improvements
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
Due: metrics-web-pipeline

Add new line at the end of the components diagram
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_components.puml
Due: metrics-web-pipeline

Resolve PR suggestions
  metrics/cli/lib/cli/updater/algorithm/update_algorithm.dart
  metrics/cli/test/cli/updater/algorithm/update_algorithm_test.dart
Due: none

Diagram and wording improvements
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_components.puml
Due: metrics-web-pipeline

Resolve suggestions x2
  metrics/cli/lib/cli/deployer/deployer.dart
  metrics/cli/lib/cli/updater/algorithm/update_algorithm.dart
  metrics/cli/lib/common/constants/deploy_constants.dart
  metrics/cli/test/cli/deployer/deployer_test.dart
  metrics/cli/test/cli/updater/algorithm/update_algorithm_test.dart
Due: none

Update links to point to master
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
Due: metrics-web-pipeline

Minor improvements
  metrics/cli/test/cli/updater/algorithm/update_algorithm_test.dart
Due: none

docs: Public dashboard analysis (#1484)
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_components.puml
Due: metrics-web-pipeline
