Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Improve validation package. Minor fixes
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/config_validation_conclusion_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/cool_integration_source_validation_target_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/validation_class_diagram.puml
Due: none

Fix typos
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
Due: none

Add doctor class diagram
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
Due: none

Rename validation_output to validation
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_feature_component_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/validation_class_diagram.puml
Due: none

Improve diagrams. Fix headers
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
Due: none

Minor improvements
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/config_validation_conclusion_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/cool_integration_source_validation_target_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/validation_class_diagram.puml
Due: none

Remove validation from metrics core
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_sequence_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/config_validation_conclusion_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/cool_integration_source_validation_target_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_sequence_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/validation_class_diagram.puml
Due: none

Improve Ci integrations refactor description
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/config_validation_conclusion_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/cool_integration_source_validation_target_class_diagram.puml
Due: none

Update sequence diagrams
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_sequence_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_sequence_diagram.puml
Due: none

Fix headers
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
Due: none

Minor fixes
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
Due: none

Resolve suggestions
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/validation_class_diagram.puml
Due: none

Add validation package to metrics core
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_sequence_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/config_validation_conclusion_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/cool_integration_source_validation_target_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_sequence_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/validation_class_diagram.puml
Due: none

Minor fixes
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_sequence_diagram.puml
Due: none

Update recommended_versions.yaml
  metrics/cli/recommended_versions.yaml
Due: none

[WIP] Implement AuthCli.
  metrics/cli/lib/services/common/cli/auth_cli.dart
  metrics/cli/lib/services/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/services/firebase/cli/firebase_cli.dart
  metrics/cli/lib/services/firebase/firebase_service.dart
  metrics/cli/lib/services/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/services/sentry/cli/sentry_cli.dart
  metrics/cli/lib/services/sentry/sentry_service.dart
Due: none

Rename file
  metrics/cli/dependencies.yaml
Due: none

Add dependency package
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/metrics_cli_class_diagram.puml
Due: none

Update npm link
  metrics/cli/dependencies.yaml
Due: none

feat: Update recommended_versions.yaml (#1476)
  metrics/cli/dependencies.yaml
Due: none

Update `dependencies` package description and diagrams
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_class_diagram.puml
  metrics/cli/docs/features/doctor_output_improvements/diagrams/metrics_cli_class_diagram.puml
Due: none

Minor improvements
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
Due: none

Update doctor sequence diagram
  metrics/cli/docs/features/doctor_output_improvements/diagrams/doctor_output_improvements_sequence_diagram.puml
Due: none

Implement AuthCli. Add tests
  metrics/cli/lib/services/common/cli/auth_cli.dart
  metrics/cli/lib/services/common/mixin/authorization.dart
  metrics/cli/lib/services/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/services/firebase/firebase_service.dart
  metrics/cli/lib/services/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/test/common/model/paths/paths_test.dart
  metrics/cli/test/common/strings/common_strings_test.dart
  metrics/cli/test/services/common/auth_cli_test.dart
  metrics/cli/test/services/firebase/adapter/firebase_cli_service_adapter_test.dart
  metrics/cli/test/services/firebase/strings/firebase_strings_test.dart
  metrics/cli/test/services/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/services/gcloud/strings/gcloud_strings_test.dart
  metrics/cli/test/services/git/adapter/git_cli_service_adapter_test.dart
  metrics/cli/test/services/npm/adapter/npm_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/strings/sentry_strings_test.dart
Due: none

Minor improvements
  metrics/cli/lib/services/common/cli/auth_cli.dart
Due: none

Review suggestions
  metrics/web/lib/common/presentation/navigation/models/page_parameters_model.dart
  metrics/web/lib/dashboard/presentation/models/dashboard_page_parameters_model.dart
  metrics/web/test/dashboard/presentation/models/dashboard_page_parameters_model_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/test/dashboard/presentation/models/dashboard_page_parameters_model_test.dart
Due: metrics-web-pipeline

Create the dashboard page parameters model
  metrics/web/lib/common/presentation/navigation/models/page_parameters_model.dart
  metrics/web/lib/dashboard/presentation/models/dashboard_page_parameters_model.dart
  metrics/web/test/dashboard/presentation/models/dashboard_page_parameters_model_test.dart
Due: metrics-web-pipeline

Minor fixes
  metrics/web/lib/common/presentation/navigation/models/page_parameters_model.dart
  metrics/web/lib/dashboard/presentation/models/dashboard_page_parameters_model.dart
  metrics/web/test/dashboard/presentation/models/dashboard_page_parameters_model_test.dart
Due: metrics-web-pipeline

Improve test case description and fix implementation
  metrics/web/test/dashboard/presentation/models/dashboard_page_parameters_model_test.dart
Due: metrics-web-pipeline

Add check for null to the fromMap() method
  metrics/web/lib/dashboard/presentation/models/dashboard_page_parameters_model.dart
  metrics/web/test/dashboard/presentation/models/dashboard_page_parameters_model_test.dart
Due: metrics-web-pipeline

Minor fix in tests
  metrics/web/test/dashboard/presentation/models/dashboard_page_parameters_model_test.dart
Due: metrics-web-pipeline

Add TargetValidationResult with tests
  metrics/core/lib/src/features/validation/target_validation_result.dart
  metrics/core/test/features/validation/target_validation_result_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add Validation conclusion and target
  metrics/core/lib/src/features/validation/validation_conclusion.dart
  metrics/core/lib/src/features/validation/validation_target.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add tests for Validation conclusion and target
  metrics/core/lib/src/features/validation/validation_conclusion.dart
  metrics/core/lib/src/features/validation/validation_target.dart
  metrics/core/test/features/validation/validation_conclusion_test.dart
  metrics/core/test/features/validation/validation_target_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Improve TargetValidationResult
  metrics/core/lib/src/features/validation/target_validation_result.dart
  metrics/core/lib/src/features/validation/validation_conclusion.dart
  metrics/core/lib/src/features/validation/validation_target.dart
  metrics/core/test/features/validation/target_validation_result_test.dart
  metrics/core/test/features/validation/validation_conclusion_test.dart
  metrics/core/test/features/validation/validation_target_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add validation result printer
  metrics/core/lib/src/features/validation/printer/validation_result_printer.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline
