Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Add Github Action for CLA
  .github/workflows/cla.yml
Due: none

feat: Enable contributor CLA (#1109)
  .github/workflows/cla.yml
Due: none

Create CLA document and fix cla.yml workflow
  .github/workflows/cla.yml
  cla.md
Due: none

chore: create CLA document and fix cla.yml workflow (#1117)
  .github/workflows/cla.yml
  cla.md
Due: none

Minor fix
  metrics/ci_integrations/lib/integration/validation/model/validation_result_builder.dart
Due: ci-integrations-pipeline

Improve readability, improve tests, improve ValidationResultBuilder's .setResult() method
  metrics/ci_integrations/lib/integration/validation/model/field_validation_result.dart
  metrics/ci_integrations/lib/integration/validation/model/validation_result_builder.dart
  metrics/ci_integrations/lib/source/buildkite/config/vaildator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/lib/source/buildkite/strings/buildkite_strings.dart
  metrics/ci_integrations/test/integration/validation/model/field_validation_result_test.dart
  metrics/ci_integrations/test/integration/validation/model/validation_result_builder_test.dart
  metrics/ci_integrations/test/integration/validation/model/validation_result_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Fix license headers
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
Due: ci-integrations-pipeline

Fix BuildkiteSourceConfigField
  metrics/ci_integrations/lib/source/buildkite/config/model/buildkite_source_config_field.dart
  metrics/ci_integrations/test/source/buildkite/config/model/buildkite_source_config_field_test.dart
Due: ci-integrations-pipeline

Add missing tests, delete unused matchers
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/matcher_util.dart
Due: ci-integrations-pipeline

Add BuildkiteSourceConfigField
  metrics/ci_integrations/lib/source/buildkite/config/model/buildkite_source_config_field.dart
  metrics/ci_integrations/test/source/buildkite/config/model/buildkite_source_config_field_test.dart
Due: ci-integrations-pipeline

Minor improvements and naming fixes
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Implement BuildkiteSourceValidator, BuildkiteSourceValidatorFactory with tests
  metrics/ci_integrations/lib/source/buildkite/config/vaildator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/lib/source/buildkite/strings/buildkite_strings.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator_factory/buildkite_source_validator_factory_test.dart
  metrics/ci_integrations/test/test_utils/matcher_util.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/lib/integration/validation/model/validation_result_builder.dart
  metrics/ci_integrations/lib/source/buildkite/strings/buildkite_strings.dart
Due: ci-integrations-pipeline

feat: Implement BuildkiteSourceValidator, BuildkiteSourceValidatorFactory (#1114)
  metrics/ci_integrations/lib/integration/validation/model/field_validation_result.dart
  metrics/ci_integrations/lib/integration/validation/model/validation_result_builder.dart
  metrics/ci_integrations/lib/source/buildkite/config/model/buildkite_source_config_field.dart
  metrics/ci_integrations/lib/source/buildkite/config/vaildator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/lib/source/buildkite/strings/buildkite_strings.dart
  metrics/ci_integrations/test/integration/validation/model/field_validation_result_test.dart
  metrics/ci_integrations/test/integration/validation/model/validation_result_builder_test.dart
  metrics/ci_integrations/test/integration/validation/model/validation_result_test.dart
  metrics/ci_integrations/test/source/buildkite/config/model/buildkite_source_config_field_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator_factory/buildkite_source_validator_factory_test.dart
Due: ci-integrations-pipeline

Minor fixes
  metrics/cli/docs/02_enabling_firebase_analytics.md
Due: none

Create a document with Firebase analytics investigation for Metrics CLI
  metrics/cli/docs/02_metrics_cli_firebase_analytics_investigation.md
Due: none

Fix review suggestions
  metrics/cli/docs/02_enabling_firebase_analytics.md
  metrics/cli/docs/02_metrics_cli_firebase_analytics_investigation.md
Due: none

docs: Investigate the way of enabling the Firebase Analytics (#1115)
  metrics/cli/docs/02_enabling_firebase_analytics.md
Due: none

Implement bar chart to match latest design
  metrics/web/lib/common/presentation/metrics_theme/config/dimensions_config.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_row.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy_test.dart
Due: metrics-web-pipeline

Review suggestions
  metrics/web/lib/common/presentation/metrics_theme/config/dimensions_config.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_row.dart
  metrics/web/lib/dashboard/presentation/widgets/project_metrics_tile.dart
Due: metrics-web-pipeline

minor fixes
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar.dart
  metrics/web/lib/dashboard/presentation/widgets/project_metrics_tile.dart
Due: metrics-web-pipeline

feat: Implement a bar chart to match latest design (#1113)
  metrics/web/lib/common/presentation/metrics_theme/config/dimensions_config.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/lib/dashboard/presentation/widgets/metrics_table_row.dart
  metrics/web/lib/dashboard/presentation/widgets/project_metrics_tile.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy_test.dart
Due: metrics-web-pipeline

Create an investigation document
  metrics/cli/docs/03_enablig_firebase_authentication.md
Due: none

Fix review suggestions
  metrics/cli/docs/03_enablig_firebase_authentication.md
Due: none

Minor improvements
  metrics/cli/docs/03_enablig_firebase_authentication.md
Due: none

docs: Investigate the way of enabling the Firebase Authentication (#1120)
  metrics/cli/docs/03_enablig_firebase_authentication.md
Due: none

Minor fixes
  metrics/ci_integrations/lib/source/buildkite/client_factory/buildkite_source_client_factory.dart
  metrics/ci_integrations/lib/source/buildkite/config/vaildator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/github_actions/client_factory/github_actions_source_client_factory.dart
  metrics/ci_integrations/lib/source/jenkins/client_factory/jenkins_source_client_factory.dart
Due: ci-integrations-pipeline

Rename headers to defaultHeaders
  metrics/ci_integrations/lib/constants/http_constants.dart
  metrics/ci_integrations/lib/source/buildkite/client_factory/buildkite_source_client_factory.dart
  metrics/ci_integrations/lib/source/buildkite/config/vaildator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/github_actions/client_factory/github_actions_source_client_factory.dart
  metrics/ci_integrations/lib/source/jenkins/client_factory/jenkins_source_client_factory.dart
Due: ci-integrations-pipeline

Add license banner
  metrics/ci_integrations/lib/constants/http_constants.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/lib/source/buildkite/config/vaildator_factory/buildkite_source_validator_factory.dart
Due: ci-integrations-pipeline

Create http constants and fix tests
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/constants/http_constants.dart
  metrics/ci_integrations/lib/source/buildkite/client_factory/buildkite_source_client_factory.dart
  metrics/ci_integrations/lib/source/github_actions/client_factory/github_actions_source_client_factory.dart
  metrics/ci_integrations/lib/source/jenkins/client_factory/jenkins_source_client_factory.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/client/jenkins/jenkins_client_test.dart
Due: ci-integrations-pipeline

Add additional headers parameter to the source clients
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/source/buildkite/client_factory/buildkite_source_client_factory.dart
  metrics/ci_integrations/lib/source/github_actions/client_factory/github_actions_source_client_factory.dart
  metrics/ci_integrations/lib/source/jenkins/client_factory/jenkins_source_client_factory.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/client/jenkins/jenkins_client_test.dart
Due: ci-integrations-pipeline

Add an empty user-agent header for the API calls
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/client/jenkins/jenkins_client_test.dart
Due: ci-integrations-pipeline

feat: Add an empty user-agent header for the API calls (#1118)
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/constants/http_constants.dart
  metrics/ci_integrations/lib/source/buildkite/client_factory/buildkite_source_client_factory.dart
  metrics/ci_integrations/lib/source/buildkite/config/vaildator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/github_actions/client_factory/github_actions_source_client_factory.dart
  metrics/ci_integrations/lib/source/jenkins/client_factory/jenkins_source_client_factory.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/client/jenkins/jenkins_client_test.dart
Due: ci-integrations-pipeline

finalize diagrams; add missing document sections; minor fixes
  metrics/ci_integrations/docs/diagrams/resync_builds_stage_activity_diagram.puml
  metrics/ci_integrations/docs/diagrams/resync_builds_stage_sequence_diagram.puml
Due: ci-integrations-pipeline

minor fixes
  metrics/ci_integrations/docs/05_builds_synchronization.md
Due: ci-integrations-pipeline

fix no new line
  metrics/ci_integrations/docs/diagrams/resync_builds_stage_sequence_diagram.puml
  metrics/ci_integrations/docs/diagrams/sync_algorithm_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/sync_builds_stage_sequence_diagram.puml
Due: ci-integrations-pipeline

add diagrams; add sections to the document
  metrics/ci_integrations/docs/05_builds_synchronization.md
  metrics/ci_integrations/docs/diagrams/resync_stage_activity_diagram.puml
  metrics/ci_integrations/docs/diagrams/resync_stage_sequence_diagram.puml
  metrics/ci_integrations/docs/diagrams/sync_algorithm_activity_diagram.puml
  metrics/ci_integrations/docs/diagrams/sync_algorithm_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/sync_builds_stage_activity_diagram.puml
  metrics/ci_integrations/docs/diagrams/sync_builds_stage_sequence_diagram.puml
Due: ci-integrations-pipeline

add line break
  metrics/ci_integrations/docs/05_builds_synchronization.md
Due: ci-integrations-pipeline

minor improvements
  metrics/ci_integrations/docs/05_builds_synchronization.md
Due: ci-integrations-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
