Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Remove mapper changes
  metrics/cli/lib/services/common/service/model/mapper/service_name_mapper.dart
  metrics/cli/test/services/common/service/model/mapper/service_name_mapper_test.dart
Due: none

Minor fix
  metrics/cli/test/services/common/service/model/mapper/service_name_mapper_test.dart
Due: none

Minor improvement
  metrics/cli/test/services/common/service/model/mapper/service_name_mapper_test.dart
Due: none

Remove unused import
  metrics/cli/test/services/common/service/model/mapper/service_name_mapper_test.dart
Due: none

Improve tests descriptions
  metrics/cli/lib/cli/doctor/models/doctor_target_validation_result.dart
  metrics/cli/lib/cli/doctor/models/doctor_validation_conclusion.dart
  metrics/cli/test/cli/doctor/models/doctor_target_validation_result_test.dart
Due: none

Implement PublicDashboardFeatureConfigModel class with tests
  metrics/web/lib/feature_config/presentation/models/public_dashboard_feature_config_model.dart
  metrics/web/test/feature_config/presentation/models/public_dashboard_feature_config_model_test.dart
Due: metrics-web-pipeline

Update FeatureConfigNotifier to include and initialize PublicDashboardFeatureConfigModel
  metrics/web/lib/feature_config/presentation/state/feature_config_notifier.dart
Due: metrics-web-pipeline

Update multiple classes to support isPublicDashboardFeatureEnabled parameter
  metrics/web/lib/feature_config/domain/usecases/fetch_feature_config_usecase.dart
  metrics/web/lib/feature_config/domain/usecases/parameters/feature_config_param.dart
  metrics/web/lib/feature_config/presentation/models/public_dashboard_feature_config_model.dart
  metrics/web/test/feature_config/domain/usecases/fetch_feature_config_usecase_test.dart
  metrics/web/test/feature_config/domain/usecases/parameters/feature_config_param_test.dart
  metrics/web/test/feature_config/presentation/state/feature_config_notifier_test.dart
  metrics/web/test/test_utils/feature_config_notifier_stub.dart
Due: metrics-web-pipeline

Update FeatureConfigNotifier tests
  metrics/web/test/feature_config/presentation/state/feature_config_notifier_test.dart
Due: metrics-web-pipeline

Change RouteConfiguration class
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration.dart
  metrics/web/test/common/presentation/navigation/route_configuration/route_configuration_test.dart
Due: metrics-web-pipeline

Minor improvements
  metrics/web/lib/feature_config/presentation/state/feature_config_notifier.dart
Due: metrics-web-pipeline

feat: Add the sign-in anonymously feature to the FirebaseUserRepository (#1569)
  metrics/web/lib/auth/data/repositories/firebase_user_repository.dart
  metrics/web/lib/auth/domain/repositories/user_repository.dart
Due: metrics-web-pipeline

Implement AuthState enum
  metrics/web/lib/auth/presentation/models/auth_state.dart
Due: metrics-web-pipeline

Integrate AuthState into AuthNotifier
  metrics/web/lib/auth/data/adapter/firebase_user_adapter.dart
  metrics/web/lib/auth/domain/entities/user.dart
  metrics/web/lib/auth/presentation/state/auth_notifier.dart
  metrics/web/test/auth/data/adapter/firebase_user_adapter_test.dart
  metrics/web/test/auth/domain/entities/user_test.dart
  metrics/web/test/auth/presentation/state/auth_notifier_test.dart
  metrics/web/test/test_utils/auth_notifier_stub.dart
  metrics/web/test/test_utils/signed_in_auth_notifier_stub.dart
Due: metrics-web-pipeline

Fix isLoggedIn getter
  metrics/web/lib/auth/presentation/state/auth_notifier.dart
  metrics/web/test/test_utils/auth_notifier_stub.dart
  metrics/web/test/test_utils/signed_in_auth_notifier_stub.dart
Due: metrics-web-pipeline

Add some tests of AuthState logic to the AuthNotifier class
  metrics/web/test/auth/presentation/state/auth_notifier_test.dart
Due: metrics-web-pipeline

feat: Change the Presentation layer of the FeatureConfig module #1554 (#1573)
  metrics/web/lib/feature_config/domain/usecases/fetch_feature_config_usecase.dart
  metrics/web/lib/feature_config/domain/usecases/parameters/feature_config_param.dart
  metrics/web/lib/feature_config/presentation/models/public_dashboard_feature_config_model.dart
  metrics/web/lib/feature_config/presentation/state/feature_config_notifier.dart
  metrics/web/test/feature_config/domain/usecases/fetch_feature_config_usecase_test.dart
  metrics/web/test/feature_config/domain/usecases/parameters/feature_config_param_test.dart
  metrics/web/test/feature_config/presentation/models/public_dashboard_feature_config_model_test.dart
  metrics/web/test/feature_config/presentation/state/feature_config_notifier_test.dart
  metrics/web/test/test_utils/feature_config_notifier_stub.dart
Due: metrics-web-pipeline

Update GitHub validation to use Metrics Core
  metrics/ci_integrations/lib/source/github_actions/config/model/github_actions_source_config_field.dart
  metrics/ci_integrations/lib/source/github_actions/config/model/github_actions_source_validation_target.dart
  metrics/ci_integrations/lib/source/github_actions/config/validation_delegate/github_actions_source_validation_delegate.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator_factory/github_actions_source_validator_factory.dart
  metrics/ci_integrations/lib/source/github_actions/party/github_actions_source_party.dart
  metrics/ci_integrations/test/source/github_actions/config/model/github_actions_source_config_field_test.dart
  metrics/ci_integrations/test/source/github_actions/config/model/github_actions_source_validation_target_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validation_delegate/github_actions_source_validation_delegate_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator_factory/github_actions_source_validator_factory_test.dart
  metrics/ci_integrations/test/source/github_actions/party/github_actions_source_party_test.dart
Due: ci-integrations-pipeline

[WIP] Implement manufacturer banner
  metrics/web/lib/common/presentation/manufacturer_banner/widget/manufacturer_banner.dart
  metrics/web/lib/common/presentation/scaffold/widget/metrics_scaffold.dart
  metrics/web/lib/common/presentation/strings/common_strings.dart
  metrics/web/test/common/presentation/manufacturer_banner/widget/manufacturer_banner_test.dart
  metrics/web/web/icons/solid_logo.svg
Due: metrics-web-pipeline

Review suggestions
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration.dart
Due: metrics-web-pipeline

Minor fixes
  metrics/web/lib/auth/domain/entities/user.dart
  metrics/web/lib/auth/presentation/models/auth_state.dart
  metrics/web/lib/auth/presentation/state/auth_notifier.dart
  metrics/web/test/auth/domain/entities/user_test.dart
  metrics/web/test/auth/presentation/state/auth_notifier_test.dart
  metrics/web/test/test_utils/auth_notifier_stub.dart
Due: metrics-web-pipeline

Fix login screen overflow
  metrics/web/lib/auth/presentation/pages/login_page.dart
Due: metrics-web-pipeline

feat: Change the RouteConfiguration class (#1572)
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration.dart
  metrics/web/test/common/presentation/navigation/route_configuration/route_configuration_test.dart
Due: metrics-web-pipeline

Minor fixes
  metrics/web/lib/auth/presentation/state/auth_notifier.dart
  metrics/web/test/test_utils/auth_notifier_stub.dart
  metrics/web/test/test_utils/signed_in_auth_notifier_stub.dart
Due: metrics-web-pipeline

feat: Implement AuthState enum and integrate it (#1574)
  metrics/web/lib/auth/data/adapter/firebase_user_adapter.dart
  metrics/web/lib/auth/domain/entities/user.dart
  metrics/web/lib/auth/presentation/models/auth_state.dart
  metrics/web/lib/auth/presentation/state/auth_notifier.dart
  metrics/web/test/auth/data/adapter/firebase_user_adapter_test.dart
  metrics/web/test/auth/domain/entities/user_test.dart
  metrics/web/test/auth/presentation/state/auth_notifier_test.dart
  metrics/web/test/test_utils/auth_notifier_stub.dart
  metrics/web/test/test_utils/signed_in_auth_notifier_stub.dart
Due: metrics-web-pipeline

Subscribe AuthNotifier to public dashboard feature config changes by Maksym
  metrics/web/lib/auth/presentation/state/auth_notifier.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
Due: metrics-web-pipeline

Subscribe AuthNotifier to public dashboard feature config changes by Anatoly
  metrics/web/lib/auth/presentation/state/auth_notifier.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
Due: metrics-web-pipeline

Add tests for InjectionContainer
  metrics/web/test/common/presentation/injector/widget/injection_container_test.dart
  metrics/web/test/test_utils/auth_notifier_stub.dart
  metrics/web/test/test_utils/signed_in_auth_notifier_stub.dart
Due: metrics-web-pipeline

Minor fixes
  metrics/web/lib/auth/presentation/state/auth_notifier.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
Due: metrics-web-pipeline

fix: Fix login screen overflow (#1576)
  metrics/web/lib/auth/presentation/pages/login_page.dart
Due: metrics-web-pipeline

Add firebase use alias
  .github/workflows/web_actions.yml
Due: none

Add check if the public dashboard is enabled
  metrics/firebase/firestore/rules/firestore.rules
Due: none

Minor fixes
  metrics/firebase/firestore/rules/firestore.rules
Due: none

Implement SignInAnonymouslyUseCase class
  metrics/web/lib/auth/domain/usecases/sign_in_anonymously_usecase.dart
Due: metrics-web-pipeline

Add SignInAnonymouslyUseCase tests
  metrics/web/lib/auth/domain/usecases/sign_in_anonymously_usecase.dart
  metrics/web/test/auth/domain/usercases/sign_in_anonymously_usecase_test.dart
Due: metrics-web-pipeline

Implement isLegallySignedInAnonymously() in firestore.rules
  metrics/firebase/firestore/rules/firestore.rules
Due: none

feat: Implement Doctor versions checking models
  metrics/cli/lib/cli/doctor/strings/doctor_strings.dart
Due: none

Fix test-data.js, minor changes in firestore.rules
  metrics/firebase/firestore/rules/firestore.rules
  metrics/firebase/test/firestore/rules/test_utils/test-data.js
Due: none

[WIP] Public dashboard security rules tests implementation
  metrics/firebase/test/firestore/rules/build-days-test.js
  metrics/firebase/test/firestore/rules/test_utils/test-data.js
Due: none

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
