Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Add more commands, refactoring
  metrics/deploy/lib/cli/firebase/firebase_command.dart
  metrics/deploy/lib/cli/flutter/flutter_command.dart
  metrics/deploy/lib/cli/npm/npm_command.dart
  metrics/deploy/lib/deploy/deploy_command.dart
  metrics/deploy/lib/doctor/doctor_command.dart
Due: none

Simplify Firebase hosting targets (#991)
  .github/workflows/web_actions.yml
  metrics/web/.firebaserc
  metrics/web/firebase.json
Due: metrics-web-pipeline

Fix linking Firebase project
  .github/workflows/web_actions.yml
Due: none

Fix Production deploy command (#996)
  .github/workflows/web_actions.yml
Due: none

update pubspec
  metrics/ci_integrations/pubspec.yaml
Due: ci-integrations-pipeline

minor fixes
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
Due: ci-integrations-pipeline

Review suggestions
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
Due: ci-integrations-pipeline

Fix logs and tests
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/destination/firestore/client_factory/firestore_destination_client_factory.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
  metrics/ci_integrations/test/cli/runner/ci_integration_runner_test.dart
  metrics/ci_integrations/test/cli/test_util/mock/io_sink_mock.dart
  metrics/ci_integrations/test/cli/test_util/stub/io_sink_stub.dart
Due: ci-integrations-pipeline

More fixes in logs and tests
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
Due: ci-integrations-pipeline

Add log
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
Due: ci-integrations-pipeline

Fix tests and add more logs
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
  metrics/ci_integrations/test/cli/test_util/stub/io_sink_stub.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/client/jenkins/jenkins_client_test.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
  metrics/ci_integrations/test/destination/firestore/client_factory/firestore_destination_client_factory_test.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Remove fetch next logs
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
Due: ci-integrations-pipeline

Remove fetch artifact logs
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
Due: ci-integrations-pipeline

fix tests and refactor logs
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
Due: ci-integrations-pipeline

Minor Github Actions log improvement
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
Due: ci-integrations-pipeline

Implement Logger
  metrics/ci_integrations/bin/main.dart
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/destination/firestore/client_factory/firestore_destination_client_factory.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
Due: ci-integrations-pipeline

fix logs descriptions
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
Due: ci-integrations-pipeline

Minor documentation improvements. Add tests.
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
Due: ci-integrations-pipeline

Minor Jenkins client fix
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
Due: ci-integrations-pipeline

Add logs to ci
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/destination/firestore/client_factory/firestore_destination_client_factory.dart
Due: ci-integrations-pipeline

Fix existing tests
  metrics/ci_integrations/test/cli/command/ci_integration_command_test.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
  metrics/ci_integrations/test/cli/runner/ci_integration_runner_test.dart
  metrics/ci_integrations/test/cli/test_util/stub/logger_stub.dart
Due: ci-integrations-pipeline

Add more logs
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
Due: ci-integrations-pipeline

Implement verbose mode to log out messages
  metrics/ci_integrations/bin/main.dart
  metrics/ci_integrations/lib/cli/command/ci_integration_command.dart
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
Due: ci-integrations-pipeline

Minor Jenkins logs fix
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
Due: ci-integrations-pipeline

Fix logger docs
  metrics/ci_integrations/lib/cli/logger/logger.dart
Due: ci-integrations-pipeline

Add logs to source clients
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
Due: ci-integrations-pipeline

fix logs
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/destination/firestore/client_factory/firestore_destination_client_factory.dart
Due: ci-integrations-pipeline

Update dependencies licenses document
  docs/16_dependencies_licenses.md
Due: none

fix log position
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
Due: ci-integrations-pipeline

feat: CI Integrations: Add verbose mode (#989)
  docs/16_dependencies_licenses.md
  metrics/ci_integrations/bin/main.dart
  metrics/ci_integrations/lib/cli/command/ci_integration_command.dart
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/destination/firestore/client_factory/firestore_destination_client_factory.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/pubspec.yaml
  metrics/ci_integrations/test/cli/command/ci_integration_command_test.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
  metrics/ci_integrations/test/cli/runner/ci_integration_runner_test.dart
  metrics/ci_integrations/test/cli/test_util/mock/io_sink_mock.dart
  metrics/ci_integrations/test/cli/test_util/stub/logger_stub.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/client/jenkins/jenkins_client_test.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
  metrics/ci_integrations/test/destination/firestore/client_factory/firestore_destination_client_factory_test.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Remove Logger tests
  metrics/ci_integrations/test/cli/logger/logger_test.dart
Due: ci-integrations-pipeline

Remove Logger tests (#1003)
  metrics/ci_integrations/test/cli/logger/logger_test.dart
Due: ci-integrations-pipeline

Add font size reduce test
  metrics/web/test/base/presentation/widgets/scorecard_test.dart
Due: metrics-web-pipeline

Add large values support to the Scorecard widget
  metrics/web/lib/base/presentation/widgets/scorecard.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/pubspec.yaml
  metrics/web/test/base/presentation/widgets/scorecard_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_number_scorecard_test.dart
Due: metrics-web-pipeline

Add auto_size_text to the Dependencies Licenses document
  docs/16_dependencies_licenses.md
Due: none

fix: Large builds per week numbers (#994)
  docs/16_dependencies_licenses.md
  metrics/web/lib/base/presentation/widgets/scorecard.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/pubspec.yaml
  metrics/web/test/base/presentation/widgets/scorecard_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_number_scorecard_test.dart
Due: metrics-web-pipeline

Update deployment documents
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none

Add more context on hosting name
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none

Add note
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none

Improve documentation
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none
