Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Rollback GCloud
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
Due: none

Fix data layer description and domain layer diagram
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
Due: metrics-web-pipeline

Update domain diagram
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
Due: metrics-web-pipeline

Minor fixes
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_presentation_layer_class_diagram.puml
Due: metrics-web-pipeline

Add missing projectId, update data layer description
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
Due: metrics-web-pipeline

Fix links
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
Due: metrics-web-pipeline

docs: Metrics Web Application builds aggregation design document (#1307)
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_presentation_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_sequence_diagram.puml
Due: metrics-web-pipeline

Fix review suggestions
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/lib/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/sentry/cli/sentry_cli.dart
  metrics/cli/test/sentry/adapter/sentry_cli_service_adapter_test.dart
Due: none

Add tests for NewBuildsSyncStage
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/new_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Changes by yevheniiashchypeleva
  metrics/ci_integrations/test/integration/ci/sync_stage/factory/sync_stage_factory_test.dart
Due: ci-integrations-pipeline

Add tests for .addCoverageData() method
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Refactor addCoverageData method
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/builds_sync_stage.dart
Due: ci-integrations-pipeline

Minor fixes
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/builds_sync_stage.dart
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
Due: ci-integrations-pipeline

Resolve suggestions for the InProgressBuildsSyncStage tests
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/in_progress_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

[WIP] InProgressBuildsSyncStage tests
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/in_progress_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Update documentation, extract methods
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
Due: ci-integrations-pipeline

Fix rebase changes
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
Due: ci-integrations-pipeline

Delete rebased file
  metrics/ci_integrations/test/integration/ci/sync_stage/factory/sync_stage_factory_test.dart
Due: ci-integrations-pipeline

Resolve suggestions for the InProgressBuildsSyncStage
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
Due: ci-integrations-pipeline

[WIP] add more tests for in-progress stage
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/in_progress_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Implement tests for the InProgressBuildsSyncStage
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/in_progress_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Update CI Integration class
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
Due: ci-integrations-pipeline

Fix rebase changes
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/new_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Implement tests for the InProgressBuildsSyncStage
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/in_progress_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Add in progress builds sync stage
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
Due: ci-integrations-pipeline

Improve documentation
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
Due: ci-integrations-pipeline

Minor fix in tests
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/in_progress_builds_sync_stage_test.dart
Due: ci-integrations-pipeline

Fix review suggestions
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/common/constants/config_constants.dart
  metrics/cli/lib/common/model/metrics_config.dart
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/firebase/service/firebase_service.dart
  metrics/cli/lib/firebase/strings/firebase_strings.dart
  metrics/cli/test/common/model/metrics_config_test.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/firebase/adapter/firebase_cli_service_adapter_test.dart
Due: none

Fix Deploy sequence diagram
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
Due: none

Fix CLI's login methods
  metrics/cli/lib/firebase/cli/firebase_cli.dart
  metrics/cli/lib/gcloud/cli/gcloud_cli.dart
Due: none

Fix review suggestions
  metrics/cli/lib/sentry/cli/sentry_cli.dart
  metrics/cli/test/sentry/cli/sentry_cli_test.dart
Due: none

Improve login methods
  metrics/cli/lib/firebase/cli/firebase_cli.dart
  metrics/cli/lib/gcloud/cli/gcloud_cli.dart
Due: none

Improve SentryCli
  metrics/cli/lib/sentry/cli/sentry_cli.dart
Due: none

Update links to the master branch
  metrics/cli/docs/01_metrics_cli_design.md
Due: none

feat: Implement SentryService (#1314)
  docs/16_dependencies_licenses.md
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/sentry/cli/sentry_cli.dart
  metrics/cli/lib/sentry/model/sentry_project.dart
  metrics/cli/lib/sentry/model/sentry_release.dart
  metrics/cli/lib/sentry/model/source_map.dart
  metrics/cli/lib/sentry/service/sentry_service.dart
  metrics/cli/lib/sentry/strings/sentry_strings.dart
  metrics/cli/pubspec.yaml
  metrics/cli/test/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/sentry/cli/sentry_cli_test.dart
  metrics/cli/test/sentry/model/sentry_project_test.dart
  metrics/cli/test/sentry/model/sentry_release_test.dart
  metrics/cli/test/sentry/model/source_map_test.dart
  metrics/cli/test/sentry/strings/sentry_strings_test.dart
  metrics/cli/test/test_utils/firebase_service_mock.dart
Due: none

Fix review suggestions
  metrics/cli/lib/common/model/metrics_config.dart
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/firebase/service/firebase_service.dart
  metrics/cli/lib/firebase/strings/firebase_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
Due: none

Minor test description improvements
  metrics/cli/test/deploy/deployer_test.dart
Due: none

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
