Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Minor improvements
  metrics/core/lib/src/util/validation/validation_result.dart
  metrics/core/lib/src/util/validation/validation_result_builder.dart
  metrics/core/test/util/validation/validation_result_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Fix typo
  metrics/core/lib/src/util/validation/validation_result_builder.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

feat: Implement ValidationResult and ValidationResultBuilder (#1506)
  metrics/core/lib/src/util/validation/validation_result.dart
  metrics/core/lib/src/util/validation/validation_result_builder.dart
  metrics/core/test/util/validation/validation_result_builder_test.dart
  metrics/core/test/util/validation/validation_result_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add validation result printer
  metrics/core/lib/src/util/validation/printer/validation_result_printer.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add tests for validation result printer
  metrics/core/pubspec.yaml
  metrics/core/test/test_utils/matchers.dart
  metrics/core/test/util/validation/printer/validation_result_printer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add exports to metrics core
  metrics/core/lib/metrics_core.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Update jenkins validation target with tests
  metrics/ci_integrations/lib/source/jenkins/config/model/jenkins_source_config_field.dart
  metrics/ci_integrations/lib/source/jenkins/config/model/jenkins_source_validation_target.dart
  metrics/ci_integrations/test/source/jenkins/config/model/jenkins_source_config_field_test.dart
  metrics/ci_integrations/test/source/jenkins/config/model/jenkins_source_validation_target_test.dart
Due: ci-integrations-pipeline

Update metrics page and metrics page factory. Add tests
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page.dart
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_factory_test.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_test.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Update the MetricsPage
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_test.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page.dart
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_factory_test.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page.dart
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Update tests for the MetricsPageFactory
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_factory_test.dart
Due: metrics-web-pipeline

Fix MetricsPage
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page_factory.dart
  metrics/web/lib/dashboard/presentation/pages/dashboard_page.dart
  metrics/web/lib/project_groups/presentation/pages/project_group_page.dart
  metrics/web/test/common/presentation/app_bar/widget/metrics_app_bar_test.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_factory_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/dashboard/presentation/page/dashboard_page_test.dart
  metrics/web/test/project_groups/presentation/pages/project_group_page_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page.dart
Due: metrics-web-pipeline

Minor improvements
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page_factory.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_factory_test.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

feat: Metrics page updates (#1486)
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page.dart
  metrics/web/lib/common/presentation/navigation/metrics_page/metrics_page_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/dashboard/presentation/pages/dashboard_page.dart
  metrics/web/lib/project_groups/presentation/pages/project_group_page.dart
  metrics/web/test/common/presentation/app_bar/widget/metrics_app_bar_test.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_factory_test.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_test.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/dashboard/presentation/page/dashboard_page_test.dart
  metrics/web/test/project_groups/presentation/pages/project_group_page_test.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/cli/lib/cli/command/update_command.dart
  metrics/cli/test/cli/command/update_command_test.dart
  metrics/cli/test/cli/updater/config/factory/update_config_factory_test.dart
Due: none

Add canPop method to the navigation notifier
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/page_title/widgets/metrics_page_title.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/page_title/widgets/metrics_page_title_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
Due: metrics-web-pipeline

Fix _getConfigurationFromPage method - remove slashes from the metrics page name
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/page_title/widgets/metrics_page_title.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/page_title/widgets/metrics_page_title_test.dart
Due: metrics-web-pipeline

Update jenkins validation delegate
  metrics/ci_integrations/lib/source/jenkins/config/validation_delegate/jenkins_source_validation_delegate.dart
Due: ci-integrations-pipeline

Update jenkins validation delegate tests
  metrics/ci_integrations/test/source/jenkins/config/validation_delegate/jenkins_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

feat: Improve navigate back functionality (#1496)
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/page_title/widgets/metrics_page_title.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/page_title/widgets/metrics_page_title_test.dart
Due: metrics-web-pipeline

Update buildkite validation delegate tests
  metrics/ci_integrations/test/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Update github validation delegate tests
  metrics/ci_integrations/test/source/github_actions/config/validation_delegate/github_actions_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Minor improvements
  metrics/core/lib/src/util/validation/printer/validation_result_printer.dart
  metrics/core/test/util/validation/printer/validation_result_printer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

refactor validation result printer
  metrics/core/lib/src/util/validation/printer/validation_result_printer.dart
  metrics/core/test/util/validation/printer/validation_result_printer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Update jenkins validator
  metrics/ci_integrations/lib/source/jenkins/config/validator/jenkins_source_validator.dart
Due: ci-integrations-pipeline

Update jenkins validator tests
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_mock.dart
Due: ci-integrations-pipeline

Update jenkins validator factory with tests
  metrics/ci_integrations/lib/source/jenkins/config/validator_factory/jenkins_source_validator_factory.dart
  metrics/ci_integrations/test/source/jenkins/config/validator_factory/jenkins_source_validator_factory_test.dart
Due: ci-integrations-pipeline

Update jenkins source party with tests
  metrics/ci_integrations/lib/source/jenkins/party/jenkins_source_party.dart
  metrics/ci_integrations/test/source/jenkins/party/jenkins_source_party_test.dart
Due: ci-integrations-pipeline

[Duplicate] Add validation result builder mock. Fix tests
  metrics/ci_integrations/test/destination/firestore/config/validator/firestore_destination_validator_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/source/github_actions/config/validator/github_actions_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_stub_mock.dart
Due: ci-integrations-pipeline

feat: Implement Update command (#1494)
  metrics/cli/lib/cli/command/deploy_command.dart
  metrics/cli/lib/cli/command/doctor_command.dart
  metrics/cli/lib/cli/command/update_command.dart
  metrics/cli/lib/cli/runner/metrics_cli_runner.dart
  metrics/cli/lib/cli/updater/config/factory/update_config_factory.dart
  metrics/cli/test/cli/command/deploy_command_test.dart
  metrics/cli/test/cli/command/update_command_test.dart
  metrics/cli/test/cli/runner/metrics_cli_runner_test.dart
  metrics/cli/test/cli/updater/config/factory/update_config_factory_test.dart
  metrics/cli/test/cli/updater/updater_test.dart
  metrics/cli/test/test_utils/mocks/update_config_mock.dart
Due: none

Update firestore validation target with tests
  metrics/ci_integrations/lib/destination/firestore/config/model/firestore_destination_config_field.dart
  metrics/ci_integrations/lib/destination/firestore/config/model/firestore_destination_validation_target.dart
  metrics/ci_integrations/test/destination/firestore/config/model/firestore_destination_config_field_test.dart
  metrics/ci_integrations/test/destination/firestore/config/model/firestore_destination_validation_target_test.dart
Due: ci-integrations-pipeline

Update firestore validation delegate
  metrics/ci_integrations/lib/destination/firestore/config/validation_delegate/firestore_destination_validation_delegate.dart
Due: ci-integrations-pipeline

Update firestore validation delegate tests
  metrics/ci_integrations/test/destination/firestore/config/validation_delegate/firestore_destination_validation_delegate_test.dart
Due: ci-integrations-pipeline

feat: Implement ValidationResultPrinter (#1507)
  metrics/core/lib/metrics_core.dart
  metrics/core/lib/src/util/validation/printer/validation_result_printer.dart
  metrics/core/pubspec.yaml
  metrics/core/test/test_utils/matchers.dart
  metrics/core/test/util/validation/printer/validation_result_printer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
