Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Improve instructions
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none

Minor fixes
  docs/14_firebase_deployment_cli.md
Due: none

Fix typos
  docs/14_firebase_deployment_cli.md
Due: none

docs: Update deployment documents with `target` instructions (#1005)
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
Due: none

Fix redundant argument
  metrics/web/lib/base/presentation/widgets/icon_label_button.dart
Due: metrics-web-pipeline

Fix typo in web actions
  .github/workflows/web_actions.yml
Due: none

Add default hitTestBehaviour, fix tests
  metrics/web/lib/base/presentation/widgets/tappable_area.dart
  metrics/web/lib/common/presentation/widgets/metrics_checkbox.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/auth/presentation/widgets/password_sign_in_option_test.dart
  metrics/web/test/auth/presentation/widgets/sign_in_option_button_test.dart
  metrics/web/test/base/presentation/widgets/tappable_area_test.dart
  metrics/web/test/common/presentation/app_bar/widget/metrics_app_bar_test.dart
  metrics/web/test/common/presentation/page_title/widgets/metrics_page_title_test.dart
  metrics/web/test/common/presentation/tooltip_icon/widgets/tooltip_icon_test.dart
  metrics/web/test/common/presentation/user_menu_button/widgets/metrics_user_menu_button_test.dart
  metrics/web/test/common/presentation/value_image/widgets/value_network_image_test.dart
  metrics/web/test/common/presentation/widgets/metrics_checkbox_test.dart
  metrics/web/test/common/presentation/widgets/metrics_theme_image_test.dart
  metrics/web/test/dashboard/presentation/widgets/project_groups_dropdown_menu_test.dart
  metrics/web/test/project_groups/presentation/widgets/add_project_group_card_test.dart
  metrics/web/test/project_groups/presentation/widgets/project_group_card_test.dart
  metrics/web/test/project_groups/presentation/widgets/project_group_dialog_test.dart
  metrics/web/test/test_utils/finder_util.dart
Due: metrics-web-pipeline

Fix tests, rename WebPlatform to Renderer
  metrics/web/lib/base/presentation/widgets/svg_image.dart
  metrics/web/lib/base/presentation/widgets/tappable_area.dart
  metrics/web/lib/debug_menu/presentation/state/debug_menu_notifier.dart
  metrics/web/lib/platform/stub/renderer/renderer_stub.dart
  metrics/web/lib/platform/web/renderer/web_renderer.dart
  metrics/web/lib/platform/web/web_platform/web_platform.dart
  metrics/web/test/base/presentation/widgets/svg_image_test.dart
  metrics/web/test/base/presentation/widgets/tappable_area_test.dart
  metrics/web/test/common/presentation/tooltip_icon/widgets/tooltip_icon_test.dart
  metrics/web/test/common/presentation/user_menu_button/widgets/metrics_user_menu_button_test.dart
  metrics/web/test/common/presentation/widgets/metrics_theme_image_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_renderer_display_test.dart
  metrics/web/test/project_groups/presentation/widgets/add_project_group_card_test.dart
Due: metrics-web-pipeline

[WIP] Use flutterCanvasKit to detect renderer
  .github/workflows/web_actions.yml
  metrics/web/lib/base/presentation/widgets/svg_image.dart
  metrics/web/lib/debug_menu/presentation/state/debug_menu_notifier.dart
  metrics/web/lib/platform/stub/web_platform/web_platform_stub.dart
  metrics/web/lib/platform/web/web_platform/web_platform.dart
  metrics/web/test/base/presentation/widgets/svg_image_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
Due: metrics-web-pipeline

Extract mock, minor fixes
  metrics/web/lib/base/presentation/widgets/svg_image.dart
  metrics/web/test/base/presentation/widgets/svg_image_test.dart
  metrics/web/test/common/presentation/app_bar/widget/metrics_app_bar_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
  metrics/web/test/test_utils/renderer_mock.dart
Due: metrics-web-pipeline

Fix default renderer
  metrics/web/lib/base/presentation/widgets/svg_image.dart
Due: metrics-web-pipeline

feat: Consider using `flutterCanvasKit` to detect the application's renderer (#1004)
  metrics/web/lib/base/presentation/widgets/icon_label_button.dart
  metrics/web/lib/base/presentation/widgets/svg_image.dart
  metrics/web/lib/base/presentation/widgets/tappable_area.dart
  metrics/web/lib/common/presentation/widgets/metrics_checkbox.dart
  metrics/web/lib/debug_menu/presentation/state/debug_menu_notifier.dart
  metrics/web/lib/platform/stub/renderer/renderer_stub.dart
  metrics/web/lib/platform/web/renderer/web_renderer.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/auth/presentation/widgets/password_sign_in_option_test.dart
  metrics/web/test/auth/presentation/widgets/sign_in_option_button_test.dart
  metrics/web/test/base/presentation/widgets/svg_image_test.dart
  metrics/web/test/common/presentation/app_bar/widget/metrics_app_bar_test.dart
  metrics/web/test/common/presentation/page_title/widgets/metrics_page_title_test.dart
  metrics/web/test/common/presentation/tooltip_icon/widgets/tooltip_icon_test.dart
  metrics/web/test/common/presentation/user_menu_button/widgets/metrics_user_menu_button_test.dart
  metrics/web/test/common/presentation/value_image/widgets/value_network_image_test.dart
  metrics/web/test/common/presentation/widgets/metrics_checkbox_test.dart
  metrics/web/test/common/presentation/widgets/metrics_theme_image_test.dart
  metrics/web/test/dashboard/presentation/widgets/project_groups_dropdown_menu_test.dart
  metrics/web/test/debug_menu/presentation/state/debug_menu_notifier_test.dart
  metrics/web/test/debug_menu/presentation/widgets/debug_menu_renderer_display_test.dart
  metrics/web/test/project_groups/presentation/widgets/add_project_group_card_test.dart
  metrics/web/test/project_groups/presentation/widgets/project_group_card_test.dart
  metrics/web/test/project_groups/presentation/widgets/project_group_dialog_test.dart
  metrics/web/test/test_utils/finder_util.dart
  metrics/web/test/test_utils/renderer_mock.dart
Due: metrics-web-pipeline

Improve coverage metric description
  metrics/web/lib/dashboard/presentation/strings/dashboard_strings.dart
Due: metrics-web-pipeline

Proposed change by Vova.
  metrics/web/lib/dashboard/presentation/strings/dashboard_strings.dart
Due: metrics-web-pipeline

feat: Improve coverage metric description (#1007)
  metrics/web/lib/dashboard/presentation/strings/dashboard_strings.dart
Due: metrics-web-pipeline

Fix package structure
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
Due: ci-integrations-pipeline

Improve diagram. Minor fixes
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Add package structure, update diagrams
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Documentation improvements
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Implement CI Integrations Config Validator design
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Extend diagrams
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
Due: ci-integrations-pipeline

[WIP] Add config validator design document
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
Due: ci-integrations-pipeline

Update class diagram
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
Due: ci-integrations-pipeline

[WIP] Fix freezing
  metrics/deploy/lib/cli/firebase/firebase_command.dart
  metrics/deploy/lib/cli/flutter/flutter_command.dart
  metrics/deploy/lib/cli/gcloud/gcloud_command.dart
  metrics/deploy/lib/cli/git/git_command.dart
  metrics/deploy/lib/cli/npm/npm_command.dart
  metrics/deploy/lib/deploy/deploy_command.dart
Due: none

Rename the folder name from deploy to cli.
  metrics/cli/.gitignore
  metrics/cli/CHANGELOG.md
  metrics/cli/Makefile
  metrics/cli/README.md
  metrics/cli/analysis_options.yaml
  metrics/cli/bin/main.dart
  metrics/cli/coverage.sh
  metrics/cli/docs/01_deploy_command.md
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/deploy_tool_class_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_sequence_diagram.puml
  metrics/cli/lib/cli/firebase/firebase_command.dart
  metrics/cli/lib/cli/flutter/flutter_command.dart
  metrics/cli/lib/cli/gcloud/gcloud_command.dart
  metrics/cli/lib/cli/git/git_command.dart
  metrics/cli/lib/cli/npm/npm_command.dart
  metrics/cli/lib/deploy/deploy_command.dart
  metrics/cli/lib/doctor/doctor_command.dart
  metrics/cli/pubspec.lock
  metrics/cli/pubspec.yaml
  metrics/cli/test.sh
  metrics/cli/test/deploy/deploy_command_test.dart
  metrics/cli/test/doctor/doctor_command_test.dart
Due: none

Refactor documentation and diagrams
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Extend sequence diagram, minor improvements
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Diagrams improvements, documentation fixes
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Minor fixes
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Little improvements
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

Fix class diagram
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
Due: ci-integrations-pipeline

Change links to master
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
Due: ci-integrations-pipeline

docs: CI Integrations Config Validator design document (#990)
  metrics/ci_integrations/docs/04_ci_integrations_config_validator.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_class_diagram.puml
  metrics/ci_integrations/docs/diagrams/ci_integrations_config_validator_sequence_diagram.puml
Due: ci-integrations-pipeline

change logger creation algorithm; add loggers managing; improve logging and related tests
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/logger/factory/logger_factory.dart
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/cli/logger/manager/logger_manager.dart
  metrics/ci_integrations/lib/cli/logger/mixin/logger_mixin.dart
  metrics/ci_integrations/lib/cli/logger/writer/io_logger_writer.dart
  metrics/ci_integrations/lib/cli/logger/writer/logger_writer.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/destination/firestore/client_factory/firestore_destination_client_factory.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/logger/factory/logger_factory_test.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
  metrics/ci_integrations/test/cli/logger/manager/logger_manager_test.dart
  metrics/ci_integrations/test/cli/logger/mixin/logger_mixin_test.dart
  metrics/ci_integrations/test/cli/logger/writer/io_logger_writer_test.dart
  metrics/ci_integrations/test/cli/runner/ci_integration_runner_test.dart
  metrics/ci_integrations/test/cli/test_util/mock/io_sink_mock.dart
  metrics/ci_integrations/test/cli/test_util/mock/logger_factory_mock.dart
  metrics/ci_integrations/test/cli/test_util/mock/logger_writer_mock.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/client/jenkins/jenkins_client_test.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
  metrics/ci_integrations/test/destination/firestore/client_factory/firestore_destination_client_factory_test.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

review suggestions
  metrics/ci_integrations/lib/cli/logger/factory/logger_factory.dart
  metrics/ci_integrations/lib/cli/logger/manager/logger_manager.dart
  metrics/ci_integrations/lib/cli/logger/writer/io_logger_writer.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
  metrics/ci_integrations/test/cli/logger/mixin/logger_mixin_test.dart
Due: ci-integrations-pipeline

fix doc
  metrics/ci_integrations/lib/cli/logger/writer/io_logger_writer.dart
Due: ci-integrations-pipeline

feat: CI integrations Logger improvements (#1010)
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/cli/logger/factory/logger_factory.dart
  metrics/ci_integrations/lib/cli/logger/logger.dart
  metrics/ci_integrations/lib/cli/logger/manager/logger_manager.dart
  metrics/ci_integrations/lib/cli/logger/mixin/logger_mixin.dart
  metrics/ci_integrations/lib/cli/logger/writer/io_logger_writer.dart
  metrics/ci_integrations/lib/cli/logger/writer/logger_writer.dart
  metrics/ci_integrations/lib/cli/runner/ci_integration_runner.dart
  metrics/ci_integrations/lib/client/buildkite/buildkite_client.dart
  metrics/ci_integrations/lib/client/github_actions/github_actions_client.dart
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/lib/destination/firestore/client_factory/firestore_destination_client_factory.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/source/buildkite/adapter/buildkite_source_client_adapter.dart
  metrics/ci_integrations/lib/source/github_actions/adapter/github_actions_source_adapter.dart
  metrics/ci_integrations/lib/source/jenkins/adapter/jenkins_source_client_adapter.dart
  metrics/ci_integrations/test/cli/command/sync_command_test.dart
  metrics/ci_integrations/test/cli/logger/factory/logger_factory_test.dart
  metrics/ci_integrations/test/cli/logger/logger_test.dart
  metrics/ci_integrations/test/cli/logger/manager/logger_manager_test.dart
  metrics/ci_integrations/test/cli/logger/mixin/logger_mixin_test.dart
  metrics/ci_integrations/test/cli/logger/writer/io_logger_writer_test.dart
  metrics/ci_integrations/test/cli/runner/ci_integration_runner_test.dart
  metrics/ci_integrations/test/cli/test_util/mock/io_sink_mock.dart
  metrics/ci_integrations/test/cli/test_util/mock/logger_factory_mock.dart
  metrics/ci_integrations/test/cli/test_util/mock/logger_writer_mock.dart
  metrics/ci_integrations/test/client/buildkite/buildkite_client_test.dart
  metrics/ci_integrations/test/client/github_actions/github_actions_client_test.dart
  metrics/ci_integrations/test/client/jenkins/jenkins_client_test.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
  metrics/ci_integrations/test/destination/firestore/client_factory/firestore_destination_client_factory_test.dart
  metrics/ci_integrations/test/source/buildkite/adapter/buildkite_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/github_actions/adapter/github_actions_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
Due: ci-integrations-pipeline

Change CI Integrations docs with skip-coverage. Change diagram.
  metrics/ci_integrations/docs/01_ci_integration_module_architecture.md
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_class_diagram.puml
Due: ci-integrations-pipeline

Review suggestions
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
Due: ci-integrations-pipeline

change flag name; change links to point master
  metrics/ci_integrations/docs/01_ci_integration_module_architecture.md
  metrics/ci_integrations/docs/02_ci_integration_user_guide.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_class_diagram.puml
Due: ci-integrations-pipeline
