Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Fix driver tests
  metrics/web/test_driver/process_manager/process_manager.dart
Due: metrics-web-pipeline

Delete .noPub() flag
  metrics/web/test_driver/cli/flutter/runner/flutter_drive_process_runner.dart
Due: metrics-web-pipeline

Add exit code handling
  metrics/web/test_driver/cli/common/process/process_wrapper.dart
  metrics/web/test_driver/process_manager/process_manager.dart
Due: metrics-web-pipeline

Update ProcessWrapper documentation
  metrics/web/test_driver/cli/common/process/process_wrapper.dart
Due: metrics-web-pipeline

Documentation fixes
  metrics/web/test_driver/cli/common/process/process_wrapper.dart
Due: metrics-web-pipeline

build: Update Flutter version, fix driver tests (#973)
  .github/workflows/ci_integrations_actions.yml
  .github/workflows/coverage_converter_actions.yml
  .github/workflows/metrics_actions.yml
  .github/workflows/web_actions.yml
  docs/09_firebase_deployment.md
  docs/14_firebase_deployment_cli.md
  docs/15_developer_configuration.md
  metrics/web/README.md
  metrics/web/test_driver/cli/common/process/process_wrapper.dart
  metrics/web/test_driver/cli/flutter/runner/flutter_drive_process_runner.dart
  metrics/web/test_driver/process_manager/process_manager.dart
Due: metrics-web-pipeline

Fix // ignore_for_file spaces
  metrics/ci_integrations/test/destination/firestore/client_factory/firestore_destination_client_factory_test.dart
  metrics/ci_integrations/test/source/github_actions/config/model/github_actions_source_config_test.dart
  metrics/ci_integrations/test/source/jenkins/adapter/jenkins_source_client_adapter_test.dart
  metrics/ci_integrations/test/source/jenkins/client_factory/jenkins_source_client_factory_test.dart
  metrics/ci_integrations/test/source/jenkins/config/parser/jenkins_source_config_parser_test.dart
  metrics/ci_integrations/test/util/archive/archive_helper_test.dart
  metrics/core/test/domain/value_objects/percent_test.dart
  metrics/web/test/auth/data/converter/firebase_auth_error_code_converter_test.dart
  metrics/web/test/auth/domain/entities/authentication_exception_test.dart
  metrics/web/test/auth/presentation/models/user_profile_model_test.dart
  metrics/web/test/base/presentation/graphs/placeholder_bar_test.dart
  metrics/web/test/base/presentation/widgets/icon_label_button_test.dart
  metrics/web/test/common/presentation/button/widgets/metrics_negative_button_test.dart
  metrics/web/test/common/presentation/metrics_theme/state/theme_notifier_test.dart
  metrics/web/test/common/presentation/models/persistent_store_error_message_test.dart
  metrics/web/test/common/presentation/toggle/theme/theme_data/toggle_theme_data_test.dart
  metrics/web/test/common/presentation/toggle/widgets/toggle_test.dart
  metrics/web/test/dashboard/domain/entities/metrics/build_result_test.dart
  metrics/web/test/dashboard/domain/entities/metrics/performance_metric_test.dart
  metrics/web/test/dashboard/domain/entities/metrics/project_build_status_metric_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/project_build_status_image_strategy_test.dart
  metrics/web/test/debug_menu/domain/usecases/parameters/local_config_param_test.dart
  scripts/links_checker/test/arguments/parser/links_checker_arguments_parser_test.dart
  scripts/links_checker/test/exception/links_checker_exception_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

review suggestions
  .github/workflows/web_actions.yml
  metrics/web/lib/common/domain/entities/metrics_config.dart
  metrics/web/lib/main.dart
  metrics/web/lib/platform/web/metrics_config/web_metrics_config.dart
  metrics/web/test/common/presentation/injector/widget/injection_container_test.dart
  metrics/web/test_driver/app_test.dart
  metrics/web/web/metrics_config.js
Due: metrics-web-pipeline

fix link in firebase deployment document
  docs/09_firebase_deployment.md
Due: none

feat: Introduce Metrics Config (#972)
  .github/workflows/web_actions.yml
  docs/09_firebase_deployment.md
  docs/16_dependencies_licenses.md
  metrics/web/lib/auth/data/repositories/firebase_user_repository.dart
  metrics/web/lib/common/domain/entities/metrics_config.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/metrics_app/metrics_app.dart
  metrics/web/lib/main.dart
  metrics/web/lib/metrics_logger/sentry/writers/sentry_writer.dart
  metrics/web/lib/platform/stub/metrics_config/metrics_config_factory.dart
  metrics/web/lib/platform/web/metrics_config/metrics_config_factory.dart
  metrics/web/lib/platform/web/metrics_config/web_metrics_config.dart
  metrics/web/pubspec.yaml
  metrics/web/test/common/presentation/injector/widget/injection_container_test.dart
  metrics/web/test/metrics_logger/sentry/writers/sentry_writer_test.dart
  metrics/web/test/test_utils/metrics_config_stub.dart
  metrics/web/test_driver/app_test.dart
  metrics/web/web/index.html
  metrics/web/web/metrics_config.js
Due: metrics-web-pipeline

fix passing environment variable in actions
  .github/workflows/web_actions.yml
Due: none

fix: passing environment variable in actions (#976)
  .github/workflows/web_actions.yml
Due: none

fix info lint sort_pub_dependencies
  metrics/core/pubspec.yaml
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

fix info lint sort_pub_dependencies (#977)
  metrics/core/pubspec.yaml
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Improve navigation notifier to not depend on platform-specific classes.
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_state.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/lib/platform/web/browser_navigation_state.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/platform/web/browser_navigation_state_test.dart
  metrics/web/test/test_utils/navigation_state_mock.dart
Due: metrics-web-pipeline

Improve navigation on the login and loading pages
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/constants/metrics_routes.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/test_utils/history_mock.dart
  metrics/web/test/test_utils/router_delegate_stub.dart
  metrics/web/test_driver/app_test.dart
Due: metrics-web-pipeline

Remove `/#` from the url path
  metrics/web/lib/common/presentation/navigation/constants/metrics_routes.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/lib/main.dart
  metrics/web/lib/platform/web/web_app_configuration_util.dart
  metrics/web/lib/util/app_configuration_util.dart
  metrics/web/pubspec.yaml
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/web/index.html
Due: metrics-web-pipeline

Add `pushAndRemoveUntil` method to the NavigationNotifier
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/platform/web/browser_navigation_state_test.dart
Due: metrics-web-pipeline

Documentation and test description improvements
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/test_utils/router_delegate_stub.dart
  metrics/web/test_driver/app_test.dart
Due: metrics-web-pipeline

Refactoring and test description improvements
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/main.dart
  metrics/web/lib/platform/stub/platform_configuration/platform_configuration_stub.dart
  metrics/web/lib/platform/web/browser_navigation_state/browser_navigation_state.dart
  metrics/web/lib/platform/web/platform_configuration/web_platform_configuration.dart
  metrics/web/lib/util/app_configuration_util.dart
  metrics/web/pubspec.lock
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/platform/web/browser_navigation_state/browser_navigation_state_test.dart
Due: metrics-web-pipeline

Fix analyzer issues
  metrics/web/test_driver/app_test.dart
Due: metrics-web-pipeline

fix: Fix navigation to be able to go back from the loading screen (#967)
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_state.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/lib/main.dart
  metrics/web/lib/platform/stub/platform_configuration/platform_configuration_stub.dart
  metrics/web/lib/platform/web/browser_navigation_state/browser_navigation_state.dart
  metrics/web/lib/platform/web/platform_configuration/web_platform_configuration.dart
  metrics/web/pubspec.lock
  metrics/web/pubspec.yaml
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
  metrics/web/test/platform/web/browser_navigation_state/browser_navigation_state_test.dart
  metrics/web/test/test_utils/history_mock.dart
  metrics/web/test/test_utils/navigation_state_mock.dart
  metrics/web/test/test_utils/router_delegate_stub.dart
  metrics/web/test_driver/app_test.dart
  metrics/web/web/index.html
Due: metrics-web-pipeline

Fix firebase routing
  metrics/web/firebase.json
Due: metrics-web-pipeline

Fix skia source name
  metrics/web/firebase.json
Due: metrics-web-pipeline

fix: Fix Firebase routing (#979)
  metrics/web/firebase.json
Due: metrics-web-pipeline

Add design document for the ci integration verbose mode
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_verbose_mode_diagram.puml
Due: ci-integrations-pipeline

Minor documentation fix
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
Due: ci-integrations-pipeline

Review suggestions
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_verbose_mode_diagram.puml
Due: ci-integrations-pipeline

Fix uml link
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
Due: ci-integrations-pipeline

Add API section
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
Due: ci-integrations-pipeline

Fix docs
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
Due: ci-integrations-pipeline

Minor code snippet fix
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
Due: ci-integrations-pipeline

Minor improvements
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
Due: ci-integrations-pipeline

Minor documentation and diagram improvements
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_verbose_mode_diagram.puml
Due: ci-integrations-pipeline

Add timestamp mention in docs
  metrics/ci_integrations/docs/03_ci_integration_verbose_mode.md
  metrics/ci_integrations/docs/diagrams/ci_integrations_verbose_mode_diagram.puml
Due: ci-integrations-pipeline

Minor diagram fix
  metrics/ci_integrations/docs/diagrams/ci_integrations_verbose_mode_diagram.puml
Due: ci-integrations-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
