Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Diagram and wording improvements
  concept_map.puml
  readme.md
Due: none

Fix typo
  readme.md
Due: none

Improve readme structure
  readme.md
Due: none

Update diagram links to point to master
  readme.md
Due: none

docs: Update concept map to include all Metrics components (#1349)
  concept_map.puml
  readme.md
Due: none

Fix FirestoreBuildDayRepository
  metrics/web/lib/common/data/repositories/firestore_build_day_repository.dart
Due: metrics-web-pipeline

Resolve suggestions.
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/factory/deploy_paths_factory.dart
  metrics/cli/lib/deploy/model/deploy_paths.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/deploy/model/deploy_paths_test.dart
  metrics/cli/test/helper/file_helper_test.dart
Due: none

Minor improvements
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates_stub.dart
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_day_project_metrics_updates_stub_test.dart
Due: metrics-web-pipeline

Improve Performance mapping in ProjectMetricsNotifier
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
Due: metrics-web-pipeline

Improve PerformanceMetric mapping in ReceiveBuildDayProjectMetricsUpdates
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_day_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Add a test case
  metrics/cli/test/deploy/model/deploy_paths_test.dart
Due: none

Minor fix.
  metrics/cli/test/deploy/factory/deploy_paths_factory_test.dart
Due: none

Improve SparklinePointsMapping, improve tests
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

fix: Improve the temporary directory name (#1339)
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/factory/deploy_paths_factory.dart
  metrics/cli/lib/deploy/factory/deployer_factory.dart
  metrics/cli/lib/deploy/model/deploy_paths.dart
  metrics/cli/lib/helper/file_helper.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/deploy/factory/deploy_paths_factory_test.dart
  metrics/cli/test/deploy/model/deploy_paths_test.dart
  metrics/cli/test/helper/file_helper_test.dart
Due: none

[WIP] Add OAuth prompt
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
Due: none

Improve GCloud strings
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/gcloud/strings/gcloud_strings_test.dart
Due: none

Minor improvements.
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/gcloud/strings/gcloud_strings_test.dart
Due: none

Resolve suggestions.
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/gcloud/strings/gcloud_strings_test.dart
Due: none

Fix tests.
  metrics/cli/test/deploy/deployer_test.dart
Due: none

WIP: improve notifier tests
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates.dart
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates_stub.dart
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/dashboard/domain/usecases/receive_build_day_project_metrics_updates_test.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Review suggestions
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_create_builds_aggregation_sequence_diagram.puml
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_update_builds_aggregation_sequence_diagram.puml
Due: none

Update firestore builds aggregation design
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_create_builds_aggregation_sequence_diagram.puml
  metrics/firebase/docs/features/builds_aggregation/diagrams/firestore_update_builds_aggregation_sequence_diagram.puml
Due: none

Minor fix
  metrics/firebase/docs/features/builds_aggregation/01_firestore_builds_aggregation_design.md
Due: none

feat: Add the user prompt to explain how to set up the Oauth 2.0 authorized JavaScript origins (#1353)
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/gcloud/strings/gcloud_strings_test.dart
Due: none

[Implement] Organization prompt.
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
Due: none

Add tests. Add documentation.
  metrics/cli/docs/05_user_manual_steps.md
  metrics/cli/lib/firebase/strings/firebase_strings.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/firebase/strings/firebase_strings_test.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/gcloud/strings/gcloud_strings_test.dart
Due: none

WIP: improve notifier tests
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Minor improvement
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
Due: none

Minor fix
  metrics/core/lib/metrics_core.dart
  metrics/core/test/data/deserializer/build_data_deserializer_test.dart
  metrics/web/lib/dashboard/data/repositories/firestore_metrics_repository.dart
  metrics/web/test/dashboard/data/deserializer/build_data_deserializer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add data, deserializers and mappers tests
  metrics/firebase/functions/build.yaml
  metrics/firebase/functions/lib/data/build_day_data.dart
  metrics/firebase/functions/lib/data/build_day_status_field.dart
  metrics/firebase/functions/lib/mappers/build_day_status_field_name_mapper.dart
  metrics/firebase/functions/test/data/build_day_data_test.dart
  metrics/firebase/functions/test/data/build_day_status_field_test.dart
  metrics/firebase/functions/test/data/task_data_test.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/firebase/functions/test/mappers/build_day_status_field_name_mapper_test.dart
Due: none

Add onBuildAddedHandler function
  metrics/firebase/firebase.json
  metrics/firebase/functions/build.yaml
  metrics/firebase/functions/index.js
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/package.json
  metrics/firebase/functions/pubspec.yaml
  metrics/firebase/functions/test/main_test.dart
Due: none

Add test
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
Due: none

Fix tests
  metrics/firebase/functions/test/main_test.dart
Due: none

Update dependencies licenses document
  docs/16_dependencies_licenses.md
  metrics/firebase/functions/pubspec.yaml
Due: none

Convert status field to List
  metrics/firebase/functions/.gitignore
  metrics/firebase/functions/lib/data/build_day_data.dart
  metrics/firebase/functions/lib/data/build_day_status_field.dart
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/test/data/build_day_data_test.dart
  metrics/firebase/functions/test/data/task_data_test.dart
  metrics/firebase/functions/test/main_test.dart
Due: none

Update dependencies licenses document
  docs/16_dependencies_licenses.md
Due: none

Improve tests
  metrics/firebase/functions/lib/data/build_day_data.dart
  metrics/firebase/functions/lib/data/build_day_status_field.dart
  metrics/firebase/functions/lib/data/task_data.dart
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/test/data/build_day_data_test.dart
  metrics/firebase/functions/test/data/build_day_status_field_test.dart
  metrics/firebase/functions/test/data/task_data_test.dart
  metrics/firebase/functions/test/main_test.dart
Due: none

Update pubspec.yaml
  metrics/firebase/functions/pubspec.yaml
Due: none

Review suggestions
  metrics/firebase/functions/lib/deserializers/build_data_deserializer.dart
  metrics/firebase/functions/lib/main.dart
  metrics/firebase/functions/lib/mappers/build_day_status_field_name_mapper.dart
  metrics/firebase/functions/lib/models/build_day_data.dart
  metrics/firebase/functions/lib/models/build_day_status_field_name.dart
  metrics/firebase/functions/lib/models/task_code.dart
  metrics/firebase/functions/lib/models/task_data.dart
  metrics/firebase/functions/test/deserializers/build_data_deserializer_test.dart
  metrics/firebase/functions/test/main_test.dart
  metrics/firebase/functions/test/mappers/build_day_status_field_name_mapper_test.dart
  metrics/firebase/functions/test/test_utils/test_data/build_test_data_generator.dart
Due: none

Minor improvement
  metrics/core/lib/src/util/date.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline
