Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Fix url validation
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/client/jenkins/model/jenkins_instance_info.dart
  metrics/ci_integrations/test/client/jenkins/model/jenkins_instance_info_test.dart
Due: ci-integrations-pipeline

Review suggestions
  metrics/web/docs/analysis/02_firestore_emulator_for_driver_tests.md
Due: metrics-web-pipeline

Minor fix
  metrics/web/docs/analysis/02_firestore_emulator_for_driver_tests.md
Due: metrics-web-pipeline

Fix review suggestions
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/helper/file_helper.dart
  metrics/cli/test/helper/file_helper_test.dart
Due: none

Refactor fetchJenkinsInstanceInfo
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
Due: ci-integrations-pipeline

Fix response processing
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
Due: ci-integrations-pipeline

Implement ServicesFactory
  metrics/cli/lib/common/factory/services_factory.dart
  metrics/cli/lib/common/model/services.dart
  metrics/cli/test/common/factory/services_factory_test.dart
  metrics/cli/test/common/model/services_test.dart
Due: none

Improve formatting
  metrics/cli/test/common/model/services_test.dart
Due: none

feat: Implement FileHelper (#1237)
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/helper/file_helper.dart
  metrics/cli/test/helper/file_helper_test.dart
Due: none

Add more informative message in fetchJenkinsInstanceInfo method
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
Due: ci-integrations-pipeline

Add code+reason message
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
Due: ci-integrations-pipeline

fix: Fix Jenkins Url Validation (#1241)
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/ci_integrations/lib/client/jenkins/model/jenkins_instance_info.dart
  metrics/ci_integrations/test/client/jenkins/model/jenkins_instance_info_test.dart
Due: ci-integrations-pipeline

docs: Firestore emulator analysis doc (#1239)
  metrics/web/docs/analysis/02_firestore_emulator_for_driver_tests.md
Due: metrics-web-pipeline

Update BuildResultPopupViewModel - the duration is not required
  metrics/web/lib/dashboard/presentation/view_models/build_result_popup_view_model.dart
  metrics/web/test/dashboard/presentation/view_models/build_result_popup_view_model_test.dart
Due: metrics-web-pipeline

Update BuildResultPopupCard - does not display the duration if it is null
  metrics/web/lib/dashboard/presentation/widgets/build_result_popup_card.dart
Due: metrics-web-pipeline

[WIP] Implement finished build result view model
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/lib/dashboard/presentation/view_models/build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/view_models/finished_build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/view_models/in_progress_build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/test/dashboard/presentation/view_models/build_result_view_model_test.dart
  metrics/web/test/dashboard/presentation/view_models/finished_build_result_view_model_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/lib/dashboard/presentation/view_models/build_result_view_model.dart
Due: metrics-web-pipeline

Fix typo
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
Due: metrics-web-pipeline

Add tests
  metrics/web/lib/dashboard/presentation/view_models/finished_build_result_view_model.dart
  metrics/web/test/dashboard/presentation/view_models/in_progress_build_result_view_model_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy_test.dart
Due: metrics-web-pipeline

Add missing tests, improve readability
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Minor improvements
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/lib/dashboard/presentation/view_models/build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/view_models/finished_build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/view_models/in_progress_build_result_view_model.dart
  metrics/web/test/dashboard/presentation/view_models/build_result_view_model_test.dart
  metrics/web/test/dashboard/presentation/view_models/finished_build_result_view_model_test.dart
  metrics/web/test/dashboard/presentation/view_models/in_progress_build_result_view_model_test.dart
Due: metrics-web-pipeline

Minor fixes
  metrics/web/lib/dashboard/presentation/view_models/finished_build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_graph_test.dart
Due: metrics-web-pipeline

Improve tests
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/lib/dashboard/presentation/view_models/build_result_metric_view_model.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
  metrics/web/test/dashboard/presentation/view_models/build_result_metric_view_model_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_graph_test.dart
Due: metrics-web-pipeline

Minor improvements
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/lib/dashboard/presentation/view_models/finished_build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
Due: metrics-web-pipeline

Fix unused import
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy_test.dart
Due: metrics-web-pipeline

Fix tests
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_graph_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_test.dart
Due: metrics-web-pipeline

[WIP] fix tests
  metrics/web/lib/dashboard/presentation/view_models/finished_build_result_view_model.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Update BuildResultPopupCard tests
  metrics/web/test/dashboard/presentation/widgets/build_result_popup_card_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/lib/dashboard/presentation/view_models/build_result_popup_view_model.dart
Due: metrics-web-pipeline

Minor improvements
  metrics/web/lib/dashboard/presentation/view_models/build_result_metric_view_model.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Fix review suggestions
  metrics/cli/lib/common/factory/services_factory.dart
  metrics/cli/lib/common/model/services.dart
  metrics/cli/test/common/factory/services_factory_test.dart
Due: none

Minor improvements
  metrics/web/lib/dashboard/presentation/widgets/build_result_popup_card.dart
  metrics/web/test/dashboard/presentation/view_models/build_result_popup_view_model_test.dart
Due: metrics-web-pipeline

feat: Implement view models for finished and in-progress builds (#1236)
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/lib/dashboard/presentation/view_models/build_result_metric_view_model.dart
  metrics/web/lib/dashboard/presentation/view_models/build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/view_models/finished_build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/view_models/in_progress_build_result_view_model.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_bar_graph.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
  metrics/web/test/dashboard/presentation/view_models/build_result_metric_view_model_test.dart
  metrics/web/test/dashboard/presentation/view_models/build_result_view_model_test.dart
  metrics/web/test/dashboard/presentation/view_models/finished_build_result_view_model_test.dart
  metrics/web/test/dashboard/presentation/view_models/in_progress_build_result_view_model_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_graph_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_bar_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_bar_padding_strategy_test.dart
Due: metrics-web-pipeline

Improve tests
  metrics/cli/test/common/factory/services_factory_test.dart
Due: none

feat: Update BuildResultPopupCard and ViewModel (#1243)
  metrics/web/lib/dashboard/presentation/view_models/build_result_popup_view_model.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_popup_card.dart
  metrics/web/test/dashboard/presentation/view_models/build_result_popup_view_model_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_popup_card_test.dart
Due: metrics-web-pipeline

Improve tests
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_duration_strategy_test.dart
Due: metrics-web-pipeline

[WIP] Add BuildResultDurationStrategy
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_duration_strategy.dart
Due: metrics-web-pipeline

Add tests
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_duration_strategy.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_duration_strategy_test.dart
Due: metrics-web-pipeline

feat: Implement ServicesFactory (#1242)
  metrics/cli/lib/common/factory/services_factory.dart
  metrics/cli/lib/common/model/services.dart
  metrics/cli/test/common/factory/services_factory_test.dart
  metrics/cli/test/common/model/services_test.dart
Due: none

Minor improvements
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_duration_strategy.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_duration_strategy_test.dart
Due: metrics-web-pipeline

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
