Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Reword decision section to simplify reading
  metrics/firebase/docs/analysis/02_firebase_metrics_aggregation.md
Due: none

Resolve suggestions for the BuildStatusView widget
  metrics/web/lib/common/presentation/widgets/build_status_view.dart
  metrics/web/test/common/presentation/widgets/build_status_view_test.dart
Due: metrics-web-pipeline

Resolve suggestions for the ThemeModeBuilder widget
  metrics/web/lib/common/presentation/widgets/theme_mode_builder.dart
  metrics/web/test/common/presentation/widgets/theme_mode_builder_test.dart
Due: metrics-web-pipeline

Resolve suggestions for the ProjectBuildStatus widget
  metrics/web/lib/dashboard/presentation/widgets/project_build_status.dart
  metrics/web/test/dashboard/presentation/widgets/project_build_status_test.dart
Due: metrics-web-pipeline

Improve ProjectBuildStatusStyleStrategy with tests, add `null` BuildStatus handling to the BuildResultPopupCard widget
  metrics/web/lib/dashboard/presentation/widgets/build_result_popup_card.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/project_build_status_style_strategy.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_popup_card_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/project_build_status_style_strategy_test.dart
Due: metrics-web-pipeline

Fix review suggestions
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/paths/deploy_paths.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/deploy/paths/deploy_paths_test.dart
Due: none

chore: reword decision section to simplify reading (#1345)
  metrics/firebase/docs/analysis/02_firebase_metrics_aggregation.md
Due: none

Minor documentation / test fixes and improvements
  metrics/web/lib/common/data/model/build_day_data.dart
  metrics/web/lib/common/data/repositories/firestore_build_day_repository.dart
  metrics/web/test/common/data/model/build_day_data_test.dart
Due: metrics-web-pipeline

Delete test duplicate
  metrics/web/test/common/data/model/build_day_data_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/lib/common/presentation/widgets/theme_mode_builder.dart
Due: metrics-web-pipeline

feat: Introduce new in-progress assets (#1334)
  metrics/web/lib/base/presentation/widgets/rive_animation.dart
  metrics/web/lib/common/presentation/asset/strategy/value_based_asset_strategy.dart
  metrics/web/lib/common/presentation/metrics_theme/model/dark_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/light_metrics_theme_data.dart
  metrics/web/lib/common/presentation/metrics_theme/model/project_build_status/attention_level/project_build_status_attention_level.dart
  metrics/web/lib/common/presentation/value_image/strategy/value_based_image_asset_strategy.dart
  metrics/web/lib/common/presentation/value_image/widgets/value_network_image.dart
  metrics/web/lib/common/presentation/widgets/build_status_view.dart
  metrics/web/lib/common/presentation/widgets/metrics_theme_image.dart
  metrics/web/lib/common/presentation/widgets/theme_mode_builder.dart
  metrics/web/lib/common/presentation/widgets/timer_notifier_builder.dart
  metrics/web/lib/dashboard/presentation/widgets/build_result_popup_card.dart
  metrics/web/lib/dashboard/presentation/widgets/project_build_status.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_popup_asset_strategy.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/build_result_popup_image_strategy.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/project_build_status_asset_strategy.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/project_build_status_image_strategy.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/project_build_status_style_strategy.dart
  metrics/web/test/common/presentation/metrics_theme/model/project_build_status/attention_level/project_build_status_attention_level_test.dart
  metrics/web/test/common/presentation/value_image/widgets/value_network_image_test.dart
  metrics/web/test/common/presentation/widgets/build_status_view_test.dart
  metrics/web/test/common/presentation/widgets/metrics_theme_image_test.dart
  metrics/web/test/common/presentation/widgets/theme_mode_builder_test.dart
  metrics/web/test/dashboard/presentation/widgets/build_result_popup_card_test.dart
  metrics/web/test/dashboard/presentation/widgets/project_build_status_test.dart
  metrics/web/test/dashboard/presentation/widgets/project_metrics_tile_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_popup_asset_strategy_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/build_result_popup_image_strategy_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/project_build_status_asset_strategy_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/project_build_status_image_strategy_test.dart
  metrics/web/test/dashboard/presentation/widgets/strategy/project_build_status_style_strategy_test.dart
  metrics/web/test/test_utils/finder_util.dart
  metrics/web/web/animation/in_progress_popup_build_status.riv
  metrics/web/web/animation/in_progress_project_build_status_dark.riv
  metrics/web/web/animation/in_progress_project_build_status_light.riv
Due: metrics-web-pipeline

Documentation improvements
  metrics/ci_integrations/lib/client/jenkins/jenkins_client.dart
  metrics/web/lib/common/presentation/graph_indicator/strategy/metrics_graph_indicator_appearance_strategy.dart
  metrics/web/lib/dashboard/domain/entities/collections/date_time_set.dart
  metrics/web/lib/dashboard/presentation/widgets/strategy/metrics_value_style_strategy.dart
  metrics/web/test_driver/cli/common/logger/process_logger.dart
Due: metrics-web-pipeline, ci-integrations-pipeline

Minor documentation fixes
  metrics/cli/lib/sentry/adapter/sentry_cli_service_adapter.dart
Due: none

feat: Builds Aggregations - Implement Data Layer (#1342)
  metrics/web/lib/common/data/model/build_day_data.dart
  metrics/web/lib/common/data/repositories/firestore_build_day_repository.dart
  metrics/web/test/common/data/model/build_day_data_test.dart
Due: metrics-web-pipeline

Documentation reference fix
  metrics/web/lib/common/data/model/build_day_data.dart
Due: metrics-web-pipeline

[WIP] Implement Deploy paths.
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/factory/deployer_factory.dart
  metrics/cli/lib/deploy/paths/deploy_paths.dart
  metrics/cli/lib/helper/file_helper.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/deploy/paths/deploy_paths_test.dart
  metrics/cli/test/helper/file_helper_test.dart
Due: none

Update concept map to include all Metrics components
  concept_map.puml
  readme.md
Due: none

Update diagram link
  readme.md
Due: none

Wording and diagram improvements
  concept_map.puml
  readme.md
Due: none

Streams testing improvements
  metrics/web/test/dashboard/domain/entities/metrics/receive_build_day_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/test/dashboard/domain/entities/metrics/receive_build_day_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Add tests for the ReceiveBuildDayProjectMetricsUpdates class, minor fixes
  metrics/web/test/dashboard/domain/entities/metrics/receive_build_day_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Resolve rebase conflicts
  metrics/web/test/dashboard/domain/entities/metrics/receive_build_day_project_metrics_updates_test.dart
Due: metrics-web-pipeline

Add ReceiveBuildDayProjectMetricsUpdates to the ProjectMetricsNotifier
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
Due: metrics-web-pipeline

Fix ProjectMetricsNotifier tests
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

[WIP] add subscription methods and fields for BuildDayProjectMetrics streams
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
Due: metrics-web-pipeline

Add stub ReceiveBuildDayProjectMetricsUpdates
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/dashboard/domain/usecases/receive_build_day_project_metrics_updates_stub.dart
Due: metrics-web-pipeline

Add tests for stub
  metrics/web/test/dashboard/domain/usecases/receive_build_day_project_metrics_updates_stub_test.dart
Due: metrics-web-pipeline

Add unsubscriptions to ProjectMetricsNotifier, fix tests
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Improve doc
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
Due: metrics-web-pipeline

Print occurred exceptions in main.dart
  metrics/cli/bin/main.dart
Due: none

Print occurred exceptions in main.dart (#1352)
  metrics/cli/bin/main.dart
Due: none

Implement DeployPaths Factory, fix review suggestions
  docs/16_dependencies_licenses.md
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/factory/deploy_paths_factory.dart
  metrics/cli/lib/deploy/factory/deployer_factory.dart
  metrics/cli/lib/deploy/model/deploy_paths.dart
  metrics/cli/lib/deploy/paths/deploy_paths.dart
  metrics/cli/lib/helper/file_helper.dart
  metrics/cli/pubspec.yaml
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/deploy/factory/deploy_paths_factory_test.dart
  metrics/cli/test/deploy/model/deploy_paths_test.dart
  metrics/cli/test/deploy/paths/deploy_paths_test.dart
  metrics/cli/test/helper/file_helper_test.dart
Due: none

Diagram and wording improvements
  concept_map.puml
  readme.md
Due: none

Minor typo fixes
  readme.md
Due: none

Improve diagram layout
  concept_map.puml
Due: none

Update component names
  readme.md
Due: none

Make "Dart Cloud Functions" more contrast with cloud background color
  concept_map.puml
Due: none

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
