Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

Update buildkite source validation delegate
  metrics/ci_integrations/lib/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate.dart
  metrics/ci_integrations/test/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

Update services' version checking
  metrics/cli/lib/cli/doctor/doctor.dart
  metrics/cli/lib/services/common/info_service.dart
  metrics/cli/lib/services/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/services/firebase/cli/firebase_cli.dart
  metrics/cli/lib/services/flutter/adapter/flutter_cli_service_adapter.dart
  metrics/cli/lib/services/flutter/cli/flutter_cli.dart
  metrics/cli/lib/services/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/services/gcloud/cli/gcloud_cli.dart
  metrics/cli/lib/services/git/adapter/git_cli_service_adapter.dart
  metrics/cli/lib/services/git/cli/git_cli.dart
  metrics/cli/lib/services/npm/adapter/npm_cli_service_adapter.dart
  metrics/cli/lib/services/npm/cli/npm_cli.dart
  metrics/cli/lib/services/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/services/sentry/cli/sentry_cli.dart
  metrics/cli/test/cli/doctor/doctor_test.dart
  metrics/cli/test/services/firebase/adapter/firebase_cli_service_adapter_test.dart
  metrics/cli/test/services/flutter/adapter/flutter_cli_service_adapter_test.dart
  metrics/cli/test/services/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/services/git/adapter/git_cli_service_adapter_test.dart
  metrics/cli/test/services/npm/adapter/npm_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/adapter/sentry_cli_service_adapter_test.dart
Due: none

Improve documentation
  metrics/cli/lib/cli/doctor/doctor.dart
  metrics/cli/lib/services/common/info_service.dart
Due: none

Improve tests' description
  metrics/cli/test/services/firebase/adapter/firebase_cli_service_adapter_test.dart
  metrics/cli/test/services/flutter/adapter/flutter_cli_service_adapter_test.dart
  metrics/cli/test/services/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/services/git/adapter/git_cli_service_adapter_test.dart
  metrics/cli/test/services/npm/adapter/npm_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/adapter/sentry_cli_service_adapter_test.dart
Due: none

feat: Update services' version checking (#1538)
  metrics/cli/lib/cli/doctor/doctor.dart
  metrics/cli/lib/services/common/info_service.dart
  metrics/cli/lib/services/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/services/firebase/cli/firebase_cli.dart
  metrics/cli/lib/services/flutter/adapter/flutter_cli_service_adapter.dart
  metrics/cli/lib/services/flutter/cli/flutter_cli.dart
  metrics/cli/lib/services/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/services/gcloud/cli/gcloud_cli.dart
  metrics/cli/lib/services/git/adapter/git_cli_service_adapter.dart
  metrics/cli/lib/services/git/cli/git_cli.dart
  metrics/cli/lib/services/npm/adapter/npm_cli_service_adapter.dart
  metrics/cli/lib/services/npm/cli/npm_cli.dart
  metrics/cli/lib/services/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/services/sentry/cli/sentry_cli.dart
  metrics/cli/test/cli/doctor/doctor_test.dart
  metrics/cli/test/services/firebase/adapter/firebase_cli_service_adapter_test.dart
  metrics/cli/test/services/flutter/adapter/flutter_cli_service_adapter_test.dart
  metrics/cli/test/services/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/services/git/adapter/git_cli_service_adapter_test.dart
  metrics/cli/test/services/npm/adapter/npm_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/adapter/sentry_cli_service_adapter_test.dart
Due: none

Update buildkite source validator
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

[WIP] Resolve PR suggestions.
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
Due: metrics-web-pipeline

[WIP] Resolve PR suggestions
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
Due: metrics-web-pipeline

Add handleLoggedIn and handleLoggedOut methods to the NavigationNotifier
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Fix tests
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Improve tests
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

[WIP] Resolve PR suggestions
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_auth_class_diagram.puml
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_feature_config_class_diagram.puml
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
Due: metrics-web-pipeline

Fix review suggestions
  metrics/ci_integrations/lib/integration/validation/model/config_field_target_validation_result.dart
  metrics/ci_integrations/lib/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/test/integration/validation/model/config_field_target_validation_result_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Fix
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
Due: metrics-web-pipeline

Fix handleLoggedIn test
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Remove test, improve navigation notifier
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Minor fix
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

[WIP] Improve the Security and Privacy sections
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
Due: metrics-web-pipeline

fix
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

[WIP] Public dashboard feature implementation.
  metrics/core/pubspec.yaml
  metrics/web/__/firebase/init.js
  metrics/web/lib/auth/data/adapter/firebase_user_adapter.dart
  metrics/web/lib/auth/data/repositories/firebase_user_repository.dart
  metrics/web/lib/auth/domain/entities/user.dart
  metrics/web/lib/auth/domain/repositories/user_repository.dart
  metrics/web/lib/auth/domain/usecases/sign_anonymously_use_case.dart
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/auth/presentation/state/auth_notifier.dart
  metrics/web/lib/auth/presentation/widgets/auth_form.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/lib/common/presentation/widgets/platform_brightness_observer.dart
  metrics/web/lib/feature_config/data/model/feature_config_data.dart
  metrics/web/lib/feature_config/domain/entities/feature_config.dart
  metrics/web/lib/feature_config/domain/usecases/fetch_feature_config_usecase.dart
  metrics/web/lib/feature_config/domain/usecases/parameters/feature_config_param.dart
  metrics/web/lib/feature_config/presentation/state/feature_config_notifier.dart
  metrics/web/lib/feature_config/presentation/view_models/public_dashboard_feature_view_model.dart
  metrics/web/lib/main.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/auth/presentation/state/auth_notifier_test.dart
  metrics/web/test/common/presentation/drawer/widget/metrics_drawer_test.dart
  metrics/web/test/common/presentation/widgets/metrics_user_menu_test.dart
  metrics/web/test/common/presentation/widgets/platform_brightness_observer_test.dart
  metrics/web/test/test_utils/auth_notifier_stub.dart
  metrics/web/test/test_utils/signed_in_auth_notifier_stub.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

feat: Handling deep links that require authorization (#1543)
  metrics/web/lib/auth/presentation/pages/login_page.dart
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/pages/loading_page.dart
  metrics/web/test/auth/presentation/pages/login_page_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/common/presentation/pages/loading_page_test.dart
Due: metrics-web-pipeline

[WIP] Implement component diagram
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_architecture_components_diagram.puml
Due: metrics-web-pipeline

Fix review suggestions
  metrics/ci_integrations/lib/integration/validation/model/config_field_target_validation_result.dart
  metrics/ci_integrations/lib/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/test/integration/validation/model/config_field_target_validation_result_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Apply url deep links to the app
  metrics/web/lib/common/presentation/navigation/route_configuration/route_configuration_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/common/presentation/navigation/widgets/page_parameters_proxy.dart
  metrics/web/lib/dashboard/presentation/pages/dashboard_page.dart
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/common/presentation/navigation/route_configuration/route_configuration_factory_test.dart
Due: metrics-web-pipeline

Improve documentation
  metrics/ci_integrations/lib/integration/validation/model/config_field_target_validation_result.dart
Due: ci-integrations-pipeline

Improve documentation
  metrics/ci_integrations/test/integration/validation/model/config_field_target_validation_result_test.dart
Due: ci-integrations-pipeline

feat: Update Buildkite validation to use Metrics Core (#1534)
  metrics/ci_integrations/lib/integration/validation/model/config_field_target_validation_result.dart
  metrics/ci_integrations/lib/source/buildkite/config/model/buildkite_source_config_field.dart
  metrics/ci_integrations/lib/source/buildkite/config/model/buildkite_source_validation_target.dart
  metrics/ci_integrations/lib/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/buildkite/party/buildkite_source_party.dart
  metrics/ci_integrations/test/integration/validation/model/config_field_target_validation_result_test.dart
  metrics/ci_integrations/test/integration/validation/printer/validation_result_printer_test.dart
  metrics/ci_integrations/test/source/buildkite/config/model/buildkite_source_config_field_test.dart
  metrics/ci_integrations/test/source/buildkite/config/model/buildkite_source_validation_target_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/source/buildkite/config/validator_factory/buildkite_source_validator_factory_test.dart
  metrics/ci_integrations/test/source/buildkite/party/buildkite_source_party_test.dart
  metrics/ci_integrations/test/source/jenkins/config/validator/jenkins_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/core_validation_result_builder_mock.dart
Due: ci-integrations-pipeline

[WIP] Implement new component diagram. Add overall class diagram. Rewrite the architecture section.
  metrics/web/docs/features/public_dashboard/01_public_dashboard.md
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_architecture_components_diagram.puml
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_auth_class_diagram.puml
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_feature_config_class_diagram.puml
  metrics/web/docs/features/public_dashboard/diagrams/public_dashboard_overall_class_diagram.puml
Due: metrics-web-pipeline

Minor fixes
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
Due: metrics-web-pipeline

Improve project metrics notifier and tests
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline

Apply filters to deep links
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/lib/dashboard/presentation/pages/dashboard_page.dart
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/dashboard/presentation/page/dashboard_page_test.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
  metrics/web/test/test_utils/project_metrics_notifier_stub.dart
Due: metrics-web-pipeline

Minor improvements
  metrics/web/lib/dashboard/presentation/state/project_metrics_notifier.dart
  metrics/web/test/dashboard/presentation/state/project_metrics_notifier_test.dart
Due: metrics-web-pipeline
