Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

.buildkite/pipelines/trigger_pipeline.yml:

steps:
  - label: "Triggering pipelines"
    branches: "master"
    plugins:
      - chronotc/monorepo-diff#v1.3.0:
          diff: "git diff --name-only HEAD~1"
          watch:
            - path:
                - "metrics/web"
                - "metrics/core"
              config:
                trigger: "metrics-web-pipeline"
                async: true

            - path:
                - "metrics/ci_integrations"
                - "metrics/core"
              config:
                trigger: "ci-integrations-pipeline"
                async: true

            - path:
                - "metrics/coverage_converter"
                - "metrics/core"
              config:
                trigger: "coverage-converter-pipeline"
                async: true

[WIP] add validation result printer tests
  metrics/core/lib/src/features/validation/printer/validation_result_printer.dart
  metrics/core/test/features/validation/printer/validation_result_printer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Relocate validation to util
  metrics/core/lib/src/util/validation/printer/validation_result_printer.dart
  metrics/core/lib/src/util/validation/target_validation_result.dart
  metrics/core/lib/src/util/validation/validation_conclusion.dart
  metrics/core/lib/src/util/validation/validation_result.dart
  metrics/core/lib/src/util/validation/validation_result_builder.dart
  metrics/core/lib/src/util/validation/validation_target.dart
  metrics/core/test/util/validation/printer/validation_result_printer_test.dart
  metrics/core/test/util/validation/target_validation_result_test.dart
  metrics/core/test/util/validation/validation_conclusion_test.dart
  metrics/core/test/util/validation/validation_result_builder_test.dart
  metrics/core/test/util/validation/validation_result_test.dart
  metrics/core/test/util/validation/validation_target_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Remove non-needed generics
  metrics/core/lib/src/util/validation/target_validation_result.dart
  metrics/core/lib/src/util/validation/validation_conclusion.dart
  metrics/core/lib/src/util/validation/validation_result_builder.dart
  metrics/core/lib/src/util/validation/validation_target.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add validation export
  metrics/core/lib/metrics_core.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add validation result printer tests
  metrics/core/lib/src/util/validation/printer/validation_result_printer.dart
  metrics/core/test/util/validation/printer/validation_result_printer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add validation result builder with tests
  metrics/core/lib/src/features/validation/validation_result_builder.dart
  metrics/core/test/features/validation/validation_result_builder_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add `once` matcher
  metrics/core/test/test_utils/matchers.dart
  metrics/core/test/util/validation/printer/validation_result_printer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Improve tests
  metrics/core/test/util/validation/printer/validation_result_printer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Add validation result
  metrics/core/lib/src/features/validation/validation_result.dart
  metrics/core/lib/src/features/validation/validation_result_builder.dart
  metrics/core/test/features/validation/validation_result_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

feat: Implement DashboardPageParametersModel (#1473)
  metrics/web/lib/common/presentation/navigation/models/page_parameters_model.dart
  metrics/web/lib/dashboard/presentation/models/dashboard_page_parameters_model.dart
  metrics/web/test/dashboard/presentation/models/dashboard_page_parameters_model_test.dart
Due: metrics-web-pipeline

Review suggestions
  metrics/web/docs/features/storybook/01_metrics_storybook_design.md
  metrics/web/docs/features/storybook/diagrams/architecture_components_diagram.puml
  metrics/web/docs/features/storybook/diagrams/class_diagram.puml
  metrics/web/docs/features/storybook/diagrams/metrics_storybook_architecture_components_diagram.puml
  metrics/web/docs/features/storybook/diagrams/metrics_widgets_structure_diagram.puml
  metrics/web/docs/features/storybook/diagrams/sequence_diagram.puml
  metrics/web/docs/features/storybook/diagrams/stories_class_diagram.puml
  metrics/web/docs/features/storybook/diagrams/user_interface_diagram.puml
  metrics/web/docs/features/storybook/diagrams/web_relation_diagram.puml
Due: metrics-web-pipeline

Improve validation result printer
  metrics/core/lib/src/util/validation/printer/validation_result_printer.dart
  metrics/core/lib/src/util/validation/target_validation_result.dart
  metrics/core/test/util/validation/printer/validation_result_printer_test.dart
  metrics/core/test/util/validation/target_validation_result_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Improve validation result printer
  metrics/core/lib/src/util/validation/printer/validation_result_printer.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Resolve PR suggestions.
  metrics/cli/lib/services/common/auth_service.dart
  metrics/cli/lib/services/common/cli/auth_cli.dart
  metrics/cli/lib/services/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/services/firebase/cli/firebase_cli.dart
  metrics/cli/lib/services/firebase/firebase_service.dart
  metrics/cli/lib/services/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/services/sentry/cli/sentry_cli.dart
  metrics/cli/lib/services/sentry/sentry_service.dart
  metrics/cli/test/services/common/auth_cli_test.dart
Due: none

Add page parameters factory and tests.
  metrics/web/lib/common/presentation/injector/widget/injection_container.dart
  metrics/web/lib/common/presentation/navigation/models/factory/page_parameters_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/metrics_page/metrics_page_factory_test.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/models/factory/page_parameters_factory_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
  metrics/web/test/test_utils/route_name_mock.dart
Due: metrics-web-pipeline

Add one more test for the page parameters factory. Update docs.
  metrics/web/lib/common/presentation/navigation/models/factory/page_parameters_factory.dart
  metrics/web/test/common/presentation/navigation/models/factory/page_parameters_factory_test.dart
Due: metrics-web-pipeline

Improve validation diagram
  metrics/cli/docs/features/doctor_output_improvements/diagrams/validation_class_diagram.puml
Due: none

Add equatable to target validation result
  metrics/core/lib/src/util/validation/target_validation_result.dart
  metrics/core/test/util/validation/target_validation_result_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

Update config validator to use metrics core
  metrics/ci_integrations/lib/integration/interface/base/config/validator/config_validator.dart
  metrics/ci_integrations/lib/integration/validation/model/config_field_validation_conclusion.dart
Due: ci-integrations-pipeline

Fix tests
  metrics/ci_integrations/test/cli/command/validate_command_test.dart
  metrics/ci_integrations/test/destination/firestore/party/firestore_destination_party_test.dart
  metrics/ci_integrations/test/source/buildkite/party/buildkite_source_party_test.dart
  metrics/ci_integrations/test/source/github_actions/party/github_actions_source_party_test.dart
  metrics/ci_integrations/test/source/jenkins/party/jenkins_source_party_test.dart
Due: ci-integrations-pipeline

Add validation stubs
  metrics/ci_integrations/lib/integration/stub/base/config/validation_delegate/validation_delegate_stub.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator/config_validator_stub.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator/validator_stub.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator_factory/config_validator_factory_stub.dart
  metrics/ci_integrations/lib/integration/stub/base/config/validator_factory/validator_factory_stub.dart
Due: ci-integrations-pipeline

Update firestore validation to use stubs
  metrics/ci_integrations/lib/destination/firestore/config/validator/firestore_destination_validator.dart
  metrics/ci_integrations/lib/destination/firestore/config/validator_factory/firestore_destination_validator_factory.dart
  metrics/ci_integrations/lib/destination/firestore/party/firestore_destination_party.dart
Due: ci-integrations-pipeline

Update buildkite validation to use stubs
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator_factory/buildkite_source_validator_factory.dart
  metrics/ci_integrations/lib/source/buildkite/party/buildkite_source_party.dart
Due: ci-integrations-pipeline

Fix tests
  metrics/ci_integrations/test/integration/stub/base/config/validator/config_validator_stub_test.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator/validator_stub_test.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator_factory/config_validator_factory_stub_test.dart
  metrics/ci_integrations/test/integration/stub/base/config/validator_factory/validator_factory_stub_test.dart
Due: ci-integrations-pipeline

Update github validation to use stubs
  metrics/ci_integrations/lib/source/github_actions/config/validator/github_actions_source_validator.dart
  metrics/ci_integrations/lib/source/github_actions/config/validator_factory/github_actions_source_validator_factory.dart
  metrics/ci_integrations/lib/source/github_actions/party/github_actions_source_party.dart
Due: ci-integrations-pipeline

Update jenkins validation to use stubs
  metrics/ci_integrations/lib/source/jenkins/config/validator/jenkins_source_validator.dart
  metrics/ci_integrations/lib/source/jenkins/config/validator_factory/jenkins_source_validator_factory.dart
  metrics/ci_integrations/lib/source/jenkins/party/jenkins_source_party.dart
Due: ci-integrations-pipeline

Update validate command to use metrics core
  metrics/ci_integrations/lib/cli/command/validate_command.dart
Due: ci-integrations-pipeline

Update buildkite source validation delegate with tests
  metrics/ci_integrations/lib/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate.dart
  metrics/ci_integrations/test/source/buildkite/config/validation_delegate/buildkite_source_validation_delegate_test.dart
Due: ci-integrations-pipeline

[WIP] Update buildkite source validator tests
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
Due: ci-integrations-pipeline

Update buildkite source validation target with tests
  metrics/ci_integrations/lib/source/buildkite/config/model/buildkite_source_config_field.dart
  metrics/ci_integrations/lib/source/buildkite/config/model/buildkite_source_validation_target.dart
  metrics/ci_integrations/test/source/buildkite/config/model/buildkite_source_config_field_test.dart
  metrics/ci_integrations/test/source/buildkite/config/model/buildkite_source_validation_target_test.dart
Due: ci-integrations-pipeline

Update buildkite source validator
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
Due: ci-integrations-pipeline

Update buildkite source validator tests
  metrics/ci_integrations/lib/integration/validation/model/config_field_validation_conclusion.dart
  metrics/ci_integrations/lib/source/buildkite/config/validator/buildkite_source_validator.dart
  metrics/ci_integrations/test/source/buildkite/config/validator/buildkite_source_validator_test.dart
  metrics/ci_integrations/test/test_utils/mock/validation_result_builder_mock.dart
Due: ci-integrations-pipeline

Resolve PR suggestions x2.
  metrics/cli/lib/services/common/auth_service.dart
  metrics/cli/lib/services/common/cli/auth_cli.dart
  metrics/cli/lib/services/sentry/cli/sentry_cli.dart
  metrics/cli/test/services/common/auth_cli_test.dart
Due: none

Resolve suggestions
  metrics/web/lib/common/presentation/navigation/models/factory/page_parameters_factory.dart
  metrics/web/lib/common/presentation/navigation/state/navigation_notifier.dart
  metrics/web/test/common/presentation/navigation/metrics_router_delegate_test.dart
  metrics/web/test/common/presentation/navigation/models/factory/page_parameters_factory_test.dart
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Resolve suggestions
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
Due: none

Minor fix
  metrics/web/test/common/presentation/navigation/state/navigation_notifier_test.dart
Due: metrics-web-pipeline

Minor improvements
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
Due: none

fix typos
  metrics/cli/docs/features/doctor_output_improvements/01_doctor_output_improvements.md
Due: none

Update diagram
  metrics/cli/docs/features/doctor_output_improvements/diagrams/ci_integrations_validator_class_diagram.puml
Due: none

Improve documentation
  metrics/cli/lib/services/common/auth_service.dart
  metrics/cli/lib/services/common/cli/auth_cli.dart
  metrics/cli/lib/services/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/services/firebase/firebase_service.dart
  metrics/cli/lib/services/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/services/sentry/sentry_service.dart
  metrics/cli/test/services/common/auth_cli_test.dart
  metrics/cli/test/services/firebase/adapter/firebase_cli_service_adapter_test.dart
  metrics/cli/test/services/sentry/adapter/sentry_cli_service_adapter_test.dart
Due: none
