Repository Flank/flank-dashboard: changes, and which Buildkite steps are due for each by the changed paths.
All: metrics-web-pipeline, ci-integrations-pipeline, coverage-converter-pipeline

metrics-web-pipeline:
  trigger: metrics-web-pipeline
  async: true

ci-integrations-pipeline:
  trigger: ci-integrations-pipeline
  async: true

coverage-converter-pipeline:
  trigger: coverage-converter-pipeline
  async: true

Improve tests
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
Due: ci-integrations-pipeline

Implement security rules for the “tasks” collection
  metrics/firebase/firestore/rules/firestore.rules
  metrics/firebase/test/firestore/rules/tasks-test.js
  metrics/firebase/test/firestore/rules/test_utils/test-data.js
Due: none

Implement SentryService
  docs/16_dependencies_licenses.md
  metrics/cli/lib/common/factory/services_factory.dart
  metrics/cli/lib/common/model/services.dart
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/factory/deployer_factory.dart
  metrics/cli/lib/deploy/strings/deploy_strings.dart
  metrics/cli/lib/doctor/doctor.dart
  metrics/cli/lib/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/sentry/constants/sentry_constants.dart
  metrics/cli/lib/sentry/model/sentry_project.dart
  metrics/cli/lib/sentry/service/sentry_service.dart
  metrics/cli/lib/sentry/strings/sentry_strings.dart
  metrics/cli/pubspec.yaml
  metrics/cli/test/common/factory/services_factory_test.dart
  metrics/cli/test/common/model/services_test.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/deploy/factory/deployer_factory_test.dart
  metrics/cli/test/doctor/doctor_test.dart
  metrics/cli/test/doctor/factory/doctor_factory_test.dart
  metrics/cli/test/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/sentry/strings/sentry_strings_test.dart
  metrics/cli/test/test_utils/file_helper_mock.dart
  metrics/cli/test/test_utils/sentry_service_mock.dart
Due: none

Minor improvements
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/strings/deploy_strings.dart
  metrics/cli/lib/doctor/doctor.dart
  metrics/cli/lib/sentry/service/sentry_service.dart
  metrics/cli/lib/sentry/strings/sentry_strings.dart
  metrics/cli/test/common/factory/services_factory_test.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/sentry/strings/sentry_strings_test.dart
Due: none

Implement security rules for the “tasks” collection (#1311)
  metrics/firebase/firestore/rules/firestore.rules
  metrics/firebase/test/firestore/rules/tasks-test.js
  metrics/firebase/test/firestore/rules/test_utils/test-data.js
Due: none

Implement security rules for the “build_days” collection
  metrics/firebase/firestore/rules/firestore.rules
  metrics/firebase/test/firestore/rules/build-days-test.js
  metrics/firebase/test/firestore/rules/test_utils/test-data.js
Due: none

Minor fix
  metrics/firebase/test/firestore/rules/build-days-test.js
Due: none

Rollback integration
  metrics/cli/lib/common/factory/services_factory.dart
  metrics/cli/lib/common/model/services.dart
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/deploy/factory/deployer_factory.dart
  metrics/cli/lib/deploy/strings/deploy_strings.dart
  metrics/cli/lib/doctor/doctor.dart
  metrics/cli/test/common/factory/services_factory_test.dart
  metrics/cli/test/common/model/services_test.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/deploy/factory/deployer_factory_test.dart
  metrics/cli/test/doctor/doctor_test.dart
  metrics/cli/test/doctor/factory/doctor_factory_test.dart
  metrics/cli/test/test_utils/firebase_service_mock.dart
Due: none

feat: Implement security rules for the “build_days” collection (#1310)
  metrics/firebase/firestore/rules/firestore.rules
  metrics/firebase/test/firestore/rules/build-days-test.js
  metrics/firebase/test/firestore/rules/test_utils/test-data.js
Due: none

Minor documentation improvements
  metrics/cli/lib/sentry/constants/sentry_constants.dart
Due: none

Update BuildData deserialization
  metrics/ci_integrations/lib/data/deserializer/build_data_deserializer.dart
  metrics/ci_integrations/test/data/deserializer/build_data_deserializer_test.dart
Due: ci-integrations-pipeline

Minor fix
  metrics/ci_integrations/lib/data/deserializer/build_data_deserializer.dart
Due: ci-integrations-pipeline

Improve deserializer for web
  metrics/web/lib/dashboard/data/deserializer/build_data_deserializer.dart
  metrics/web/test/dashboard/data/deserializer/build_data_deserializer_test.dart
Due: metrics-web-pipeline

Improve doc
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
Due: ci-integrations-pipeline

fix: Update BuildData deserialization (#1315)
  metrics/ci_integrations/lib/data/deserializer/build_data_deserializer.dart
  metrics/ci_integrations/test/data/deserializer/build_data_deserializer_test.dart
  metrics/web/lib/dashboard/data/deserializer/build_data_deserializer.dart
  metrics/web/test/dashboard/data/deserializer/build_data_deserializer_test.dart
Due: metrics-web-pipeline, ci-integrations-pipeline

feat: `FirestoreDestinationClientAdapter` error handling (#1303)
  metrics/ci_integrations/lib/destination/firestore/adapter/firestore_destination_client_adapter.dart
  metrics/ci_integrations/test/destination/firestore/adapter/firestore_destination_client_adapter_test.dart
Due: ci-integrations-pipeline

Fix review suggestions
  metrics/cli/lib/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/sentry/cli/sentry_cli.dart
  metrics/cli/lib/sentry/constants/sentry_constants.dart
  metrics/cli/lib/sentry/model/sentry_project.dart
  metrics/cli/lib/sentry/model/sentry_release.dart
  metrics/cli/lib/sentry/model/source_map.dart
  metrics/cli/lib/sentry/service/sentry_service.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/sentry/model/sentry_release_test.dart
  metrics/cli/test/sentry/model/source_map_test.dart
  metrics/cli/test/test_utils/file_helper_mock.dart
  metrics/cli/test/test_utils/sentry_service_mock.dart
Due: none

Minor improvements
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/ci/sync_stage/factory/sync_stages_factory.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
Due: ci-integrations-pipeline

Minor improvement
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
Due: ci-integrations-pipeline

feat: Implement SyncStagesFactory (#1304)
  metrics/ci_integrations/lib/cli/command/sync_command.dart
  metrics/ci_integrations/lib/integration/ci/ci_integration.dart
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/in_progress_builds_sync_stage.dart
  metrics/ci_integrations/lib/integration/ci/sync_stage/builds/new_builds_sync_stage.dart
  metrics/ci_integrations/lib/integration/ci/sync_stage/factory/sync_stages_factory.dart
  metrics/ci_integrations/test/integration/ci/ci_integration_test.dart
  metrics/ci_integrations/test/integration/ci/sync_stage/builds/in_progress_builds_sync_stage_test.dart
  metrics/ci_integrations/test/integration/ci/sync_stage/factory/sync_stages_factory_test.dart
Due: ci-integrations-pipeline

Update documentation
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/sentry/model/sentry_release.dart
  metrics/cli/lib/sentry/service/sentry_service.dart
Due: none

Add sequence diagram
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_sequence_diagram.puml
Due: metrics-web-pipeline

Fix stream name in diagrams
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
Due: metrics-web-pipeline

Fix links
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
Due: metrics-web-pipeline

Add Builds Aggregation design doc
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_presentation_layer_class_diagram.puml
Due: metrics-web-pipeline

Document improvements
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_presentation_layer_class_diagram.puml
Due: metrics-web-pipeline

Fix diagrams links
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
Due: metrics-web-pipeline

Fix diagrams
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
Due: metrics-web-pipeline

Minor fixes
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_sequence_diagram.puml
Due: metrics-web-pipeline

Add correct links
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
Due: metrics-web-pipeline

Fix diagrams and structure of the doc
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_presentation_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_sequence_diagram.puml
Due: metrics-web-pipeline

Minor fixes
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_presentation_layer_class_diagram.puml
Due: metrics-web-pipeline

Review suggestions
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_data_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_presentation_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_sequence_diagram.puml
Due: metrics-web-pipeline

Minor fix
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
Due: metrics-web-pipeline

Add manual steps to the FirebaseCliServiceAdapter
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/common/constants/config_constants.dart
  metrics/cli/lib/deploy/constants/deploy_constants.dart
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/firebase/service/firebase_service.dart
  metrics/cli/lib/firebase/strings/firebase_strings.dart
  metrics/cli/lib/gcloud/adapter/gcloud_cli_service_adapter.dart
  metrics/cli/lib/gcloud/service/gcloud_service.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/firebase/adapter/firebase_cli_service_adapter_test.dart
  metrics/cli/test/gcloud/adapter/gcloud_cli_service_adapter_test.dart
  metrics/cli/test/test_utils/firebase_service_mock.dart
Due: none

Minor improvements
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
  metrics/cli/lib/deploy/deployer.dart
  metrics/cli/lib/firebase/adapter/firebase_cli_service_adapter.dart
  metrics/cli/lib/firebase/service/firebase_service.dart
  metrics/cli/lib/firebase/strings/firebase_strings.dart
  metrics/cli/lib/gcloud/strings/gcloud_strings.dart
  metrics/cli/test/deploy/deployer_test.dart
  metrics/cli/test/firebase/adapter/firebase_cli_service_adapter_test.dart
Due: none

Minor fixes in diagrams
  metrics/web/docs/features/builds_aggregation/01_builds_aggregation_design.md
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_presentation_layer_class_diagram.puml
Due: metrics-web-pipeline

Fix property name in the ProjectIdParam
  metrics/web/docs/features/builds_aggregation/diagrams/build_days_domain_layer_class_diagram.puml
Due: metrics-web-pipeline

Fix review suggestions
  metrics/cli/docs/01_metrics_cli_design.md
  metrics/cli/lib/sentry/adapter/sentry_cli_service_adapter.dart
  metrics/cli/lib/sentry/cli/sentry_cli.dart
  metrics/cli/lib/sentry/service/sentry_service.dart
  metrics/cli/test/sentry/adapter/sentry_cli_service_adapter_test.dart
  metrics/cli/test/sentry/model/sentry_project_test.dart
  metrics/cli/test/sentry/model/sentry_release_test.dart
  metrics/cli/test/sentry/model/source_map_test.dart
Due: none

Improve documentation
  metrics/cli/docs/diagrams/deploy_command_class_diagram.puml
  metrics/cli/docs/diagrams/deploy_command_sequence_diagram.puml
  metrics/cli/docs/diagrams/doctor_command_class_diagram.puml
  metrics/cli/docs/diagrams/services_class_diagram.puml
Due: none

Path conditions:
  metrics-web-pipeline: any of: metrics/web, metrics/core
  ci-integrations-pipeline: any of: metrics/ci_integrations, metrics/core
  coverage-converter-pipeline: any of: metrics/coverage_converter, metrics/core
